<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-OutlierInquiry,Admin-OutlierUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.audit.criteria.hs']}" />
	<ui:param name="page" value="HealthServiceIndex" />
	<ui:param name="menuId" value="title.audit.criteria.hs" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.criteria.hs']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="hsTabSet" binding="#{hsProxyTabSet}" immediate="true"
				tabChangeListener="#{healthServiceGroupsController.healthServiceTabChangeListener}">
				<ace:tabPane label="#{msgs['button.hs.edit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="editHSGroupsView">
						<ui:include src="SearchEditHSGroups.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.hs.create']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
					<f:subview id="createHSGroupsView">
						<ui:include src="CreateNewHSGroup.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.hs.not.in.group']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="viewServicesNotInGroupView">
						<ui:include src="ViewServicesNotInGroup.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>