<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-3 col-md-2" />
	<ui:param name="inputStyle" value="col-xs-6 col-sm-3 col-md-2" />

	<!-- modified style for dropdown menu for search style select -->
	<ui:param name="selectOneLabelStyle" value="col-xs-12 col-sm-1 col-md-1" />
	<ui:param name="selectOneInputStyle" value="col-xs-6 col-sm-1 col-md-3" />

	<mbs:panel header="#{msgs['header.hs.groups.maint.plural']}" id="searchHSGroupPanel">
		<h:form id="healthServiceSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{healthServiceGroupsController.executeHealthServiceGroupSearch}" key="Enter"/>
			
			<ace:tabSetProxy id="searchEditHsTab" for="#{hsProxyTabSet.clientId}" />

			<!-- Search style selection step 1 (Choose to search by HS group or HS) -->
			<h:panelGroup id="searchStyleSelectionWrapper">
				<h4>#{msgs['header.hs.groups.search.option']}</h4>
				<mbs:selectOneMenu value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.searchTypeSelection}"
					id="searchTypeDrp" label="" labelStyleClass="#{selectOneLabelStyle}" inputStyleClass="#{selectOneInputStyle}">
					<f:selectItems value="#{healthServiceGroupsController.healthServiceGroupSearchTypes}" var="option"
						itemLabel="#{option.label}" itemValue="#{option}" />
					<f:ajax event="change" listener="#{healthServiceGroupsController.displayHsSearchForm}" />
				</mbs:selectOneMenu>
			</h:panelGroup>

			<!-- Search by HealthService Group panel (Step 2) -->
			<h:panelGroup id="healthServiceGroupSearchWrapper" styleClass="hide-elements">
				<!-- HealthService Group ID text -->
				<mbs:input id="hsGroupIDTxt" label="#{msgs['label.hs.groups.hs.group.id']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}"
					value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.healthServiceGroupId}" maxlength="6"
					fAttributeName="disableGrouping" fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- HealthService Group Name text -->
				<mbs:input id="hsGroupNameTxt" label="#{msgs['label.hs.groups.hs.group.name']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}"
					value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.healthServiceGroupName}" maxlength="40" />
			</h:panelGroup>

			<!-- Search by Health Service panel (Step 2) -->
			<h:panelGroup id="healthServicesSearchWrapper" styleClass="hide-elements">
				<!-- Program dropdown -->
				<mbs:selectOneMenu id="hsProgramDrp" label="#{msgs['label.hs.groups.hs.program']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}"
					value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.healthServiceProgram}">
					<f:selectItems value="#{healthServiceGroupsController.programDropdownItems}" var="option"
						itemLabel="#{option.programName}" itemValue="#{option.programCode}" />
				</mbs:selectOneMenu>

				<!-- HealthService Code text -->
				<mbs:input id="hsCodeTxt" label="#{msgs['label.hs.groups.hs.code']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}"
					value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.healthServiceCode}" maxlength="5" />
				
				<!-- JTRAX-53 07-FEB-18 BCAINNE  -->
				<!-- Qualifier -->																			
				<mbs:selectOneMenu id="hsQualifierTxt" label="#{msgs['common.label.qualifier']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.healthServiceQualifier}">
				<f:selectItems value="#{healthServiceGroupsController.qualifiers.entrySet()}" var="item" itemLabel="#{item.key}"
					itemValue="#{item.key}" for="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.healthServiceQualifier}" />
				</mbs:selectOneMenu>					

				<!-- Description Word Search text -->
				<mbs:input id="hsDescriptionTxt" label="#{msgs['label.hs.groups.hs.desc.word']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}"
					value="#{healthServiceGroupsController.healthServiceGroupSearchCriteira.descriptionWord}" maxlength="255" />
			</h:panelGroup>

			<!-- Button bar (Displayed on step 2 for both searches) -->
			<mbs:commandButtonBar id="healthServicesBtnPanel" styleClass="hide-elements">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
					action="#{healthServiceGroupsController.executeHealthServiceGroupSearch}" />
				<mbs:commandButton value="#{msgs['button.clear']}" type="danger" size="sm"
					action="#{healthServiceGroupsController.executeResetSearchHealthServiceGroupSearch}" immediate="true" />
				<mbs:commandButton id="healthServiceSearchBackBtn"
					action="#{healthServiceGroupsController.displayHsSearchSelection}" value="#{msgs['button.back']}" type="danger"
					size="sm" />
			</mbs:commandButtonBar>

			<!-- Displays Health Service Group search results -->
			<h:panelGroup id="hsGroupSearchResults"
				styleClass="#{healthServiceGroupsController.displayHSGSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText
						value="#{msgs['header.common.search.results']}: #{healthServiceGroupsController.totalHealthServiceGroups}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" lazy="true" paginatorPosition="bottom" var="row"
					id="hsgSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{healthServiceGroupsController.healthServiceGroupSearchResults}"
					emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Health Service Group ID column -->
					<ace:column id="hsGroupIdCol" headerText="#{msgs['label.hs.groups.hs.group.id']}"
						sortBy="#{row.healthServiceGroupId}">
						<h:outputText value="#{row.healthServiceGroupId}" />
					</ace:column>
					<!-- Health Service Group Name column -->
					<ace:column id="hsGroupNameCol" headerText="#{msgs['label.hs.groups.hs.group.name']}"
						sortBy="#{row.healthServiceGroupName}">
						<h:outputText value="#{row.healthServiceGroupName}" />
					</ace:column>
					<!-- Edit button column -->
					<ace:column id="hsGroupEditCol" headerText="">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton action="#{healthServiceGroupsController.initiateEditHealthServiceGroup(row)}"
								value="#{msgs['button.edit']}" type="primary" size="xs" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- HealthServiceGroup detail wrapper -->
		<h:panelGroup id="hsGroupDetailsWrapper" styleClass="hide-elements">
			<h:form id="hsGroupDetailsForm" styleClass="form-horizontal">
				<!-- Group Name field -->
				<mbs:input id="hsGroupName" label="#{msgs['label.hs.groups.hs.group.name']}" required="true"
					labelStyleClass="col-xs-12 col-sm-3 col-md-2 " inputStyleClass="col-xs-6 col-sm-3 col-md-4"
					value="#{healthServiceGroupsController.selectedHealthServiceGroup.healthServiceGroupName}" maxlength="40" />

				<!-- Health Service Group ID field (Read Only) -->
				<mbs:input label="#{msgs['label.hs.groups.hs.group.id']}" id="hsGroupId"
					labelStyleClass="col-xs-12 col-sm-3 col-md-2 " inputStyleClass="col-xs-6 col-sm-3 col-md-4"
					value="#{healthServiceGroupsController.selectedHealthServiceGroup.healthServiceGroupId}" displayValidState="false"
					disabled="true" />

				<!-- Modified By field -->
				<mbs:input label="#{msgs['common.label.modified.by']}" id="hsGroupModBy"
					labelStyleClass="col-xs-12 col-sm-3 col-md-2 " inputStyleClass="col-xs-6 col-sm-3 col-md-4"
					value="#{healthServiceGroupsController.selectedHealthServiceGroup.modifiedBy}" displayValidState="false"
					disabled="true" />

				<!-- Last Modified -->
				<mbs:input label="#{msgs['common.label.last.modified']}" id="hsGroupLastMod"
					labelStyleClass="col-xs-12 col-sm-3 col-md-2 " inputStyleClass="col-xs-6 col-sm-3 col-md-4"
					value="#{healthServiceGroupsController.selectedHealthServiceGroup.lastModifiedString}" displayValidState="false"
					disabled="true" />

				<!-- Button bar for HealthServiceGroup form -->
				<mbs:commandButtonBar id="hsGroupEditBtnTopBar">
					<mbs:commandButton id="hsGroupSaveBtn" value="#{msgs['button.save']}" type="primary" size="sm"
						action="#{healthServiceGroupsController.executeSaveHealthServiceGroup}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />
					<mbs:commandButton id="hsGroupEditResetBtn" value="#{msgs['common.label.cancel.back.to.search']}" type="danger"
						immediate="true" size="sm" action="#{healthServiceGroupsController.executeReturnToHealthServiceSearch}" />
				</mbs:commandButtonBar>
			</h:form>

			<hr />
			<h4>#{msgs['header.hs.groups.codes.plural']}</h4>

			<!-- Add New HealthServiceCode search panel -->
			<h:form id="addNewHSForm" styleClass="form-horizontal">
				<!-- JTRAX-62 07-MAR-18 BCAINNE -->
				<icecore:defaultAction action="#{healthServiceGroupsController.executeHealthServiceCodeSearch}" key="Enter"/>			
			
				<div class="panel panel-primary" id="expandAddNewHSPanel">
					<div class="panel-heading expandDiv" id="manageAddNewHSHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandAddHS" class="fa fa-plus-circle"></i> #{msgs['header.hs.groups.add.hsc']}
						</div>
					</div>
					<div id="addHSBody" class="panel-body hide-elements">
						<div class="row">
							<div class="col-xs-12 col-sm-4">
								<!-- Program dropdown -->
								<mbs:selectOneMenu id="searchHsProgramDrp" label="#{msgs['label.hs.groups.hs.program']}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
									value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.program}">
									<f:selectItems value="#{healthServiceGroupsController.programDropdownItems}" var="option"
										itemLabel="#{option.programName}" itemValue="#{option.programCode}" />
								</mbs:selectOneMenu>

								<!-- MSI Fee Code field -->
								<mbs:input id="searchHsMsiFeeCodeTxt" label="#{msgs['label.hs.groups.msi.code']}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
									value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.msiFeeCode}" maxlength="5" />

								<!-- HSC Description field -->
								<mbs:input id="searchHsDescriptionTxt" label="#{msgs['label.hs.groups.hsc.desc']}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
									value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.healthServiceCodeDesc}" maxlength="255" />

								<!-- Modifier dropdown -->
								<mbs:richSelectManyMenu id="searchHsModifierDrp" label="#{msgs['common.label.modifiers']}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
									value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.modifiers}">
									<f:selectItems value="#{healthServiceGroupsController.modifierDropdownItems}" var="option"
										itemLabel="#{option.modifier}" itemValue="#{option.modifier}" />
								</mbs:richSelectManyMenu>		

							</div>
							<div class="col-xs-12 col-sm-4">
								
								<!-- Implicit Modifier dropdown -->
								<mbs:richSelectManyMenu id="searchHsImpModifierDrp" label="#{msgs['common.label.implicit.modifiers']}"
									labelStyleClass="col-xs-12 col-sm-4 col-md-5" inputStyleClass="col-xs-6 col-sm-4 col-md-5"
									value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.implicitModifiers}">
									<f:selectItems value="#{healthServiceGroupsController.implicitModifierDropdownItems}" var="option"
										itemLabel="#{option.modifier}" itemValue="#{option.modifier}" />
								</mbs:richSelectManyMenu>
								
									<!-- HealthServiceCode -->
									<mbs:input id="searchHsCodeTxt" label="#{msgs['label.hs.groups.hs.code']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-5" inputStyleClass="col-xs-6 col-sm-4 col-md-5"
										value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.healthServiceCode}" maxlength="5" />

									<!-- Qualifier -->																			
									<mbs:selectOneMenu id="searchHsQualifierTxt" label="#{msgs['common.label.qualifier']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-5" inputStyleClass="col-xs-6 col-sm-4 col-md-5"
										value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.qualifier}">
									<f:selectItems value="#{healthServiceGroupsController.qualifiers.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.qualifier}" />
									</mbs:selectOneMenu>

									<!-- Effective from Date field drop down from health service table -->								
										
									<mbs:selectOneMenu id="searchHsEffectiveTxt" label="#{msgs['label.hs.groups.effective']}"
										value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.effectiveDateStr}" 
										labelStyleClass="col-xs-12 col-sm-4 col-md-5" inputStyleClass="col-xs-6 col-sm-4 col-md-5">
									<f:selectItems value="#{healthServiceGroupsController.hsEffectiveDateDropDown.entrySet()}" var="item"
										itemLabel="#{item.key}" itemValue="#{item.value}"
										for="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.effectiveDateStr}" />
									</mbs:selectOneMenu>
										

							</div>
							<div class="col-xs-12 col-sm-4">
								<mbs:fieldset header="#{msgs['header.hs.groups.group.filter']}" id="groupFilterSet">
									<!-- Group filter radio btn -->
									<mbs:selectOneRadio value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.serviceInGroup}"
										layout="lineDirection" offsetStyleClass="col-xs-12 col-sm-8 col-md-12" id="groupFilterSelectOne">
										<f:selectItems value="#{healthServiceGroupsController.healthServiceCodeGroupFilters}" var="option"
											itemLabel="#{option.label}" itemValue="#{option.booleanValue}" />
										<f:ajax event="click"
											render="
										:editHSGroupsView:searchHSGroupPanel:addNewHSForm:groupFilterSet:fieldsetCtr" />
									</mbs:selectOneRadio>

									<!-- Group Filter effective from -->
									<mbs:calendar id="searchHsFilterEffectiveFromTxt" label="#{msgs['common.label.effective.from']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-4" showOn="both"
										disabled="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.serviceInGroup}"
										inputStyleClass="col-xs-6 col-sm-8 col-md-8" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
										value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.groupFilterFromDate}" />

									<!-- Group Filter effective to -->
									<mbs:calendar id="searchHsFilterEffectiveToTxt" label="#{msgs['common.label.effective.to']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
										disabled="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.serviceInGroup}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" showOn="both"
										value="#{healthServiceGroupsController.healthServiceCodeSearchCriteria.groupFilterToDate}" />
								</mbs:fieldset>
							</div>
						</div>
						<!-- Button bar for the HealthServiceCode search form -->
						<mbs:commandButtonBar id="healthServiceCodeSearchBtnBar">
							<mbs:commandButton id="searchHSCBtn" value="Search" type="primary" size="sm"
								action="#{healthServiceGroupsController.executeHealthServiceCodeSearch}" />
							<mbs:commandButton id="resetHSCSearchBtn" value="Clear" type="danger" size="sm"
								action="#{healthServiceGroupsController.clearHSSearchForm}" immediate="true" onclick="clearRichSelectElement()" />
						</mbs:commandButtonBar>
					</div>
				</div>
			</h:form>

			<!-- Health Service Code table form -->
			<h:form id="healthServiceCodeForm">
				<ace:dataTable id="hsGroupCodesTable" var="row" styleClass="table-horizontal-adjustment" rows="15" paginator="true"
					paginatorPosition="bottom" value="#{healthServiceGroupsController.selectedHealthServiceGroup.healthServiceCodes}"
					selectionMode="multiple" stateMap="#{healthServiceGroupsController.healthServiceCodesInGroupStateMap}"
					emptyMessage="#{msgs['common.label.no.data']}">

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- HSC header -->
					<ace:column id="hscCol" headerText="#{msgs['common.label.hsc']}"
						filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains"
						sortBy="#{row.healthServiceCode}#{row.qualifier}">
						<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
					</ace:column>

					<!-- Program column -->
					<ace:column id="hscProgramCol" headerText="#{msgs['label.hs.groups.hs.program']}" stacked="true"
						filterBy="#{row.program}" filterMatchMode="contains" sortBy="#{row.program}">
						<h:outputText value="#{row.program}" />
					</ace:column>

					<!-- Description column -->
					<ace:column id="hscDescriptionCol" headerText="#{msgs['common.label.description']}" filterBy="#{row.description}"
						filterMatchMode="contains" sortBy="#{row.description}">
						<h:outputText value="#{row.description}" />
					</ace:column>
					<!-- Modifiers column -->
					<ace:column id="hscModifiersCol" headerText="#{msgs['common.label.modifiers']}" stacked="true"
						filterBy="#{row.modifiers}" filterMatchMode="contains" sortBy="#{row.modifiers}">
						<h:outputText value="#{row.modifiers}" />
					</ace:column>
					<!-- Implicit Modifiers column -->
					<ace:column id="hscImpModifiersCol" headerText="#{msgs['common.label.implicit.modifiers']}" stacked="true"
						filterBy="#{row.implicitModifiers}" filterMatchMode="contains" sortBy="#{row.implicitModifiers}">
						<h:outputText value="#{row.implicitModifiers}" />
					</ace:column>

					<!-- Effective From column -->
					<ace:column id="hscEffectiveFromCol" headerText="#{msgs['common.label.effective.from']}"
						filterBy="#{row.effectiveFromString}" filterMatchMode="contains" sortBy="#{row.effectiveFrom}">
						<h:outputText value="#{row.effectiveFromString}" />
					</ace:column>
					<!-- Category column -->
					<ace:column id="hscCategoryCol" headerText="#{msgs['common.label.hsc.category']}" stacked="true"
						filterBy="#{row.category}" filterMatchMode="contains" sortBy="#{row.category}">
						<h:outputText value="#{row.category}" />
					</ace:column>
					<!-- Unit Formula column -->
					<ace:column id="hscFormulaCol" headerText="#{msgs['label.hs.groups.formula']}" stacked="true"
						filterBy="#{row.unitFormula}" filterMatchMode="contains" sortBy="#{row.unitFormula}">
						<h:outputText value="#{row.unitFormula}" />
					</ace:column>

					<!-- Effective To column -->
					<ace:column id="hscEffectiveToCol" rowspan="3" headerText="#{msgs['common.label.effective.to']}"
						filterBy="#{row.effectiveToString}" filterMatchMode="contains" sortBy="#{row.effectiveTo}">
						<h:outputText value="#{row.effectiveToString}" />
					</ace:column>

					<!-- Modified By column -->
					<ace:column id="hscModifiedByCol" headerText="#{msgs['common.label.modified.by']}" filterBy="#{row.modifiedBy}"
						filterMatchMode="contains" sortBy="#{row.modifiedBy}">
						<h:outputText value="#{row.modifiedBy}" />
					</ace:column>
					<!-- Last Modified column -->
					<ace:column id="hscLastModifiedCol" headerText="#{msgs['common.label.last.modified']}" stacked="true"
						filterBy="#{row.lastModifiedString}" filterMatchMode="contains" sortBy="#{row.lastModified}">
						<h:outputText value="#{row.lastModifiedString}" />
					</ace:column>
				</ace:dataTable>

				<!-- Button bar for the HealthServiceCode form -->
				<mbs:commandButtonBar id="healthServiceCodeBtnBar">
					<mbs:commandButton id="deleteSelectedHSCBtn" value="#{msgs['button.hs.groups.delete.selected.hsc']}" type="danger"
						size="sm" action="#{healthServiceGroupsController.deleteSelectedHSCFromGroup}" />
				</mbs:commandButtonBar>
			</h:form>
		</h:panelGroup>
	</mbs:panel>

	<!-- Pop up window that displays Health Service Code search results -->
	<h:form id="hsCodeSearchResultsForm">
		<mbs:popup id="hsCodeSearchResultsPopup" title="#{msgs['header.common.search.results']}"
			visible="#{healthServiceGroupsController.displayHSCodeSearchResults}" size="lg" customFooter="true">

			<mbs:callout rendered="#{healthServiceGroupsController.healthServiceCodeSearchResults.size() >= 500}" type="warning">
					#{msgs['label.search.results.exceed.500']}
				</mbs:callout>

			<ace:dataTable id="healthServiceCodeResultsDatatable" rows="10" paginator="true" paginatorPosition="bottom" var="row"
				selectionMode="multiple" stateMap="#{healthServiceGroupsController.healthServiceCodeResultsStateMap}"
				styleClass="table-horizontal-adjustment" value="#{healthServiceGroupsController.healthServiceCodeSearchResults}"
				emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Health Service Code column -->
				<ace:column id="hsCodeHSCCol" headerText="#{msgs['common.label.hsc']}" filterBy="#{row.healthServiceCode}"
					filterMatchMode="contains" sortBy="#{row.healthServiceCode}">
					<h:outputText value="#{row.healthServiceCode}" />
				</ace:column>
				<!-- Qualifier Code -->				
				<ace:column id="hsCodeQualifierCol" headerText="#{msgs['common.label.qualifier']}" filterBy="#{row.qualifier}"
					filterMatchMode="contains" sortBy="#{row.qualifier}">
					<h:outputText value="#{row.qualifier}" />
				</ace:column>
				<!-- Effective From column -->
				<ace:column id="hsCodeEffectiveFromCol" headerText="#{msgs['label.hs.groups.effective']}"
					filterBy="#{row.effectiveFromString}" filterMatchMode="contains" sortBy="#{row.effectiveFrom}">
					<h:outputText value="#{row.effectiveFrom}">
						<f:convertDateTime pattern="#{dateFormat}" />
					</h:outputText>
				</ace:column>
				<!-- Description column -->
				<ace:column id="hsCodeDescriptionCol" headerText="#{msgs['common.label.description']}" filterBy="#{row.description}"
					filterMatchMode="contains" sortBy="#{row.description}">
					<h:outputText value="#{row.description}" />
				</ace:column>
				<!-- Modifiers column -->
				<ace:column id="hsCodeModifiersCol" headerText="#{msgs['common.label.modifiers']}" filterBy="#{row.modifiers}"
					filterMatchMode="contains" sortBy="#{row.modifiers}">
					<h:outputText value="#{row.modifiers}" />
				</ace:column>
				<!-- Implicit Modifiers column -->
				<ace:column id="hsCodeImpModifiersCol" headerText="#{msgs['common.label.implicit.modifiers']}"
					filterBy="#{row.implicitModifiers}" filterMatchMode="contains" sortBy="#{row.implicitModifiers}">
					<h:outputText value="#{row.implicitModifiers}" />
				</ace:column>
			</ace:dataTable>

			<!-- Selection tools -->
			<mbs:commandButtonBar>
				<mbs:commandButton id="selectAllSelectedHSCBtn" value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{healthServiceGroupsController.executeSelectAllHscs}" />
				<mbs:commandButton id="deSelectAllSelectedHSCBtn" value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{healthServiceGroupsController.executeDeselectAllHscs}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{healthServiceGroupsController.addSelectedHSCToGroup}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{healthServiceGroupsController.closeHSCodeSearchPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation pop up -->
	<h:form id="confirmDeleteServicesForm">
		<mbs:popup id="confirmDeleteServicesPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{healthServiceGroupsController.displayDeleteDHSCConfirmation}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{healthServiceGroupsController.confirmDeleteSelectedHSCFromGroup}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{healthServiceGroupsController.closeDeleteHSCConfirmationPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			$("#editHSGroupsView\\:searchHSGroupPanel\\:addNewHSForm\\:manageAddNewHSHeader").click(function() {
				// Select the MC option in the programs dropdown by default.
				$('#editHSGroupsView\\:searchHSGroupPanel\\:addNewHSForm\\:searchHsProgramDrp\\:selectOneMenu option[value=MC]').attr('selected', true);
				toggleAddHealthServicePanel();
			});

		});
	</script>
</ui:composition>