<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib">


	<h:form id="outlierCriteriaForm" styleClass="form-horizontal">
		<ace:tabSetProxy id="outlierCriteriaTab" for="#{criteriaProxyTabSet.clientId}" />
		<mbs:panel header="#{msgs['header.audit.outlier.criteria']}" id="outlierCriteriaPanel">

			<h4>#{msgs['label.outlier.criteria.history']}</h4>
			<!-- Table displaying all Outlier Criteria records -->
			<ace:dataTable value="#{criteriaController.outlierCriterias}" id="outlierCriteriasTable" rows="25" paginator="true"
				styleClass="table-horizontal-adjustment" paginatorPosition="bottom" var="row"
				emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Code column -->
				<ace:column id="code" headerText="#{msgs['common.label.code']}" sortBy="#{row.code}" filterBy="#{row.code}"
					filterMatchMode="contains">
					<h:outputText value="#{row.code}" />
				</ace:column>
				<!-- Type column -->
				<ace:column id="type" headerText="#{msgs['common.label.type']}" sortBy="#{row.type}" filterBy="#{row.type}"
					filterMatchMode="contains">
					<h:outputText value="#{row.type}" />
				</ace:column>
				<!-- Description column -->
				<ace:column id="description" headerText="#{msgs['common.label.description']}" sortBy="#{row.description}"
					filterBy="#{row.description}" filterMatchMode="contains">
					<h:outputText value="#{row.description}" />
				</ace:column>
				<!-- Value column -->
				<ace:column id="value" headerText="#{msgs['common.label.value']}" sortBy="#{row.value}" filterBy="#{row.value}"
					filterMatchMode="contains" sortFunction="#{criteriaController.criteriaValueComparator}">
					<h:outputText value="#{row.value}" />
				</ace:column>
				<!-- Modified By column -->
				<ace:column id="modifiedBy" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>
				<!-- Last Modified column -->
				<ace:column id="lastModified" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModified}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
				<!-- Edit button column -->
				<ace:column id="editCol" rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
							action="#{criteriaController.editOutlierCriteria(row)}" />
					</mbs:commandButtonBar>
				</ace:column>
			</ace:dataTable>
		</mbs:panel>
	</h:form>

	<!-- Pop up displayed when user is editing an Outlier Criteria -->
	<h:form id="editOutlierCriteriaForm" styleClass="form-horizontal">
		<mbs:popup id="editOutlierCriteriaPopup" title="#{msgs['header.audit.outlier.criteria.details']}"
			visible="#{criteriaController.displayOutlierCriteriaEditPopup}" size="sm" customFooter="true">
			<!-- Code -->
			<mbs:input id="outlierCode" label="#{msgs['common.label.code']}" disabled="true" displayValidState="false"
				labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
				value="#{criteriaController.selectedOutlierCriteria.code}" />

			<!-- Type -->
			<mbs:input id="outlierType" label="#{msgs['common.label.type']}" disabled="true" displayValidState="false"
				labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
				value="#{criteriaController.selectedOutlierCriteria.type}" />

			<!-- Description -->
			<mbs:inputTextarea id="outlierDescription" label="#{msgs['common.label.description']}" required="true"
				labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
				value="#{criteriaController.selectedOutlierCriteria.description}" onkeyup="limitTextArea( this, event, 100 );" />

			<!-- Value -->
			<h:panelGroup rendered="#{criteriaController.selectedOutlierCriteria.type eq 'CHAR'}">
				<mbs:input id="outlierValueS" label="#{msgs['common.label.value']}" required="true" maxlength="500"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedOutlierCriteria.value}" />
			</h:panelGroup>
			<h:panelGroup rendered="#{criteriaController.selectedOutlierCriteria.type eq 'INTEGER'}">
				<mbs:input id="outlierValueI" label="#{msgs['common.label.value']}" required="true"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedOutlierCriteria.value}">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>
			</h:panelGroup>
			<h:panelGroup rendered="#{criteriaController.selectedOutlierCriteria.type eq 'CURRENCY'}">
				<mbs:input id="outlierValueC" label="#{msgs['common.label.value']}" required="true"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedOutlierCriteria.value}">
					<f:converter converterId="currencyConverter" for="input" />
				</mbs:input>
			</h:panelGroup>
			<h:panelGroup rendered="#{criteriaController.selectedOutlierCriteria.type eq 'DATE'}">
				<mbs:calendar id="outlierValueD" label="#{msgs['common.label.value']}" required="true" showOn="both"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
					value="#{criteriaController.selectedOutlierCriteria.value}">
				</mbs:calendar>
			</h:panelGroup>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md"
						action="#{criteriaController.saveOutlierCriteriaRecord}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{criteriaController.closeOutlierEditPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
</ui:composition>