<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib">


	<mbs:panel id="addPractitionerProfilePeriodsPanel" header="#{msgs['header.audit.profile.period']}">
		<h:form id="addPractitionerProfilePeriodsForm" styleClass="form-horizontal">
			<ace:tabSetProxy id="practitionerProfilePeriodTab" for="#{criteriaProxyTabSet.clientId}" />

			<h4>#{msgs['header.audit.add.profile.period']}</h4>
			<hr />
			<!-- Period Start Date field -->
			<mbs:calendar id="periodStartDate" label="#{msgs['common.label.period.start.date']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{criteriaController.practitionerPeriod.periodStart}" showOn="both"
				placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" required="true" displayValidState="false" />

			<!-- Period End Date field -->
			<mbs:calendar id="periodEndDate" label="#{msgs['common.label.period.end.date']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{criteriaController.practitionerPeriod.periodEnd}" showOn="both"
				placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" required="true" displayValidState="false" />

			<!-- Year End Date field -->
			<mbs:calendar id="yearEndDate" label="#{msgs['common.label.year.end.date']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{criteriaController.practitionerPeriod.yearEnd}" showOn="both"
				placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" required="true" displayValidState="false" />

			<mbs:commandButtonBar id="profileEntryBtnPanel">
				<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="sm"
					action="#{criteriaController.savePractitionerProfilePeriod}"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />

				<mbs:commandButton id="resetPeriodBtn" value="#{msgs['button.clear']}" type="danger"
					action="#{criteriaController.clearNewPractitionerProfilePeriodForm}" size="sm" immediate="true" />
			</mbs:commandButtonBar>
			<hr />
		</h:form>

		<h4>#{msgs['label.practitioner.period.period.history']}</h4>
		<h:form id="editExistingProfilePeriodsForm">
			<!-- Previous Profile Period records -->
			<ace:dataTable id="periodHistoryTable" rows="25" value="#{criteriaController.periods}" paginator="true" var="row"
				styleClass="table-horizontal-adjustment" paginatorPosition="bottom" emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Period ID column -->
				<ace:column id="periodIdCol" headerText="#{msgs['common.label.period.id']}" sortBy="#{row.periodId}"
					filterBy="#{row.periodId}" filterMatchMode="contains">
					<h:outputText value="#{row.periodId}" />
				</ace:column>

				<!-- Period Start column -->
				<ace:column id="periodStartCol" headerText="#{msgs['common.label.period.start.date']}" sortBy="#{row.periodStart}"
					filterBy="#{row.periodStartString}" filterMatchMode="contains">
					<h:outputText value="#{row.periodStartString}" />
				</ace:column>

				<!-- Period End column -->
				<ace:column id="periodEndCol" headerText="#{msgs['common.label.period.end.date']}" sortBy="#{row.periodEnd}"
					filterBy="#{row.periodEndString}" filterMatchMode="contains">
					<h:outputText value="#{row.periodEndString}" />
				</ace:column>

				<!-- Year End column -->
				<ace:column id="yearEndCol" headerText="#{msgs['common.label.year.end.date']}" sortBy="#{row.yearEnd}"
					filterBy="#{row.yearEndString}" filterMatchMode="contains">
					<h:outputText value="#{row.yearEndString}" />
				</ace:column>

				<!-- Modified column -->
				<ace:column id="modifiedByCol" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

				<!-- Last Modified column -->
				<ace:column id="lastModifiedCol" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModified}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
			</ace:dataTable>
		</h:form>
	</mbs:panel>

	<!-- Pop up warning when overlapping Periods are detected on add -->
	<h:form id="overlappingPeriodForm">
		<mbs:popup id="overlappingPeriodWarningPopup" title="#{msgs['common.label.confirm.duplicate.period.header']}"
			visible="#{criteriaController.displayOverlappingPeriodPopup}" size="sm" customFooter="true">

			<!-- Warning message text content -->
			#{msgs['common.label.confirm.duplicate.period']}

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md"
						action="#{criteriaController.confirmPractitionerProfilePeriodSave}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{criteriaController.closeOverlappingPeriodPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
	<script>
		$(document).ready(function() {
			$("#addPractitionerProfilePeriodsPanel\\:addPractitionerProfilePeriodsForm\\:profileEntryBtnPanel\\:resetPeriodBtn\\:commandButton").click(function() {
				resetForm("addPractitionerProfilePeriodsPanel\\:addPractitionerProfilePeriodsForm");
			});
		});
	</script>
</ui:composition>