<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<!--[if IE 8]>
<html class="no-js ie8 lt-ie9">
<![endif]-->
<ui:composition template="/pages/nspp-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="page" value="error" />

	<ui:define name="content">
		<div id="mainContent">
			<h1 class="page-header">Error Detected</h1>

			<a class="btn btn-info pull-right" href="#{requestScope['javax.servlet.error.request_uri']}">Back to initial
				page.</a>

			<div class="well bg-danger">
				<ul>
					<li>Date/time: #{of:formatDate(now, 'yyyy-MM-dd HH:mm:ss')}</li>
					<li>User agent: #{header['user-agent']}</li>
					<li>User IP: #{empty header['x-forwarded-for'] ? request.remoteAddr : fn:split(header['x-forwarded-for'],
						',')[0]}</li>
					<li>Request URI: <a href="#{requestScope['javax.servlet.error.request_uri']}">#{requestScope['javax.servlet.error.request_uri']}</a></li>
					<li>Ajax request: #{facesContext.partialViewContext.ajaxRequest ? 'Yes' : 'No'}</li>
					<li>Status code: #{requestScope['javax.servlet.error.status_code']}</li>
					<li>Exception type: #{requestScope['javax.servlet.error.exception_type']}</li>
					<li>Exception message: #{requestScope['javax.servlet.error.message']}</li>
					<li>Stack trace: <pre>
							<code>#{of:printStackTrace(requestScope['javax.servlet.error.exception'])}</code>
						</pre></li>
				</ul>
			</div>

			<h:outputScript rendered="#{facesContext.partialViewContext.ajaxRequest}">scrollTo(0, 0);</h:outputScript>
		</div>
	</ui:define>
</ui:composition>
