<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<!--[if IE 8]>
<html class="no-js ie8 lt-ie9">
<![endif]-->
<ui:composition template="/pages/nspp-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="page" value="error" />

	<ui:define name="content">
		<div id="mainContent">
			<h1 class="page-header">Sorry..the session has expired</h1>

			<img src="#{resource['images:medavie-building.jpg']}" /> <a class="btn btn-info pull-right"
				href="#{requestScope['javax.servlet.error.request_uri']}">Back to initial page.</a>

			<h:outputScript rendered="#{facesContext.partialViewContext.ajaxRequest}">scrollTo(0, 0);</h:outputScript>
		</div>
	</ui:define>
</ui:composition>
