<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" template="/medavie-bootstrap/templates/standard-layout.xhtml"
	xmlns:sandbox="http://java.sun.com/jsf/composite/components/sandbox">
	<ui:define name="metadata">
	</ui:define>
	<ui:define name="head">
		<mbs:headResources appCss="true" appDynamicsEnabled="false" />
		<mbs:headResources appJs="true" appDynamicsEnabled="false" />
	</ui:define>
	<ui:define name="menu">
	</ui:define>
	<ui:define name="main">
		<div class="col-xs-12 main" id="mainContent">
			<br /> <br />
			<h3>#{msgs['common.label.logout.message']}</h3>
			<br />
		</div>
	</ui:define>
</ui:composition>