.logoWrapper {
	margin-bottom: 20px;
}

.uppercaseInput input {
	text-transform: uppercase;
}

.uppercaseTextarea textarea {
	text-transform: uppercase;
}

.uppercaseOutput {
	text-transform: uppercase;
}

.table-horizontal-adjustment {
	overflow-x: scroll;
}

.message-dialog-wrapper {
	background-color: rgba(242, 242, 242, 0.9) !important;
	border-radius: 5px !important;
	border: 2px solid #000000 !important;
	position: fixed !important;
	top: 80px !important;
	left: 10px !important;
	right: 0 !important;
	width: 600px !important;
	padding-left: 10px !important;
	padding-right: 10px !important;
	z-index: 2000;
}

.message-dialog-dismiss-btn {
	float: right;
	color: #000000;
	font-size: 20px;
}

/** remove unnecessary padding on buttons in tables */
td .btn {
	margin: 0px 0px 0px 0px !important;
}

.well.bg-danger {
	background-color: #FFCACA;
}

h1,h2,h3 {
	word-break: break-word;
}

h2 {
	margin-top: 40px;
	margin-bottom: 25px;
}

h3,h3 {
	margin-top: 30px;
	margin-bottom: 10px;
}

h4+p {
	margin-top: 20px;
}

p+figure {
	margin-top: 20px;
}

h3,h3>code {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h2>code {
	font-size: inherit;
}

hr {
	margin-top: 8px;
	margin-bottom: 5px;
}

.sidebar-toggle {
	width: 12px;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	top: 10px;
	left: 0;
	background-color: #0078A7;
	padding: 3px;
	color: #FFF;
	display: inline-block;
}

.sidebar-toggle i.fa-angle-right {
	display: block;
}

.main.active .sidebar-toggle i.fa-angle-right {
	display: none;
}

.sidebar-toggle i.fa-angle-left {
	display: none;
}

.main.active .sidebar-toggle i.fa-angle-left {
	display: block;
}

.sidebar-toggle:hover i {
	color: orange;
}

#javax_faces_developmentstage_messages {
	position: fixed;
	bottom: 0;
	right: 5px;
}

@media ( min-width : 768px) {
	.main {
		padding-right: 100px;
		padding-left: 100px;
	}
}

.main .page-header {
	margin: 20px 0 40px;
}

@media ( min-width : 900px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: auto;
	}
}

.jumbotron {
	background-color: #FFF;
	margin-top: 40px;
}

.jumbotron h1 {
	margin-bottom: 60px;
	text-align: center;
}

.jumbotron .btn {
	margin-top: 60px;
}

/**************************************************************************/
/*                                                                                                                                                */
/**************************************************************************/
.mbs-docs-layout {
	width: 100%;
	margin-top: 30px;
	position: relative;
	display: table;
	border-spacing: 0;
	box-shadow: 0 0 10px 0px #D1D1D1;
}

.mbs-example {
	background-color: #FFF;
	border-style: solid;
	border-color: #C5C5C5;
	border-width: 1px 1px 0 1px;
}

.mbs-code {
	border: 1px solid #C5C5C5;
}

.mbs-example,.mbs-code {
	background-color: #fff;
	position: relative;
}

.mbs-example {
	padding: 10px;
}

.mbs-code {
	padding: 10px;
}

.mbs-example:after,.mbs-code:after {
	position: absolute;
	padding: 3px 7px;
	font-size: 12px;
	font-weight: normal;
	background-color: #000;
	opacity: .5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	color: #fff;
	-webkit-border-radius: 0 0 0 2px;
	-moz-border-radius: 0 0 0 2px;
	border-radius: 0 0 0 2px;
	top: 0px;
	right: 0px;
	content: "Code";
	line-height: 12px;
}

.mbs-example:after {
	content: "Example";
}

code {
	padding: 2px 4px;
	color: #D90036;
	white-space: nowrap;
	background-color: #F4EBEB;
	border: 1px solid #F2CBD7;
	padding: 0 3px 2px;
	font-family: Consolas, "Courier New", monospace;
	font-size: 13px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

body {
	outline-color: #000;
	outline-offset: 2px;
}

h1 {
	counter-reset: figure;
}

figcaption::before {
	counter-increment: figure;
	content: "\00A0\00A0\00A0 Fig.\00A0" counter(figure) "\00A0\00A0\00A0";
	background-color: #006D21;
	font-size: 12px;
	color: #FFF;
	border-radius: 2px;
	padding: 5px 0;
	margin-right: 5px;
}

.figcaption {
	background-color: #006D21;
	font-size: 12px;
	color: #FFF;
	border-radius: 2px;
	padding: 5px;
	margin: 0 5px;
}

figcaption {
	text-align: center;
	font-variant: small-caps;
	padding: 10px 0;
	font-size: 16px;
	border-radius: 50px;
	position: relative;
	top: -5px;
	margin-bottom: 25px;
	margin-top: 10px;
}

figure img {
	max-width: 100%;
	width: auto;
}

code.line-number,code.line-numbers {
	color: #FFF;
	border-color: #000;
	background-color: #292929;
}

.line-number:before {
	content: 'Line\00A0';
}

.line-numbers:before {
	content: 'Lines\00A0';
}

p {
	line-height: 24px;
}

.panel ul {
	margin-bottom: 0;
}

.panel.code ul {
	list-style: none;
}

ul {
	list-style-type: square;
}

/*********************************/
/*                                                              */
/* Icon font that contains browser icons */
/*                                                              */
/*********************************/
@font-face {
	font-family: 'browserIconfont';
	src: url("#{resource['css/fonts/browserIconfont.eot']}");
	src: url("#{resource['css/fonts/browserIconfont.eot']}?#iefix")
		format("embedded-opentype"),
		url("#{resource['css/fonts/browserIconfont.woff']}") format("woff"),
		url("#{resource['css/fonts/browserIconfont.ttf']}") format("truetype"),
		url("#{resource['css/fonts/browserIconfont.svg']}#browserIconfont")
		format("svg");
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-firefox,.icon-chrome,.icon-opera,.icon-ie,.icon-safari {
	font-family: 'browserIconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-firefox:before {
	content: "\e840";
}

.icon-chrome:before {
	content: "\e841";
}

.icon-opera:before {
	content: "\e842";
}

.icon-ie:before {
	content: "\e843";
}

.icon-safari:before {
	content: "\e00f";
}

/**
 *
 * Styles imported from the file icons-reference.html generated by fontastic to list the existing icons in font-medavie
 *
 **/
.small {
	font-size: 14px;
	color: #a5adb4;
}

.small a {
	color: #a5adb4;
}

.small a:hover {
	color: #fb565e;
}

.glyphs.character-mapping {
	margin: 0 0 20px 0;
	padding: 20px 0 20px 30px;
	border: 1px solid #d8e0e5;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.5);
}

.glyphs.character-mapping li {
	display: inline-block;
	width: 90px;
	margin: 0 30px 20px 0;
}

.glyphs.character-mapping .fm {
	position: relative;
	width: 55px;
	height: 55px;
	margin: 10px 0 10px 15px;
	padding: 15px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	overflow: hidden;
	font-size: 32px;
	color: #162a36 !important;
}

.glyphs.character-mapping .fm svg {
	fill: #000;
}

.glyphs.character-mapping input {
	display: block;
	width: 100%;
	margin: 0;
	padding: 5px 0;
	border: 1px solid #d8e0e5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	line-height: 12px;
	outline: 0;
}

.glyphs.character-mapping input:focus,.glyphs.character-mapping input:hover
	{
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		rgba(148, 183, 211, 0.6);
	border-color: #89ACE2;
}

.glyphs.css-mapping {
	margin: 0 0 60px 0;
	padding: 30px 0 20px 30px;
	border: 1px solid #d8e0e5;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: rgba(0, 0, 0, 0.5);
	width: 650px;
	background-color: #FFF;
}

.glyphs.css-mapping li {
	display: inline-block;
	margin: 0 30px 20px 0;
	padding: 0;
	overflow: hidden;
}

.glyphs.css-mapping .fm {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
	margin-right: 10px;
	padding: 13px;
	overflow: hidden;
	font-size: 24px;
	color: #162a36 !important;
}

.glyphs.css-mapping input {
	display: block;
	float: right;
	width: 200px;
	height: 40px;
	margin: 0;
	margin-top: 5px;
	padding: 8px;
	border: 1px solid #d8e0e5;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font-size: 16px;
	line-height: 16px;
	outline: 0;
	background: #fff;
	transition: all 400ms;
}

.glyphs.css-mapping input:focus,.glyphs.css-mapping input:hover {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		rgba(148, 183, 211, 0.6);
	border-color: #89ACE2;
}

.label.big {
	font-size: 20px;
	padding: 8px 0;
	font-weight: 300;
	border-radius: 2px;
	margin: -5px 0 10px;
}

.hide-elements {
	display: none;
}

.expandDiv {
	cursor: pointer;
}

.element-top-padding {
	padding-top: 15px;
}

body {
	background: #f9f9f9;
}

/** Styling for default state tab */
.ui-tabs-nav li {
	background: #ffffff;
	color: #005374;
	border: 1px solid #005374;
	border-radius: 2px;
	padding: 9px 20px;
	margin: 5px 10px 5px 0;
}

/** Styling for active tab */
.ui-tabs-nav .ui-state-active {
	background: #0078a7;
	color: #fff;
	border: 1px solid #0078a7;
	border-radius: 2px;
	padding: 9px 20px;
	margin: 5px 10px 5px 0;
}

/** Styling for hovering over a tab */
.ui-tabs-nav li:HOVER {
	background: #0078a7;
	color: #fff;
	border: 1px solid #0078a7;
	border-radius: 2px;
}

/** Styling for tab panel content wrapper */
.ui-tabset .ui-tabs-panel {
	padding-left: 3px;
}

.ui-tabset .ui-tabs-panel.yui-content {
	padding: 0px;
	border: none;
	background: none;
	border: none;
}

/* Override the col setting width.. */
.col-xs-1 {
	width: 13%
}

.mbs-btn-bar {
	margin-top: 0px;
}

/** 
* To enable editting in row on a table we need to change icons 
* Sadly due to icefaces it needs to be this class name
*/
.ui-icon-pencil:before {
	content: "\f040";
	font-size: 2em;
}

.ui-icon-circle-triangle-e:before {
	content: "\f138";
	font-size: 2em;
}

.ui-icon-circle-triangle-s:before {
	content: "\f13a";
	font-size: 2em;
}

.ui-icon-check:before {
	content: "\f00c";
	font-size: 2em;
}

.ui-icon-unchecked:before {
	content: "\f096";
	font-size: 2em;
}

.checkbox .ui-icon-check:before {
	content: "\f046";
}

.ui-icon-close:before {
	content: "\f00d";
	font-size: 2em;
}

.disabledOutputTextEffect {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.ui-tabset .ui-tabs-nav div em {
	float: left;
	text-decoration: none;
	padding: 0.5em 0.5em;
	margin: 0;
}

/** Custom styling of icefaces datatable to simulate bootstrap look */
.ui-datatable .ui-widget-header {
	color: #00668e;
	border-bottom: 1px solid #00668e;
	border-top: 1px solid #dddddd;
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
	line-height: 1.4285;
}

th {
	text-align: left;
}

td {
	text-align: left;
}

.ui-datatable th,.ui-datatable tfoot td {
	padding: 3px;
	text-align: left;
	vertical-align: top;
}

.ui-datatable tbody.ui-datatable-data>tr>td,.ui-datatable tbody.ui-datatable-data-empty>tr>td
	{
	border: 1px solid #dddddd;
	padding: 8px;
	text-align: left;
	vertical-align: top;
}

.ui-datatable-even {
	background-color: #f5f5f5;
}

.ui-selected {
	background-color: #0078a7;
	color: #fff;
}

.hiddenBtn {
	display: none;
}
/** Custom datatable ends */

/** Confirmation dialog styling */
.confirmDiag .ui-widget-header {
	border: 1px solid #000;
	background-color: #f5f5f5;
	color: #4d4d4d;
	padding: 8px;
}

.confirmDiag .ui-dialog-content,.ui-dialog-buttonpane {
	background-color: #fff;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.ui-dialog .ui-dialog-buttonpane {
	margin: 0px;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.ui-dialog .ui-dialog-titlebar-close {
	margin: -13px -10px 0 0;
	right: 1.2em;
	width: 21px;
}

.confirmDiag a,a:HOVER,a:FOCUS {
	text-decoration: none;
}

.ui-dialog .ui-dialog-titlebar-close:hover,.ui-dialog .ui-dialog-titlebar-close:focus
	{
	padding: 1px;
	margin: -13px -10px 0 0;
}

.ui-icon-closethick:before {
	content: "\f05c";
	font-size: 2em;
}

/** Dialog styling ends */
.inquiryDetailWrapper h5 {
	margin-left: 10px;
}

.inquiryDetailWrapper hr {
	margin-left: 10px;
	margin-right: 10px;
}

.radio,.checkbox {
	min-height: 0px;
	margin: 0px;
}

.disabled-checkbox .ui-icon-unchecked:before {
	content: "\f05e";
}

/** Success / Error / Warning styling */
.messageWrapper {
	padding-bottom: 10px;
}

.messageWrapper .ui-state-error {
	border: 1px solid #cd0a0a;
	color: #cd0a0a;
	background: #fef1ec;
	border-radius: 5px;
	margin-bottom: 5px;
}

.messageWrapper .ui-icon-alert:before {
	content: "\f071";
	color: #cd0a0a;
	font-size: 1.5em;
	margin-right: 5px;
}

.messageWrapper .ui-state-highlight {
	border: 1px solid #00521B;
	color: #00521B;
	background: #E5FFEE;
	border-radius: 5px;
}

.messageWrapper .ui-icon-info:before {
	content: "\f058";
	color: #00521B;
	font-size: 1.5em;
	margin-right: 5px;
}

.addSearchPanel {
	min-height: 100px;
}

/** Override the size popups styling for width */
@media all and (min-width:1150px) {
	.modal-lg {
		width: 1100px;
	}
}

@media all and (min-width:750px) {
	.modal-sm {
		width: 600px;
	}
}

.table-grid-form {
	padding-right: 5px;
}

.ui-datatable-scrollable.ui-datatable .ui-datatable-scrollable-body {
	border-top-style: none;
}

/** Change the z index for some styles to allow calendar popups in popups*/
.modal {
	z-index: 1000;
}

.modal-backdrop {
	z-index: 999;
}

.navbar-fixed-top,.navbar-fixed-bottom {
	z-index: 998;
}

.modal-dialog .mbs-calendar .form-control {
	z-index: 1030;
}

.mbs-calendar .form-control {
	z-index: 950;
}

.ui-datepicker {
	z-index: 1500 !important;
}

.mbs-callout {
	margin-bottom: 15px;
}

/** Styling for sub headers in tables.. All stlyes here should be IMPORTANT to override icefaces */
.sub-header {
	color: black !important;
}

/** Style class that allows the user of Calendar Datepicker within a dataTable */
.in-row-calendar-picker {
	margin-left: 0px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
}

.checkboxes {
	width: 100%;
	border: 1px solid gray;
	margin-bottom: 1em;
	padding: .50em;
}

.checkboxes tr,.checkboxes td {
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding-left: 3px;
	padding-top: 3px;
}

.checkboxes td {
	width: 20%;
}

.checkbox-alignment {
	padding-top: 8px;
}

.hmsgsinfo {
	border: 1px solid #00521b;
	color: #00521b;
	background: #E5FFEE;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0.3em;
	-web-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	position: relative;
	left: -40px;
}

.hmsgsinfo:before {
	font-family: FontAwesome;
	text-indent: 0;
	text-decoration: none;
	content: "\f058";
	color: #00521b;
	margin-right: 5px;
	float: left;
}

.hmsgswarn {
	border: 1px solid #c09853;
	color: #363636;
	background: #FCEFA1;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0.3em;
	-web-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	position: relative;
	left: -40px;
}

.hmsgswarn:before {
	font-family: FontAwesome;
	text-indent: 0;
	text-decoration: none;
	content: "\f071";
	color: #c09853;
	margin-right: 5px;
	float: left;
}

.hmsgserror {
	border: 1px solid #cd0a0a;
	color: #cd0a0a;
	background: #fef1ec;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0.3em;
	-web-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
	position: relative;
	left: -40px;
}

.hmsgserror:before {
	font-family: FontAwesome;
	text-indent: 0;
	text-decoration: none;
	content: "\f071";
	color: #cd0a0a;
	margin-right: 5px;
	float: left;
}

.yearSelect {
	padding-left: 0px;
	padding-right: 0px;
}

.ui-state-disabled {
	color: #005374 !important;
	background-color: #eee !important;
}

/** Overides some style attributes on buttons we want on the far right side of a button bar*/
.right-floating-button {
	float: right;
	margin-right: 10px !important;
}

/** Enables word wrap to break words */
.audit-note-word-wrapper {
	word-wrap: break-word;
	max-width: 400px;
}

/** Used to make a href to look like a button 
* NOTE: This should be used in collaberation with btn classes defined by Bootstrap
*/
.link-button {
	color: #fff !important;
	font-size: 12px !important;
	padding: 5px 10px !important;
}

.printView {
	font-size: 10px;
	margin: 3px;
}

/**
* Printer rules below
*/
.printFriendlyTableWithCellSpacing {
	font-size: 10px;
	background-color: #f9f9f9;
}

.printFriendlyTableWithCellSpacing td {
	padding-right: 15px;
}

.printFriendlyTable {
	font-size: 10px;
}

.printFriendlyTable table {
	font-size: 10px;
}

.printFriendlyTable th {
	background-color: #f9f9f9;
	color: black !important;
	border: none !important;
}

.printFriendlyTable tr {
	background-color: #f9f9f9;
	color: black !important;
}

.printFriendlyTable td {
	background-color: #f9f9f9;
	color: black !important;
	border: none !important;
	padding: 1px !important;
}

@media print {
	@page {
		size: landscape;
		margin-top: 2cm;
		margin-bottom: 1cm;
		margin-left: 1cm;
		margin-right: 1cm;
	}
	div {
		page-break-after: auto;
	}
	table {
		page-break-after: auto
	}
	tr {
		page-break-inside: avoid;
		page-break-after: auto
	}
	td {
		page-break-inside: avoid;
		page-break-after: auto
	}
	thead {
		display: table-header-group
	}
	tfoot {
		display: table-footer-group
	}
	body {
		font-size: 1.5cm;
	}
	.mbs-footer {
		display: none;
	}
	.main {
		padding-right: 0cm;
		padding-left: 0cm;
	}
}