<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Page styling class for labels and fields -->
	<ui:param name="labelStyle" value="col-xs-12 col-sm-3 col-md-2" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-3 col-md-2" />

	<ui:param name="longLabelStyle" value="col-xs-2" />

	<!-- Search panel -->
	<mbs:panel header="#{msgs['header.audit.peergroup.manage.practitioner.groups']}" id="providerPanel">
		<h:form id="managePractSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{managePractitionersController.executePeerGroupSearch}" key="Enter"/>
			<ace:tabSetProxy id="managePractitionersTab" for="#{peerGroupProxySet.clientId}" />

			<h4>#{msgs['header.audit.peergroup.manage.search.peergroups']}</h4>
			<!-- Year End Date field -->
			<mbs:selectOneMenu id="managePractYearEndDate" label="#{msgs['common.label.year.end.date']}"
				value="#{managePractitionersController.selectedYearEndDate}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{managePractitionersController.profilePeriodYearEndDates.entrySet()}" var="item"
					itemLabel="#{item.key}" itemValue="#{item.value}" for="#{managePractitionersController.selectedYearEndDate}" />
			</mbs:selectOneMenu>

			<!-- Peer Group ID field -->
			<mbs:input id="managePractPeerGroupIdTxt" label="#{msgs['common.label.peer.group.id']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{managePractitionersController.peerGroupSearchCriteria.peerGroupId}" maxlength="6"
				fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Peer Group Name field -->
			<mbs:input id="managePractPeerGroupNameTxt" label="#{msgs['common.label.peer.group.name']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{managePractitionersController.peerGroupSearchCriteria.peerGroupName}" maxlength="40" />

			<!-- Practitioner ID field -->
			<mbs:input id="managePractPractNumTxt" label="#{msgs['common.label.practitioner.id']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{managePractitionersController.peerGroupSearchCriteria.practitionerNumber}" maxlength="6"
				fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Practitioner Type field (Subcategory) -->
			<mbs:selectOneMenu value="#{managePractitionersController.peerGroupSearchCriteria.subcategory}"
				id="managePractPractTypeDrp" label="#{msgs['common.label.subcategory']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{managePractitionersController.subcategoryDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.value.typeCode} - #{item.value.typeDesc}" itemValue="#{item.value.typeCode}"
					for="#{managePractitionersController.peerGroupSearchCriteria.subcategory}" />
			</mbs:selectOneMenu>

			<!-- Practitioner Name field -->
			<mbs:input id="managePractNameTxt" label="#{msgs['common.label.practitioner.name']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{managePractitionersController.peerGroupSearchCriteria.practitionerName}"
				maxlength="65" />

			<!-- Search form buttons -->
			<mbs:commandButtonBar id="managePractSearchFormButtons">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary"
					action="#{managePractitionersController.executePeerGroupSearch}" size="sm" />
				<mbs:commandButton id="resetPGSearchBtn" value="#{msgs['button.clear']}" type="danger"
					action="#{managePractitionersController.executeClearPeerGroupSearch}" size="sm" />
			</mbs:commandButtonBar>

			<!-- PeerGroup Search results -->
			<h:panelGroup id="peerGroupSearchResults"
				styleClass="#{managePractitionersController.displayPeerGroupSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{managePractitionersController.totalPeerGroups}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row" lazy="true"
					id="peerGroupSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{managePractitionersController.peerGroupSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- Peer Group ID column -->
					<ace:column id="peerGroupIDCol" sortBy="#{row.peerGroupID}"
						headerText="#{msgs['label.peergroup.search.id.col.header']}">
						<h:outputText value="#{row.peerGroupID}" />
					</ace:column>

					<!-- Peer Group column -->
					<ace:column id="peerGroupCol" sortBy="#{row.peerGroupName}" headerText="#{msgs['common.label.peer.group']}">
						<h:outputText value="#{row.peerGroupName}" />
					</ace:column>
					<!-- Year End Date column -->
					<ace:column id="yearEndDateCol" sortBy="#{row.yearEndDate}" headerText="#{msgs['common.label.year.end.date']}">
						<h:outputText value="#{row.yearEndDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>
					<!-- View/Edit column -->
					<ace:column id="viewCol" rendered="#{!roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.view']}" type="primary" size="xs"
								action="#{managePractitionersController.initiateMaintainPeerGroupPractitioners(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
					<ace:column id="editCol" rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
								action="#{managePractitionersController.initiateMaintainPeerGroupPractitioners(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<h:panelGroup id="managePractitionerWrapper" styleClass="hide-elements">
			<!-- Search/Add Practitioner panel -->
			<h:form id="searchAddPractitionersForm" styleClass="form-horizontal">
				<!-- JTRAX-62 07-MAR-18 BCAINNE -->
				<icecore:defaultAction action="#{managePractitionersController.executePractitionerSearch}" key="Enter"/>

				<div class="panel panel-primary" id="expandAddSearcgPractitionerPanel">
					<div class="panel-heading expandDiv" id="manageAddSearchPractitionerHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandAddSearchPractitioner" class="fa fa-plus-circle"></i>
							#{msgs['header.audit.peergroup.manage.add.practitioners']}
						</div>
					</div>
					<div id="addSearchPractBody" class="panel-body hide-elements addSearchPanel">

						<!-- Step 1 of search for Practitioners (Select where the practitioners will be stored: Shadow or Fee For Service) -->
						<h:panelGroup id="addSearchPractStep1Wrapper">
							<h4>#{msgs['header.audit.peergroup.manage.add.type']}</h4>
							<!-- Type dropdown -->
							<mbs:selectOneMenu id="practitionerTypeDrp" label="" labelStyleClass="#{labelStyle}"
								inputStyleClass="#{inputStyle}" value="#{managePractitionersController.practitionerSearchCriteria.profileType}">
								<f:selectItems value="#{managePractitionersController.practitionerTypes}" var="option"
									itemLabel="#{option.label}" itemValue="#{option}" />
								<f:ajax event="change" render="@form" listener="#{managePractitionersController.displayPractitionerSearchStep2}" />
							</mbs:selectOneMenu>
						</h:panelGroup>

						<!-- Step 2 of search. Provide search criteria and select matching practitioner records -->
						<h:panelGroup id="addSearchPractStep2Wrapper" styleClass="hide-elements">
							<h4>
								<h:outputText value="#{msgs['header.audit.peergroup.manage.search.practitioners']}" />
								<h:outputText rendered="#{managePractitionersController.practitionerSearchCriteria.profileType == 'SHADOW'}"
									value=" #{msgs['common.label.shadow.ind']}" />
							</h4>
							<!-- Practitioner ID -->
							<mbs:input id="practNumTxt" label="#{msgs['common.label.practitioner.id']}" labelStyleClass="#{longLabelStyle}"
								inputStyleClass="#{inputStyle}"
								value="#{managePractitionersController.practitionerSearchCriteria.practitionerNumber}" maxlength="6"
								fAttributeName="disableGrouping" fAttributeValue="true">
								<f:converter converterId="integerConverter" for="input" />
							</mbs:input>
							<!-- Subcategory dropdown -->
							<mbs:selectOneMenu id="subcategoryDrp" label="#{msgs['common.label.subcategory']}"
								labelStyleClass="#{longLabelStyle}" inputStyleClass="#{inputStyle}"
								value="#{managePractitionersController.practitionerSearchCriteria.subcategory}">
								<f:selectItems value="#{managePractitionersController.subcategoryDropdownItems.entrySet()}" var="item"
									itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.value.typeCode}" />
							</mbs:selectOneMenu>
							<!-- Practitioner Name -->
							<mbs:input id="practNameTxt" label="#{msgs['common.label.practitioner.name']}"
								labelStyleClass="#{longLabelStyle}" inputStyleClass="#{inputStyle}"
								value="#{managePractitionersController.practitionerSearchCriteria.practitionerName}" maxlength="65" />
							<!-- Practitioner License number -->
							<mbs:input id="practLicsenseTxt" label="#{msgs['label.peergroup.manage.search.pract.license']}"
								labelStyleClass="#{longLabelStyle}" inputStyleClass="#{inputStyle}"
								value="#{managePractitionersController.practitionerSearchCriteria.liscenseNumber}" maxlength="9"
								fAttributeName="disableGrouping" fAttributeValue="true">
								<f:converter converterId="integerConverter" for="input" />
							</mbs:input>
							<!-- PeerGroup ID -->
							<mbs:input id="practGroupIdTxt" label="#{msgs['label.peergroup.manage.search.pract.group.id']}"
								labelStyleClass="#{longLabelStyle}" inputStyleClass="#{inputStyle}"
								value="#{managePractitionersController.practitionerSearchCriteria.practitionerGroupId}" maxlength="7"
								fAttributeName="disableGrouping" fAttributeValue="true">
								<f:converter converterId="integerConverter" for="input" />
							</mbs:input>
							<!-- PeerGroup Name -->
							<mbs:input id="practGroupNameTxt" label="#{msgs['label.peergroup.manage.search.pract.group.name']}"
								labelStyleClass="#{longLabelStyle}" inputStyleClass="#{inputStyle}"
								value="#{managePractitionersController.practitionerSearchCriteria.practitionerGroupName}" maxlength="40" />
							<!-- Button panel for search add form -->
							<mbs:commandButtonBar id="practSearchFormButtons">
								<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
									action="#{managePractitionersController.executePractitionerSearch}" />
								<mbs:commandButton value="#{msgs['button.back']}" type="danger" size="sm"
									action="#{managePractitionersController.displayPractitionerSearchStep1}" />
								<mbs:commandButton action="#{managePractitionersController.executeClearPractitionerSearch}"
									id="resetPractitionerSearchBtn" value="#{msgs['button.clear']}" type="danger" size="sm" />
							</mbs:commandButtonBar>
						</h:panelGroup>
					</div>
				</div>
			</h:form>

			<h4>#{msgs['header.audit.peergroup.manage.practitioners.group']}
				#{managePractitionersController.selectedPeerGroup.peerGroupID} -
				#{managePractitionersController.selectedPeerGroup.peerGroupName}</h4>

			<h5>
				#{msgs['common.label.year.end.date']}:
				<h:outputText value="#{managePractitionersController.selectedPeerGroup.yearEndDate}">
					<f:convertDateTime pattern="#{dateFormat}" />
				</h:outputText>
			</h5>

			<!-- Practitioner counts. -->
			<h5>#{msgs['header.audit.peergroup.manage.shadow.count']}
				#{managePractitionersController.selectedPeerGroup.shadowPractitioners.size()}</h5>
			<h5>#{msgs['header.audit.peergroup.manage.fee.count']}
				#{managePractitionersController.selectedPeerGroup.feeForServicePractitioners.size()}</h5>

			<hr />

			<!-- Practitioner in Group form -->
			<h:form id="managePractitionerForm">

				<!-- Shadow Practitioners table panel -->
				<div class="panel panel-primary" id="expandShadowPractitionerPanel">
					<div class="panel-heading expandDiv" id="manageShadowPractitionerHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandShadowPractitioner" class="fa fa-plus-circle"></i>
							#{msgs['header.audit.peergroup.manage.practitioners.shadow']}
						</div>
					</div>
					<div id="shadowPractBody" class="panel-body hide-elements">
						<!-- DataTable displaying all Shadow Practitioners in the selected PeerGroup -->
						<ace:dataTable selectionMode="multiple" id="shadowPractitionerTable" rows="25" var="row"
							styleClass="table-horizontal-adjustment"
							value="#{managePractitionersController.selectedPeerGroup.shadowPractitioners}" paginator="true"
							paginatorPosition="bottom" stateMap="#{managePractitionersController.shadowPractitionerStateMap}"
							emptyMessage="#{msgs['common.label.no.data']}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Forced column -->
							<ace:column id="shadowForcedCol" headerText="#{msgs['label.peergroup.manage.pract.forced.col.header']}"
								sortBy="#{row.forcedIndicator}" style="width: 100px;" filterBy="#{row.forcedIndicator}"
								filterMatchMode="contains">
								<h:outputText value="#{row.forcedIndicator}" />
							</ace:column>

							<!-- Practitioner ID column -->
							<ace:column id="shadowPractitionerNumCol" headerText="#{msgs['common.label.practitioner']}"
								sortBy="#{row.practitionerNumber}" style="width: 170px;" filterBy="#{row.practitionerNumber}"
								filterMatchMode="contains">
								<h:outputText value="#{row.practitionerNumber}" />
							</ace:column>

							<!-- Practitioner Type column -->
							<ace:column id="shadowPractitionerTypeCol" headerText="#{msgs['common.label.subcategory']}"
								sortBy="#{row.practitionerType}" filterBy="#{row.practitionerType}" filterMatchMode="contains"
								style="width: 170px;">
								<h:outputText value="#{row.practitionerType}" />
							</ace:column>

							<!-- Practitioner Name column -->
							<ace:column id="shadowPractitionerNameCol" headerText="#{msgs['common.label.practitioner.name']}"
								sortBy="#{row.practitionerName}" filterBy="#{row.practitionerName}" filterMatchMode="contains">
								<h:outputText value="#{row.practitionerName}" />
							</ace:column>

							<!-- Drop from average column -->
							<ace:column id="shadowPractitionerDropAvgCol"
								headerText="#{msgs['label.peergroup.manage.pract.drop.col.header']}" filterMatchMode="contains"
								style="width: 170px;">
								<mbs:selectBooleanCheckbox id="practitionerDropFromAvg" value="#{row.dropIndicator}" label="" />
							</ace:column>

							<!-- Modified By -->
							<ace:column id="shadowPractitionerModifiedByCol" headerText="#{msgs['common.label.modified.by']}"
								sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}" filterMatchMode="contains" style="width: 170px;">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>

							<!-- Last Modified -->
							<ace:column id="shadowPractitionerLastModifiedCol" headerText="#{msgs['common.label.last.modified']}"
								sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								style="width: 170px;">
								<h:outputText value="#{row.lastModifiedString}" />
							</ace:column>
						</ace:dataTable>
					</div>
				</div>


				<!-- Fee for Service Practitioners table panel -->
				<div class="panel panel-primary" id="expandFFSPractitionerPanel">
					<div class="panel-heading expandDiv" id="manageFFSPractitionerHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandFFSPractitioner" class="fa fa-plus-circle"></i>
							#{msgs['header.audit.peergroup.manage.practitioners']}
						</div>
					</div>
					<div id="ffsPractBody" class="panel-body hide-elements">
						<!-- DataTable displaying all Fee For Service Practitioners in the selected PeerGroup -->
						<ace:dataTable selectionMode="multiple" id="practitionerTable" rows="25" var="row"
							styleClass="table-horizontal-adjustment"
							value="#{managePractitionersController.selectedPeerGroup.feeForServicePractitioners}" paginator="true"
							paginatorPosition="bottom" stateMap="#{managePractitionersController.feeForServicePractitionerStateMap}"
							emptyMessage="#{msgs['common.label.no.data']}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Forced column -->
							<ace:column id="practitionerForcedCol" headerText="#{msgs['label.peergroup.manage.pract.forced.col.header']}"
								sortBy="#{row.forcedIndicator}" style="width: 100px;" filterBy="#{row.forcedIndicator}"
								filterMatchMode="contains">
								<h:outputText value="#{row.forcedIndicator}" />
							</ace:column>

							<!-- Practitioner ID column -->
							<ace:column id="practitionerNumCol" headerText="#{msgs['common.label.practitioner']}"
								sortBy="#{row.practitionerNumber}" style="width: 170px;" filterBy="#{row.practitionerNumber}"
								filterMatchMode="contains">
								<h:outputText value="#{row.practitionerNumber}" />
							</ace:column>

							<!-- Practitioner Type column -->
							<ace:column id="practitionerTypeCol" headerText="#{msgs['common.label.subcategory']}"
								sortBy="#{row.practitionerType}" filterBy="#{row.practitionerType}" filterMatchMode="contains"
								style="width: 170px;">
								<h:outputText value="#{row.practitionerType}" />
							</ace:column>

							<!-- Practitioner Name column -->
							<ace:column id="practitionerNameCol" headerText="#{msgs['common.label.practitioner.name']}"
								sortBy="#{row.practitionerName}" filterBy="#{row.practitionerName}" filterMatchMode="contains">
								<h:outputText value="#{row.practitionerName}" />
							</ace:column>

							<!-- Drop from average column -->
							<ace:column id="practitionerDropAvgCol" headerText="#{msgs['label.peergroup.manage.pract.drop.col.header']}"
								style="width: 170px;">
								<mbs:selectBooleanCheckbox id="practitionerDropFromAvg" value="#{row.dropIndicator}" label="" />
							</ace:column>

							<!-- Modified By -->
							<ace:column id="practitionerModifiedByCol" headerText="#{msgs['common.label.modified.by']}"
								sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}" filterMatchMode="contains" style="width: 170px;">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>

							<!-- Last Modified -->
							<ace:column id="practitionerLastModifiedCol" headerText="#{msgs['common.label.last.modified']}"
								sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								style="width: 170px;">
								<h:outputText value="#{row.lastModifiedString}" />
							</ace:column>
						</ace:dataTable>
					</div>
				</div>

				<!-- Save all changes to PeerGroup button panel -->
				<mbs:commandButtonBar id="managePractitionerFormButtons">
					<mbs:commandButton value="#{msgs['button.audit.peergroup.save.changes']}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}"
						action="#{managePractitionersController.executeSavePeerGroupPractitioners}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.delete.selected']}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}"
						action="#{managePractitionersController.deleteSelectedPractitioners}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['common.label.cancel.back.to.search']}" type="danger" size="sm"
						action="#{managePractitionersController.executeReturnToPeerGroupSearch}" />
				</mbs:commandButtonBar>
			</h:form>
		</h:panelGroup>
	</mbs:panel>

	<!-- Pop-up for PractitionerSearch -->
	<h:form id="practitionerSearchPopupForm">
		<!-- Search results table. Displays only when there is Practitioner search results -->
		<mbs:popup id="practitionerSearchResultPopup" title="#{msgs['header.common.search.results']}"
			visible="#{managePractitionersController.displayPractitionerSearchResults}" size="lg" customFooter="true">

			<ace:dataTable rows="15" paginator="true" paginatorPosition="bottom" var="row"
				styleClass="table-horizontal-adjustment" id="practitionerSearchResultsDataTable"
				value="#{managePractitionersController.practitionerSearchResults}" selectionMode="multiple"
				stateMap="#{managePractitionersController.practitionerResultsStateMap}"
				emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Practitioner ID column -->
				<ace:column id="practitionerNumberCol" filterBy="#{row.practitionerNumber}" filterMatchMode="contains"
					sortBy="#{row.practitionerNumber}" headerText="#{msgs['common.label.practitioner.id']}">
					<h:outputText value="#{row.practitionerNumber}" />
				</ace:column>
				<!-- Practitioner Type column -->
				<ace:column id="practitionerTypeCol" filterBy="#{row.practitionerType}" filterMatchMode="contains"
					sortBy="#{row.practitionerType}" headerText="#{msgs['common.label.type']}">
					<h:outputText value="#{row.practitionerType}" />
				</ace:column>
				<!-- Liscense Number column -->
				<ace:column id="liscenseCol" filterBy="#{row.licenseNumber}" filterMatchMode="contains"
					sortBy="#{row.licenseNumber}" headerText="#{msgs['label.peergroup.manage.search.results.license.col.header']}">
					<h:outputText value="#{row.licenseNumber}" />
				</ace:column>
				<!-- Practitioner Name column -->
				<ace:column id="practitionerNameCol" filterBy="#{row.practitionerName}" filterMatchMode="contains"
					sortBy="#{row.practitionerName}"
					headerText="#{msgs['label.peergroup.manage.search.results.pract.name.col.header']}">
					<h:outputText value="#{row.practitionerName}" />
				</ace:column>
			</ace:dataTable>

			<!-- Selection tools -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{managePractitionersController.executeSelectAllPractitioners}" />
				<mbs:commandButton value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{managePractitionersController.executeDeselectAllPractitioners}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{managePractitionersController.addSelectedPractitionersToPeerGroup}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md"
						action="#{managePractitionersController.closePractitionerSearchResultsPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation pop up -->
	<h:form id="confirmDeletePractitionersFromGroupForm">
		<mbs:popup id="confirmDeletePractitionersFromGroupPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{managePractitionersController.displayDeletePractitionersFromGroupConfirmation}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{managePractitionersController.confirmDeleteSelectedPractitioners}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{managePractitionersController.closeDeletePractitionersFromGroupPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			//Expand the Search Practitioner panel
			$("#managePractitionerInGroupView\\:providerPanel\\:searchAddPractitionersForm\\:manageAddSearchPractitionerHeader").click(function() {
				expandManagePractSearchPanel();
			});

			//Expand the Shadow Practitioner panel
			$("#managePractitionerInGroupView\\:providerPanel\\:managePractitionerForm\\:manageShadowPractitionerHeader").click(function() {
				toggleShadowPractitionerPanel();
			});

			//Expand the FFS Practitioner panel
			$("#managePractitionerInGroupView\\:providerPanel\\:managePractitionerForm\\:manageFFSPractitionerHeader").click(function() {
				toggleFFSPractitionerPanel();
			});

			// Assists in reseting the PG search form
			$("#managePractitionerInGroupView\\:providerPanel\\:managePractSearchForm\\:managePractSearchFormButtons\\:resetPGSearchBtn\\:commandButton").click(function() {
				resetForm("managePractitionerInGroupView\\:providerPanel\\:managePractSearchForm");
			});

			// Assists in reseting the Practitioner search form
			$("#managePractitionerInGroupView\\:providerPanel\\:searchAddPractitionersForm\\:practSearchFormButtons\\:resetPractitionerSearchBtn\\:commandButton").click(function() {
				resetForm("managePractitionerInGroupView\\:providerPanel\\:searchAddPractitionersForm");
			});
		});
	</script>
</ui:composition>