<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Page styling class for labels and fields -->
	<ui:param name="labelStyle" value="col-xs-12 col-sm-3 col-md-2" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-3 col-md-2" />

	<mbs:panel
		header="#{peerGroupController.editingRecord == true ? msgs['header.audit.peergroup.edit'] : msgs['header.audit.peergroup.search.peergroups']} #{peerGroupController.selectedPeerGroup.peerGroupName}"
		id="searchEditPeerGroupPanel">
		<h:form id="searchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 13-FEB-18 BCAINNE -->
			<icecore:defaultAction action="#{peerGroupController.executePeerGroupSearch}" key="Enter"/>  
		
			<ace:tabSetProxy id="peerGroupSearchTab" for="#{peerGroupProxySet.clientId}" />

			<!-- Year End Date field -->
			<mbs:selectOneMenu id="yearEndDate" label="#{msgs['common.label.year.end.date']}"
				value="#{peerGroupController.peerGroupSearchCriteria.yearEndDateString}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{peerGroupController.profilePeriodYearEndDates.entrySet()}" var="item"
					itemLabel="#{item.key}" itemValue="#{item.value}"
					for="#{peerGroupController.peerGroupSearchCriteria.yearEndDateString}" />
			</mbs:selectOneMenu>

			<!-- Peer Group ID field -->
			<mbs:input id="peerGroupIdTxt" label="#{msgs['common.label.peer.group.id']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{peerGroupController.peerGroupSearchCriteria.peerGroupId}" maxlength="6"
				fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Peer Group Name field -->
			<mbs:input id="peerGroupNameTxt" label="#{msgs['common.label.peer.group.name']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{peerGroupController.peerGroupSearchCriteria.peerGroupName}" maxlength="40" />

			<!-- Practitioner ID field -->
			<mbs:input id="practNumTxt" label="#{msgs['common.label.practitioner.id']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{peerGroupController.peerGroupSearchCriteria.practitionerNumber}"
				maxlength="6" fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Practitioner Type field -->
			<mbs:selectOneMenu id="practTypeDrp" label="#{msgs['common.label.subcategory']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{peerGroupController.peerGroupSearchCriteria.subcategory}">
				<f:selectItems value="#{peerGroupController.subcategoryDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
					for="#{peerGroupController.peerGroupSearchCriteria.subcategory}" />
			</mbs:selectOneMenu>

			<!-- Practitioner Name field -->
			<mbs:input id="practNameTxt" label="#{msgs['common.label.practitioner.name']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{peerGroupController.peerGroupSearchCriteria.practitionerName}"
				maxlength="65" />

			<!-- Search form buttons -->
			<mbs:commandButtonBar id="searchFormButtons">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary"
					action="#{peerGroupController.executePeerGroupSearch}" size="sm" />
				<mbs:commandButton id="resetPeerGroupSearchBtn" value="#{msgs['button.clear']}" type="danger"
					action="#{peerGroupController.executeClearPeerGroupSearch}" size="sm" />
			</mbs:commandButtonBar>

			<!-- Peer group search results -->
			<h:panelGroup id="peerGroupSearchResults"
				styleClass="#{peerGroupController.displayPeerGroupSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{peerGroupController.totalPeerGroups}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row" lazy="true"
					id="peerGroupSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{peerGroupController.peerGroupSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Peer Group ID column -->
					<ace:column id="peerGroupIDCol" sortBy="#{row.peerGroupID}" headerText="#{msgs['common.label.peer.group.id']}">
						<h:outputText value="#{row.peerGroupID}" />
					</ace:column>

					<!-- Year End Date column -->
					<ace:column id="yearEndDateCol" sortBy="#{row.yearEndDate}" headerText="#{msgs['common.label.year.end.date']}">
						<h:outputText value="#{row.yearEndDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Peer Group name column -->
					<ace:column id="peerGroupCol" sortBy="#{row.peerGroupName}" headerText="#{msgs['common.label.peer.group.name']}">
						<h:outputText value="#{row.peerGroupName}" />
					</ace:column>

					<!-- Modified By column -->
					<ace:column id="modifiedBy" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}">
						<h:outputText value="#{row.modifiedBy}" />
					</ace:column>

					<!-- Last Modified column -->
					<ace:column id="lastModified" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModified}">
						<h:outputText value="#{row.lastModifiedString}" />
					</ace:column>

					<!-- View/Edit column -->
					<ace:column id="viewCol" rendered="#{!roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.view']}" type="primary" size="xs"
								action="#{peerGroupController.initiateEditPeerGroupPanel(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
					
					
					<ace:column id="editCol" rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
								action="#{peerGroupController.initiateEditPeerGroupPanel(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Edit form begins -->
		<h:panelGroup styleClass="hide-elements" id="peerGroupEditWrapper">
			<ui:include src="EditPeerGroupCriteria.xhtml" />
		</h:panelGroup>
	</mbs:panel>

	<script>
		$(document).ready(function() {
			$("#peerGroupEditView\\:searchPeerGroupsPanel\\:searchForm\\:searchFormButtons\\:resetPeerGroupSearchBtn\\:commandButton").click(function() {
				resetForm("peerGroupEditView\\:searchPeerGroupsPanel\\:searchForm");
			});

			// Remove RX option from practitioner search Subcategory dropdown
			removeRXSubcategoryOption("peerGroupEditView\\:searchEditPeerGroupPanel\\:searchForm\\:practTypeDrp\\:selectOneMenu");
		});
	</script>
</ui:composition>