<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	template="/pages/nspp-template.xhtml" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}" />
	</ui:define>

	<!-- Fixed Title 09-MAR-2018 BCAINNE -->
	<ui:param name="title" value="#{msgs['title.audit.letters.pharmacare']}" />
	<ui:param name="page" value="DenticareIndex" />
	<ui:param name="menuId" value="title.audit.letters.denticare" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.letters.pharmacare']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="pharmCareTabSet" binding="#{pharmacareProxyTabSet}" immediate="true"
				tabChangeListener="#{pharmacareController.pharmacareTabChangeListener}">
				<ace:tabPane label="#{msgs['button.audit.letter.search.crit']}">
					<f:subview id="searchEditAuditCriteriaView">
						<ui:include src="SearchAuditCriteria.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.add.crit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
					<mbs:panel id="editAuditCriteriaPanel"
						header="#{msgs['header.medicare.audit.criteria.new']} #{pharmacareController.selectedAuditCriteria.providerNumber == null ? '' : ':'} #{pharmacareController.selectedAuditCriteria.providerNumber} #{pharmacareController.selectedAuditCriteria.providerType} #{pharmacareController.selectedAuditCriteria.providerName}">
						<f:subview id="addNewAuditCriteriaView">
							<ui:include src="EditAuditCriteria.xhtml" />
						</f:subview>
					</mbs:panel>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.crit.response']}">
					<f:subview id="editAuditLetterRespView">
						<ui:include src="SearchEditPharmacareAuditLetterResp.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.ind.exclusions']}">
					<f:subview id="editGlobalIndExclusionsView">
						<ui:include src="EditGlobalIndividualExclusions.xhtml" />
					</f:subview>
				</ace:tabPane>
				<!-- JTRAX-65 20-FEB-18 BCAINNE -->
				<ace:tabPane label="#{msgs['button.audit.letter.search.din.exclusions']}">
					<f:subview id="editGlobalDinExclusionsView">
						<ui:include src="SearchEditDinExclusions.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>