<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


	<mbs:panel header="#{msgs['header.dss.constants.maint']}" id="editDssConstantsPanel">

		<!-- Dss Constants Table -->
		<h:form id="editDssConstantsForm" styleClass="form-horizontal">

			<h4>#{msgs['label.dss.constants.records']}</h4>

			<!-- Table displaying all records -->
			<ace:dataTable value="#{dssConstantsController.dssConstants}" id="dssConstantsTable" rows="10" paginator="true"
				styleClass="table-horizontal-adjustment" paginatorPosition="bottom" var="row"
				emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Constant Code column -->
				<ace:column id="codeCol" headerText="#{msgs['common.label.code']}" sortBy="#{row.constantCode}"
					filterBy="#{row.constantCode}" filterMatchMode="contains">
					<h:outputText value="#{row.constantCode}" />
				</ace:column>

				<!-- Constant Type column -->
				<ace:column id="typeCol" headerText="#{msgs['common.label.type']}" sortBy="#{row.constantType}"
					filterBy="#{row.constantType}" filterMatchMode="contains">
					<h:outputText value="#{msgs['common.label.date']}" />
				</ace:column>

				<!-- Constant Desc column -->
				<ace:column id="descCol" headerText="#{msgs['common.label.description']}" sortBy="#{row.constantDesc}"
					filterBy="#{row.constantDesc}" filterMatchMode="contains">
					<h:outputText value="#{row.constantDesc}" />
				</ace:column>

				<!-- Constant Value column -->
				<ace:column id="valueCol" headerText="#{msgs['common.label.value']}" sortBy="#{row.constantDate}"
					filterBy="#{row.constantDateString}" filterMatchMode="contains">
					<h:outputText value="#{row.constantDate}">
						<f:convertDateTime pattern="dd-MMM-yyyy" />
					</h:outputText>
				</ace:column>

				<!-- modifiedBy  -->
				<ace:column id="modifiedByCol" headerText="#{msgs['label.dss.unit.value.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

				<!-- Last modified  -->
				<ace:column id="lastModifiedCol" headerText="#{msgs['label.dss.unit.value.last.modified']}"
					sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModified}">
						<f:convertDateTime pattern="dd-MMM-yyyy HH:mm:ss" />
					</h:outputText>
				</ace:column>

				<ace:column id="editCol">
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
							rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
							action="#{dssConstantsController.editThisRow(row)}" />
					</mbs:commandButtonBar>
				</ace:column>
			</ace:dataTable>
		</h:form>
	</mbs:panel>

	<!-- Pop up window that displays when the user is editing a Dss Unit value record-->
	<h:form id="editDssConstantRecordForm" styleClass="form-horizontal">
		<mbs:popup id="editDssConstantRecordPopup" title="#{msgs['header.dss.constants.maint']}"
			visible="#{dssConstantsController.displayDssEditConstant}" size="lg" customFooter="true">

			<!-- Colunm 2 -->
			<div class="row">
				<!-- Practitioner field group -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<!-- Constant Code -->
					<mbs:input id="dssConstantCode" labelStyleClass="col-xs-12 col-sm-6 col-md-4" displayValidState="false"
						inputStyleClass="col-xs-6 col-sm-8 col-md-8" label="#{msgs['common.label.code']}"
						value="#{dssConstantsController.selectedDssConstant.constantCode}" disabled="true" />
					<!-- Constant Type Description -->
					<mbs:input id="dssConstantType" labelStyleClass="col-xs-12 col-sm-6 col-md-4" displayValidState="false"
						inputStyleClass="col-xs-6 col-sm-8 col-md-8" label="#{msgs['common.label.type']}"
						value="#{msgs['common.label.date']}" disabled="true" />
					<!-- Constant Description -->
					<mbs:inputTextarea id="dssConstantDesc" label="#{msgs['common.label.description']}" required="true"
						labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
						value="#{dssConstantsController.selectedDssConstant.constantDesc}" rows="6"
						onkeyup="limitTextArea( this, event, 100 );">
					</mbs:inputTextarea>
					<!-- Constant Date Value -->
					<mbs:calendar id="dssConstantDate" label="#{msgs['common.label.value']}" required="true"
						labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
						placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
						value="#{dssConstantsController.selectedDssConstant.constantDate}" />
				</div>
			</div>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md"
						action="#{dssConstantsController.saveDssConstantChanges}"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{dssConstantsController.closeEditConstantPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
</ui:composition>