<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<mbs:panel header="#{msgs['header.dss.gl.maint']}" id="editDssGLNumberPanel">

		<h:form id="addDssGLNumbersForm" styleClass="form-horizontal">
			<div class="panel panel-primary" id="addDSSGLPanel">
				<div class="panel-heading expandDiv" id="addDSSGLHeader">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandAddDSSGL" class="fa fa-plus-circle"></i> #{msgs['header.dss.add.gl']}
					</div>
				</div>
				<div id="addDSSGLBody" class="panel-body hide-elements">
					<!-- GL Number input (Disabled if editing new GL) -->
					<mbs:input id="glNumber" label="#{msgs['label.dss.gl.number']}" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
						required="true" displayValidState="false" inputStyleClass="col-xs-12 col-sm-3 col-md-3" maxlength="5"
						value="#{dssGLNumbersController.selectedGLNumberForAdd.glNumber}" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- GL description input -->
					<mbs:input id="glDescription" label="#{msgs['common.label.description']}" required="true"
						labelStyleClass="col-xs-12 col-sm-2 col-md-2" displayValidState="false"
						inputStyleClass="col-xs-12 col-sm-3 col-md-3" maxlength="30"
						value="#{dssGLNumbersController.selectedGLNumberForAdd.glDescription}" />

					<!-- Capped dropdown selection -->
					<mbs:selectOneMenu id="glCappedDrp" label="#{msgs['label.dss.gl.capped']}"
						labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-3"
						value="#{dssGLNumbersController.selectedGLNumberForAdd.capped}">
						<f:selectItems value="#{dssGLNumbersController.booleanAnswerTypes}" />
					</mbs:selectOneMenu>

					<!-- GL Fiscal Year End input -->
					<mbs:calendar id="glYearEnd" label="#{msgs['label.dss.gl.year.end']}" showOn="both"
						value="#{dssGLNumbersController.selectedGLNumberForAdd.fiscalYearEndDate}"
						labelStyleClass="col-xs-12 col-sm-2 col-md-2" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
						inputStyleClass="col-xs-12 col-sm-3 col-md-3" />

					<!-- Add New GL Number button panel -->
					<mbs:commandButtonBar id="addNewDssGLNumbersFormButtons">
						<mbs:commandButton value="#{msgs['button.save']}" action="#{dssGLNumbersController.executeSaveNewGLNumber}"
							type="primary" size="sm" />
						<mbs:commandButton value="#{msgs['button.clear']}" action="#{dssGLNumbersController.clearForm}" immediate="true"
							type="danger" size="sm" />
					</mbs:commandButtonBar>
				</div>
			</div>
		</h:form>

		<!-- Edit GL form -->
		<h:form id="editDssGLNumbersForm" styleClass="form-horizontal">

			<!-- Table displaying all records -->
			<ace:dataTable value="#{dssGLNumbersController.glNumberBOs}" id="dssGLNumbersTable" rows="25" paginator="true"
				stateMap="#{dssGLNumbersController.glNumberStateMap}" selectionMode="multiple"
				styleClass="table-horizontal-adjustment" paginatorPosition="bottom" var="row"
				emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- GL Number column -->
				<ace:column id="glNumCol" headerText="#{msgs['label.dss.gl.number']}" sortBy="#{row.glNumber}"
					filterBy="#{row.glNumber}" filterMatchMode="contains">
					<h:outputText value="#{row.glNumber}" />
				</ace:column>

				<!-- GL Description column -->
				<ace:column id="glDescCol" headerText="#{msgs['common.label.description']}" sortBy="#{row.glDescription}"
					filterBy="#{row.glDescription}" filterMatchMode="contains">
					<h:outputText value="#{row.glDescription}" />
				</ace:column>

				<!-- GL Capped column -->
				<ace:column id="glCappedCol" headerText="#{msgs['label.dss.gl.capped']}" sortBy="#{row.capped}"
					filterBy="#{row.capped}" filterMatchMode="contains">
					<h:outputText value="#{row.capped == true ? msgs['common.label.yes'] : msgs['common.label.no']}" />
				</ace:column>

				<!-- GL Fiscal Year End column -->
				<ace:column id="glYearEndCol" headerText="#{msgs['label.dss.gl.year.end']}" sortBy="#{row.fiscalYearEndDate}"
					filterBy="#{row.fiscalYearEndDateString}" filterMatchMode="contains">
					<h:outputText value="#{row.fiscalYearEndDateString}" />
				</ace:column>

				<!-- GL Modified By column -->
				<ace:column id="glModifiedByCol" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

				<!-- GL Last Modified column -->
				<ace:column id="glLastModifiedCol" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModified}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>

				<!-- Edit button column -->
				<ace:column id="editCol" headerText="">
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
							rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
							action="#{dssGLNumbersController.executeEditSelectedGLNumber(row)}" />
					</mbs:commandButtonBar>
				</ace:column>
			</ace:dataTable>

			<!-- Delete selected button panel -->
			<mbs:commandButtonBar id="manageDssGLNumbersFormButtons">
				<mbs:commandButton value="#{msgs['button.delete.selected']}"
					rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
					action="#{dssGLNumbersController.displayDeleteConfirmationPopup}" type="danger" size="sm" />
			</mbs:commandButtonBar>
		</h:form>
	</mbs:panel>

	<!-- Edit GL Number popup form -->
	<h:form id="editGLNumberPopupForm" styleClass="form-horizontal">
		<mbs:popup id="editGLNumberPopup" title="#{msgs['header.dss.edit.gl']}" size="md"
			visible="#{dssGLNumbersController.displayEditPopup}" customFooter="true">

			<!-- GL Number input (Read only) -->
			<mbs:input id="glNumber" label="#{msgs['label.dss.gl.number']}" labelStyleClass="col-xs-12 col-sm-3 col-md-3"
				displayValidState="false" inputStyleClass="col-xs-12 col-sm-6 col-md-6"
				value="#{dssGLNumbersController.selectedGLNumberForEdit.glNumber}" disabled="true" />

			<!-- GL description input -->
			<mbs:input id="glDescription" label="#{msgs['common.label.description']}" required="true"
				labelStyleClass="col-xs-12 col-sm-3 col-md-3" displayValidState="false"
				inputStyleClass="col-xs-12 col-sm-6 col-md-6" maxlength="30"
				value="#{dssGLNumbersController.selectedGLNumberForEdit.glDescription}" />

			<!-- Capped dropdown selection -->
			<mbs:selectOneMenu id="glCappedDrp" label="#{msgs['label.dss.gl.capped']}"
				labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6"
				value="#{dssGLNumbersController.selectedGLNumberForEdit.capped}">
				<f:selectItems value="#{dssGLNumbersController.booleanAnswerTypes}" />
			</mbs:selectOneMenu>

			<!-- GL Fiscal Year End input -->
			<mbs:calendar id="glYearEnd" label="#{msgs['label.dss.gl.year.end']}" showOn="both"
				value="#{dssGLNumbersController.selectedGLNumberForEdit.fiscalYearEndDate}"
				labelStyleClass="col-xs-12 col-sm-3 col-md-3" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
				inputStyleClass="col-xs-12 col-sm-6 col-md-6" />

			<!-- Modified By input (Read only) -->
			<mbs:input id="glModifiedBy" label="#{msgs['common.label.modified.by']}" disabled="true"
				labelStyleClass="col-xs-12 col-sm-3 col-md-3" displayValidState="false"
				inputStyleClass="col-xs-12 col-sm-6 col-md-6" value="#{dssGLNumbersController.selectedGLNumberForEdit.modifiedBy}" />

			<!-- Last Modified input (Read only) -->
			<mbs:input id="glLastModified" label="#{msgs['common.label.last.modified']}"
				labelStyleClass="col-xs-12 col-sm-3 col-md-3" displayValidState="false"
				inputStyleClass="col-xs-12 col-sm-6 col-md-6" value="#{dssGLNumbersController.selectedGLNumberForEdit.lastModified}"
				disabled="true">
				<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
			</mbs:input>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" action="#{dssGLNumbersController.executeSaveGLNumber}"
						type="primary" size="md" />
					<mbs:commandButton value="#{msgs['button.cancel']}" action="#{dssGLNumbersController.closeEditGLNumberPopup}"
						type="danger" size="md" immediate="true" />
				</h:panelGroup>
			</f:facet>

			<script>
				$(document).ready(function() {
					// Remove select... option from Add/Edit GL form
					removeSelectOptionFromDropdown("maintainDssGLNumberView\\:editGLNumberPopupForm\\:editGLNumberPopup\\:glCappedDrp\\:selectOneMenu");
				});
			</script>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation pop up -->
	<h:form id="confirmDeleteGLNumbersForm">
		<mbs:popup id="confirmDeleteGLNumbersPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{dssGLNumbersController.displayDeleteConfirmPopup}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{dssGLNumbersController.executeDeleteSelectedGLNumbers}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{dssGLNumbersController.closeDeleteConfirmationPopup()}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			// Toggle of Add New DSS GL Number panel
			$("#maintainDssGLNumberView\\:editDssGLNumberPanel\\:addDssGLNumbersForm\\:addDSSGLHeader").click(function() {
				expandAddDSSGLNumberPanel();
			});

			// Remove the select.... value in the Capped dropdown (Add)
			removeSelectOptionFromDropdown("maintainDssGLNumberView\\:editDssGLNumberPanel\\:addDssGLNumbersForm\\:glCappedDrp\\:selectOneMenu");
		});
	</script>
</ui:composition>