<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<mbs:panel header="#{msgs['header.dss.unit.value.maint']}" id="addEditDssUnitValuePanel">

		<!-- Add New DSS Unit Value panel -->
		<h:form id="addNewDssUnitValueForm" styleClass="form-horizontal">
			<ace:tabSetProxy id="newDssValTab" for="#{dssUnitValProxyTabSet.clientId}" />

			<div class="panel panel-primary" id="expandAddNewDssUnitValuePanel">
				<div class="panel-heading expandDiv" id="manageAddNewDssUnitValueHeader">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandAddNewDssUnitValue" class="fa fa-plus-circle"></i> #{msgs['header.dss.unit.value.add.new']}
					</div>
				</div>
				<div id="expandAddNewDssUnitValueBody" class="panel-body hide-elements">
					<div class="row">

						<!-- Column 1 -->
						<div class="col-xs-10 col-sm-4">
							<!-- MUV Type Description -->
							<mbs:selectOneMenu id="muvTypeDescAddNewPanel" label="#{msgs['label.dss.unit.value.muv.type.desc']}"
								value="#{dssUnitValueController.dssUnitValueToAdd.unitValueTypeDesc}"
								labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8" required="true">
								<f:selectItems value="#{dssUnitValueController.dssUnitValueDescs.entrySet()}" var="item" itemLabel="#{item.key}"
									itemValue="#{item.key}" for="#{dssUnitValueController.dssUnitValueToAdd.unitValueTypeDesc}" />
								<f:ajax event="change" execute="@this"
									listener="#{dssUnitValueController.selectMuvDescriptionToSetTypeCode(dssUnitValueController.dssUnitValueToAdd.unitValueTypeDesc)}"
									render=":editDssUnitValueView:addEditDssUnitValuePanel:addNewDssUnitValueForm:muvTypeCode:input" />
							</mbs:selectOneMenu>

							<!-- Lower threshold -->
							<mbs:input id="lowerThresholdAddNewPanel" label="#{msgs['label.dss.unit.value.lower.threshold']}"
								labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
								value="#{dssUnitValueController.dssUnitValueToAdd.lowerThreshold}" required="true">
								<f:converter converterId="currencyConverter" for="input" />
							</mbs:input>

							<!-- effective From -->
							<mbs:calendar id="effectiveFromAddNewPanel" label="#{msgs['label.dss.unit.value.effective.from']}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
								placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" showOn="both" renderAsPopup="true"
								value="#{dssUnitValueController.dssUnitValueToAdd.effectiveFromDate}" required="true" />
						</div>

						<!-- Column 2 -->
						<div class="col-xs-12 col-sm-4">
							<!-- MUV Type Code binded with Type Description -->
							<mbs:input id="muvTypeCode" label="#{msgs['label.dss.unit.value.muv.type.code']}"
								labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
								value="#{dssUnitValueController.dssUnitValueToAdd.unitValueTypeCode}" disabled="true" />
							<!-- Upper threshold -->
							<mbs:input id="upperThresholdv" label="#{msgs['label.dss.unit.value.upper.threshold']}"
								labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
								value="#{dssUnitValueController.dssUnitValueToAdd.upperThreshold}" required="true">
								<f:converter converterId="currencyConverter" for="input" />
							</mbs:input>
							<!-- effective To -->
							<mbs:calendar id="effectiveToAddNewPanel" label="#{msgs['label.dss.unit.value.effective.to']}"
								labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
								placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" showOn="both" renderAsPopup="true"
								value="#{dssUnitValueController.dssUnitValueToAdd.effectiveToDate}" required="true" />
						</div>

						<!-- Column 3 -->
						<div class="col-xs-12 col-sm-4">

							<!-- MUV Level Code -->
							<mbs:selectOneMenu id="mubLevelAddNewPanel" label="#{msgs['label.dss.unit.value.muv.level']}"
								value="#{dssUnitValueController.dssUnitValueToAdd.unitValueLevel}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
								inputStyleClass="col-xs-6 col-sm-8 col-md-8" required="true">
								<f:selectItems value="#{dssUnitValueController.dssUnitValueLevels.entrySet()}" var="item"
									itemLabel="#{item.key}" itemValue="#{item.key}"
									for="#{dssUnitValueController.dssUnitValueToAdd.unitValueLevel}" />
							</mbs:selectOneMenu>
							<!-- MUV dollar Value column -->
							<mbs:input id="muvValuev" label="#{msgs['label.dss.unit.value.muv.value']}"
								labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8"
								value="#{dssUnitValueController.dssUnitValueToAdd.unitValue}" required="true">
								<f:converter converterId="currencyConverter" for="input" />
							</mbs:input>
						</div>

					</div>
					<!-- Button bar for the HealthServiceCode search form -->
					<mbs:commandButtonBar id="dssUnitValueAddNewBtnBar">
						<mbs:commandButton id="dssUnitValueAddBtn" value="#{msgs['button.save']}" type="primary" size="sm"
							action="#{dssUnitValueController.executeAddNewDssUnitValue}"
							rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}">
						</mbs:commandButton>
						<mbs:commandButton id="dssUnitValueClearBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
							action="#{dssUnitValueController.executeClearAddNewDssUnitValue}" immediate="true" />
					</mbs:commandButtonBar>
				</div>
			</div>
		</h:form>

		<hr />

		<!-- Dss Unit Value Table -->
		<h:form id="editDssUnitValueForm" styleClass="form-horizontal">
			<!-- Form message output -->

			<h4>#{msgs['label.dss.unit.value.records']}</h4>

			<!-- Table displaying all records -->
			<ace:dataTable value="#{dssUnitValueController.dssUnitValues}" id="dssUnitValueTable" rows="10" paginator="true"
				paginatorPosition="bottom" var="row" emptyMessage="#{msgs['common.label.no.data']}"
				styleClass="table-horizontal-adjustment" stateMap="#{dssUnitValueController.dssUnitValueStateMap}"
				selectionMode="multiple">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- id column -->
				<ace:column id="muvIDCol" headerText="#{msgs['label.dss.unit.value.muv.id']}" sortBy="#{row.unitValueID}"
					filterBy="#{row.unitValueID}" filterMatchMode="contains">
					<h:outputText value="#{row.unitValueID}" />
				</ace:column>

				<!-- MUV Level column -->
				<ace:column id="muvLevelCol" headerText="#{msgs['label.dss.unit.value.muv.level']}" sortBy="#{row.unitValueLevel}"
					filterBy="#{row.unitValueLevel}" filterMatchMode="contains" stacked="true">
					<h:outputText value="#{row.unitValueLevel}" />
				</ace:column>

				<!-- MUV Type code column -->
				<ace:column id="uVTypeCodeCol" headerText="#{msgs['label.dss.unit.value.muv.type.code']}"
					sortBy="#{row.unitValueTypeCode}" filterBy="#{row.unitValueTypeCode}" filterMatchMode="contains">
					<h:outputText id="muvTypeCodeCol" value="#{row.unitValueTypeCode}" />
				</ace:column>

				<!-- UV Type Desc column -->
				<ace:column id="uVTypeCol" headerText="#{msgs['label.dss.unit.value.muv.type.desc']}"
					sortBy="#{row.unitValueTypeDesc}" filterBy="#{row.unitValueTypeDesc}" filterMatchMode="contains" stacked="true">
					<h:outputText value="#{row.unitValueTypeDesc}" />
				</ace:column>

				<!-- MUV dollar Value column -->
				<ace:column id="muvValueCol" headerText="#{msgs['label.dss.unit.value.muv.value']}" sortBy="#{row.unitValue}"
					filterBy="#{row.unitValue}" filterMatchMode="contains">
					<h:outputText value="#{row.unitValue}">
						<f:converter converterId="currencyConverter" />
					</h:outputText>
				</ace:column>

				<!-- Lower threshold -->
				<ace:column id="lowerThresholdCol" headerText="#{msgs['label.dss.unit.value.lower.threshold']}"
					sortBy="#{row.lowerThreshold}" filterBy="#{row.lowerThreshold}" filterMatchMode="contains">
					<h:outputText value="#{row.lowerThreshold}">
						<f:converter converterId="currencyConverter" />
					</h:outputText>
				</ace:column>

				<!-- Upper threshold -->
				<ace:column id="upperThresholdCol" headerText="#{msgs['label.dss.unit.value.upper.threshold']}"
					sortBy="#{row.upperThreshold}" filterBy="#{row.upperThreshold}" filterMatchMode="contains" stacked="true">
					<h:outputText value="#{row.upperThreshold}">
						<f:converter converterId="currencyConverter" />
					</h:outputText>
				</ace:column>

				<!-- effective From -->
				<ace:column id="effectiveFromCol" headerText="#{msgs['label.dss.unit.value.effective.from']}"
					sortBy="#{row.effectiveFromDate}" filterBy="#{row.effectiveFromDateString}" filterMatchMode="contains">
					<h:outputText value="#{row.effectiveFromDateString}" />
				</ace:column>

				<!-- effective To  -->
				<ace:column id="effectiveToCol" headerText="#{msgs['label.dss.unit.value.effective.to']}"
					sortBy="#{row.effectiveToDate}" filterBy="#{row.effectiveToDateString}" filterMatchMode="contains" stacked="true">
					<h:outputText value="#{row.effectiveToDateString}" />
				</ace:column>

				<!-- modifiedBy  -->
				<ace:column id="modifiedByCol" headerText="#{msgs['label.dss.unit.value.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

				<!-- Last modified  -->
				<ace:column id="lastModifiedCol" headerText="#{msgs['label.dss.unit.value.last.modified']}"
					sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains" stacked="true">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>

				<ace:column id="editCol">
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
							rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
							action="#{dssUnitValueController.executeEditDssRecord(row)}" />
					</mbs:commandButtonBar>
				</ace:column>
			</ace:dataTable>

			<!-- Delete action -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.delete.selected']}" type="danger" size="sm"
					rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
					action="#{dssUnitValueController.executeDeleteSelectedDssRecords}" />
			</mbs:commandButtonBar>
		</h:form>
	</mbs:panel>

	<!-- Pop up window that displays when the user is editing a Dss Unit value record-->
	<h:form id="editDssValueRecordForm" styleClass="form-horizontal">
		<mbs:popup id="editDssValueRecordPopup" title="#{msgs['header.dss.unit.value.maint']}"
			visible="#{dssUnitValueController.displayEditDssUnitValue}" size="lg" customFooter="true">

			<!-- Colunm 2 -->
			<div class="row">
				<!-- Practitioner field group -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<!-- NUVID ID -->
					<mbs:input id="editMuvID" label="#{msgs['label.dss.unit.value.muv.id']}" disabled="true" displayValidState="false"
						labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-4 col-md-5"
						value="#{dssUnitValueController.selectedDssValue.unitValueID}" />

					<!-- MUV Level Type -->
					<mbs:selectOneMenu id="editMuvLevel" label="#{msgs['label.dss.unit.value.muv.level']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-4 col-md-5"
						value="#{dssUnitValueController.selectedDssValue.unitValueLevel}" required="true">
						<f:selectItems value="#{dssUnitValueController.dssUnitValueLevels.entrySet()}" var="item" itemLabel="#{item.key}"
							itemValue="#{item.key}" for="#{dssUnitValueController.selectedDssValue.unitValueLevel}" />
					</mbs:selectOneMenu>

					<!-- MUV Type Code -->
					<mbs:input id="editMuvTypeCode" label="#{msgs['label.dss.unit.value.muv.type.code']}" displayValidState="false"
						labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-4 col-md-5" disabled="true"
						value="#{dssUnitValueController.selectedDssValue.unitValueTypeCode}" />

					<!-- MUV Type Description -->
					<mbs:selectOneMenu id="editMuvTypeDesc" label="#{msgs['label.dss.unit.value.muv.type.desc']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-4 col-md-5"
						value="#{dssUnitValueController.selectedDssValue.unitValueTypeDesc}" required="true">
						<f:selectItems value="#{dssUnitValueController.dssUnitValueDescs.entrySet()}" var="item" itemLabel="#{item.key}"
							itemValue="#{item.key}" for="#{dssUnitValueController.selectedDssValue.unitValueTypeDesc}" />
						<f:ajax event="change" execute="@this" listener="#{dssUnitValueController.selectMuvDescription}"
							render=":editDssUnitValueView:editDssValueRecordForm:editDssValueRecordPopup:editMuvTypeCode:input" />
					</mbs:selectOneMenu>

					<!--Unit Value -->
					<mbs:input id="editUnitValue" label="#{msgs['label.dss.unit.value.muv.value']}" displayValidState="false"
						labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-4 col-md-5"
						value="#{dssUnitValueController.selectedDssValue.unitValue}" required="true">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>
				</div>
				<!-- Colunm 2 -->
				<div class="col-xs-12 col-sm-6">

					<!--Lower Threshold  -->
					<mbs:input id="editLowerThreshold" label="#{msgs['label.dss.unit.value.lower.threshold']}"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-4 col-md-5" value="#{dssUnitValueController.selectedDssValue.lowerThreshold}"
						required="true">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>

					<!--Upper Threshold  -->
					<mbs:input id="editUpperThreshold" label="#{msgs['label.dss.unit.value.upper.threshold']}"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-4 col-md-5" value="#{dssUnitValueController.selectedDssValue.upperThreshold}"
						required="true">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>

					<!-- Effective From -->
					<mbs:calendar id="editEffectiveFrom" label="#{msgs['label.dss.unit.value.effective.from']}"
						inputStyleClass="col-xs-12 col-sm-4 col-md-5" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" showOn="both"
						value="#{dssUnitValueController.selectedDssValue.effectiveFromDate}" required="true" />

					<!-- Effective To -->
					<mbs:calendar id="editEffectiveTo" label="#{msgs['label.dss.unit.value.effective.to']}"
						inputStyleClass="col-xs-12 col-sm-4 col-md-5" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" showOn="both"
						value="#{dssUnitValueController.selectedDssValue.effectiveToDate}" />
				</div>
			</div>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md"
						action="#{dssUnitValueController.saveEditDssValueUnitRecordChages}"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{dssUnitValueController.closeEditDssValuePopup}" update="addNewDssUnitValueForm" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation pop up -->
	<h:form id="confirmDeleteDhaForm">
		<mbs:popup id="confirmDeleteDssPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{dssUnitValueController.displayDeleteConfirmationDialog}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
						action="#{dssUnitValueController.excuteDeleteDssRecordConfirmation}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{dssUnitValueController.closeDssUnitValueDeletePopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			//Toggle add new dss unit panel
			$("#editDssUnitValueView\\:addEditDssUnitValuePanel\\:addNewDssUnitValueForm\\:manageAddNewDssUnitValueHeader").click(function() {
				toggleAddNewDssUnitValuePanel();
			});

			$("#editDssUnitValueView\\:addEditDssUnitValuePanel\\:addNewDssUnitValueForm\\:dssUnitValueAddNewBtnBar\\:dssUnitValueClearBtn\\:commandButton").click(function() {
				resetForm("editDssUnitValueView\\:addEditDssUnitValuePanel\\:addNewDssUnitValueForm");
			});
		});
	</script>

</ui:composition>