<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-4" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-5" />

	<mbs:panel header="#{msgs['header.medicare.audit.hs.exclusions.maint']}" id="editHsExclusionsPanel">
		<h:form id="addHealthServiceExclusionsForm" styleClass="form-horizontal"
			rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{medicareController.executeHealthServiceCriteriaSearch}" key="Enter"/>						

			<div class="panel panel-primary" id="addNewHSExclusionPanel">
				<div class="panel-heading expandDiv" id="addNewHSExclusionHeader">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandAddNewHSExclusion" class="fa fa-plus-circle"></i> #{msgs['header.medicare.audit.hs.exclusions.add']}
					</div>
				</div>
				<div id="addNewHSExclusionBody" class="panel-body hide-elements">

					<h:panelGroup class="col-xs-12 col-sm-6">
						<!-- Program Dropdown -->
						<mbs:selectOneMenu id="hsgDrp" label="#{msgs['common.label.program']}"
							value="#{medicareController.hscSearchCriteria.programCode}" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}">
							<f:selectItems value="#{medicareController.programs.entrySet()}" var="entry" itemLabel="#{entry.value}"
								itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.programCode}" />
						</mbs:selectOneMenu>

						<!--Health Service Group Dropdown-->
						<mbs:selectOneMenu id="healthServiceGroupdrpdwn" label="#{msgs['label.peergroup.edit.hsc.group']}"
							value="#{medicareController.hscSearchCriteria.healthServiceGroup}" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}">
							<f:selectItems value="#{medicareController.hsGroups.entrySet()}" var="entry" itemLabel="#{entry.value}"
								itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.healthServiceGroup}" />
						</mbs:selectOneMenu>

						<!-- Health Service Code field -->
						<mbs:input id="hscTxt" label="#{msgs['label.peergroup.edit.hsc']}" maxlength="5" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}" value="#{medicareController.hscSearchCriteria.healthServiceCode}" />

						<!-- Qualifier field -->
						<mbs:selectOneMenu id="qualifierTxt" label="#{msgs['common.label.qualifier']}"
							value="#{medicareController.hscSearchCriteria.qualifier}" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}">
							<f:selectItems value="#{medicareController.hsQualifiers.entrySet()}" var="entry" itemLabel="#{entry.value}"
								itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.qualifier}" />
						</mbs:selectOneMenu>

						<!-- Effective from date -->
						<mbs:calendar id="hscEffectiveDate" label="#{msgs['label.peergroup.edit.hsc.effective.date']}" showOn="both"
							value="#{medicareController.hscSearchCriteria.effectiveFrom}" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" />

						<!-- Button panel for HSC Search -->
						<mbs:commandButtonBar id="healthServiceCriteriaSearchBtnPanel" align="left">
							<mbs:commandButton id="searchHSCBtn" value="#{msgs['button.search']}" type="primary" size="sm"
								action="#{medicareController.executeHealthServiceCriteriaSearch}" />
								<!--  JTRAX-58 07-FEB-18 BCAINNE -->
							<mbs:commandButton id="clearHSCBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
								action="#{medicareController.clearHealthServiceCriteria}" immediate="true" onclick="clearRichSelectElement()"/>
						</mbs:commandButtonBar>
					</h:panelGroup>

					<h:panelGroup class="col-xs-12 col-sm-6">
						<!-- MSI Fee Code field -->
						<mbs:input id="msiFeeCodeTxt" label="#{msgs['label.peergroup.edit.hsc.msi.feecode']}" maxlength="5"
							labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
							value="#{medicareController.hscSearchCriteria.msiFeeCode}" />

						<!-- Health Service Code Description field -->
						<mbs:input id="hscDescriptionTxt" label="#{msgs['label.peergroup.edit.hsc.description']}"
							labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
							value="#{medicareController.hscSearchCriteria.healthServiceCodeDescription}" maxlength="255" />

						<!-- Modifiers Dropdown-->
						<mbs:richSelectManyMenu id="hscModifiersDrp" label="#{msgs['common.label.modifiers']}"
							value="#{medicareController.hscSearchCriteria.modifier}" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}">
							<f:selectItems value="#{medicareController.hsModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
								itemValue="#{entry.value}" for="#{medicareController.hscSearchCriteria.modifier}" />
						</mbs:richSelectManyMenu>

						<!-- Implicit Modifiers Dropdown -->
						<mbs:richSelectManyMenu id="hscImplicitModifiersDrp" label="#{msgs['common.label.implicit.modifiers']}"
							value="#{medicareController.hscSearchCriteria.implicitModifier}" labelStyleClass="#{labelStyle}"
							inputStyleClass="#{inputStyle}">
							<f:selectItems value="#{medicareController.hsImplicitModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
								itemValue="#{entry.value}" for="#{medicareController.hscSearchCriteria.implicitModifier}" />
						</mbs:richSelectManyMenu>
					</h:panelGroup>
				</div>
			</div>
		</h:form>

		<h:form id="healthServiceExclusionsEditForm">
			<ace:tabSetProxy id="editHsExclusionsTab" for="#{medicareProxyTabSet.clientId}" />
			<h4>
				<h:outputText value="#{msgs['header.medicare.audit.hs.exclusions']}" />
			</h4>
			<hr />

			<!-- Button bar hold primary function buttons for HS exclusion maintenance -->
			<mbs:commandButtonBar id="healthServiceExclusionBtnPanel" align="left"
				rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
				<mbs:commandButton id="saveHSCExcChangesBtn" value="#{msgs['button.save']}" type="primary" size="sm"
					action="#{medicareController.executeHealthServiceExclusionsSave}" />
				<mbs:commandButton id="deleteHSCExcBtn" value="#{msgs['button.delete.selected']}" type="danger" size="sm"
					action="#{medicareController.executeHealthServiceExclusionsDeleteSelected}" />
			</mbs:commandButtonBar>

			<!-- Datatable display current exclusions -->
			<ace:dataTable id="healthServiceExclusionsTable" value="#{medicareController.healthServiceExclusions}" var="row"
				paginator="true" paginatorPosition="bottom" rows="25" styleClass="table-horizontal-adjustment"
				selectionMode="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? 'multiple' : ''}"
				emptyMessage="#{msgs['common.label.no.data']}" stateMap="#{medicareController.hscExclusionsStateMap}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- HeathServiceCode/Program column -->
				<ace:column headerText="#{msgs['common.label.hsc']}" sortBy="#{row.healthServiceCode}#{row.qualifier}"
					filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains">
					<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.program']}" stacked="true" sortBy="#{row.program}"
					filterBy="#{row.program}" filterMatchMode="contains">
					<h:outputText value="#{row.program}" />
				</ace:column>

				<!-- Age Restriction column -->
				<ace:column headerText="#{msgs['common.label.age.restrict']}" sortBy="#{row.ageRestriction}"
					filterBy="#{row.ageRestriction}" filterMatchMode="contains" rowspan="2">
					<mbs:input id="hscAgeRestriction" value="#{row.ageRestriction}" maxlength="3" displayValidState="false"
						disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" displayLabel="false"
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>
				</ace:column>

				<!-- Gender Restriction column -->
				<ace:column headerText="#{msgs['common.label.gender.restrict']}" sortBy="#{row.genderRestriction}"
					filterBy="#{row.genderRestriction}" filterMatchMode="contains" rowspan="2">
					<mbs:selectOneMenu id="genderRestrictionDrp" displayLabel="false" value="#{row.genderRestriction}">
						<f:selectItems value="#{medicareController.genderRestrictions}" var="option"
							itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
							itemLabel="#{msgs[option.genderLabel]}" itemValue="#{option.genderValue}" />
					</mbs:selectOneMenu>
				</ace:column>

				<!-- Modifiers column -->
				<ace:column headerText="#{msgs['common.label.modifiers']}" sortBy="#{row.modifiers}" filterBy="#{row.modifiers}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiers}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.implicit.modifiers']}" stacked="true" sortBy="#{row.implicitModifiers}"
					filterBy="#{row.implicitModifiers}" filterMatchMode="contains">
					<h:outputText value="#{row.implicitModifiers}" />
				</ace:column>

				<!-- Unit Formula/Category column -->
				<ace:column headerText="#{msgs['common.label.unit.formula']}" sortBy="#{row.unitFormula}"
					filterBy="#{row.unitFormula}" filterMatchMode="contains">
					<h:outputText value="#{row.unitFormula}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.hsc.category']}" stacked="true" sortBy="#{row.categoryCode}"
					filterBy="#{row.categoryCode}" filterMatchMode="contains">
					<h:outputText value="#{row.categoryCode}" />
				</ace:column>

				<!-- Modified By/Last column -->
				<ace:column headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.last.modified']}" stacked="true" sortBy="#{row.lastModified}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
			</ace:dataTable>
		</h:form>
	</mbs:panel>

	<!-- Health Service Criteria search results popup -->
	<h:form id="hsSearchResultsForm">
		<mbs:popup id="hsSearchResultsPopup" size="lg" title="#{msgs['header.common.hsc.search.title']}"
			visible="#{medicareController.displayHealthServiceCriteriaSearchResults}" customFooter="true">

			<ace:dataTable id="healthServiceCodeResultsDatatable" rows="15" paginator="true" paginatorPosition="bottom" var="row"
				value="#{medicareController.healthServiceCriteriaSearchResults}" selectionMode="multiple"
				styleClass="table-horizontal-adjustment" stateMap="#{medicareController.hscSearchResultsStateMap}"
				emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Health Service Code column -->
				<ace:column id="hscCodeCol" filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains"
					sortBy="#{row.healthServiceCode}#{row.qualifier}" headerText="#{msgs['common.label.hsc']}">
					<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
				</ace:column>
				<!-- From Date column -->
				<ace:column id="effectiveDateCol" filterBy="#{row.effectiveFromDateString}" filterMatchMode="contains"
					sortBy="#{row.effectiveFromDate}" headerText="#{msgs['common.label.effective.from']}">
					<h:outputText value="#{row.effectiveFromDate}">
						<f:convertDateTime pattern="dd-MMM-yyyy" />
					</h:outputText>
				</ace:column>
				<!-- Description column -->
				<ace:column id="hscDescriptionCol" filterBy="#{row.healthServiceCodeDesc}" filterMatchMode="contains"
					sortBy="#{row.healthServiceCodeDesc}" headerText="#{msgs['common.label.description']}">
					<h:outputText value="#{row.healthServiceCodeDesc}" />
				</ace:column>
				<!-- Modifiers column -->
				<ace:column id="hscModifiersCol" filterBy="#{row.modifiers}" filterMatchMode="contains" sortBy="#{row.modifiers}"
					headerText="#{msgs['common.label.modifiers']}">
					<h:outputText value="#{row.modifiers}" />
				</ace:column>
				<!-- Implicit Modifiers column -->
				<ace:column id="hscImpModifiersCol" filterBy="#{row.implicitModifiers}" filterMatchMode="contains"
					sortBy="#{row.implicitModifiers}" headerText="#{msgs['common.label.implicit.modifiers']}">
					<h:outputText value="#{row.implicitModifiers}" />
				</ace:column>
			</ace:dataTable>

			<!-- Selection tools -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{medicareController.executeSelectAllHSExclusionHsc}" />
				<mbs:commandButton value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{medicareController.executeDeselectAllHSExclusionHsc}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{medicareController.addNewHealthServiceExclusions}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md" type="danger"
						action="#{medicareController.closeHealthServiceCriteriaSearchResults}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation popup -->
	<h:form id="confirmDeleteExclusionsForm">
		<mbs:popup id="confirmDeleteExclusionsPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{medicareController.displayHealthServiceExclusionDeleteConfirm}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{medicareController.confirmDeleteSelectedHealthServiceExclusions}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{medicareController.closeHealthServiceDeleteConfirmation}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
	<script>
		$(document).ready(function() {
			// Toggles the Add new HS exclusions panel
			$("#editGlobalHsExclusionsView\\:editHsExclusionsPanel\\:addHealthServiceExclusionsForm\\:addNewHSExclusionHeader").click(function() {
				toggleAddNewHealthServiceExclusionPanel();
			});
		});
	</script>
</ui:composition>