<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-4" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-5" />

	<mbs:panel header="#{msgs['header.medicare.audit.hs.descriptions.maint']}" id="editHsDescriptionsPanel">
		<!-- Health Service Description search form -->
		<h:form id="hsDescriptionSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{medicareController.executeHealthServiceDescriptionSearch}" key="Enter"/>		
			<ace:tabSetProxy id="editHsDescriptionsTab" for="#{medicareProxyTabSet.clientId}" />

			<!-- Left search panel -->
			<h:panelGroup class="col-xs-12 col-sm-6">
				<!-- Program Dropdown -->
				<mbs:selectOneMenu id="hsgDrp" label="#{msgs['common.label.program']}"
					value="#{medicareController.hscSearchCriteria.programCode}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.programs.entrySet()}" var="entry" itemLabel="#{entry.value}"
						itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.programCode}" />
				</mbs:selectOneMenu>

				<!--Health Service Group Dropdown-->
				<mbs:selectOneMenu id="healthServiceGroupdrpdwn" label="#{msgs['label.peergroup.edit.hsc.group']}"
					value="#{medicareController.hscSearchCriteria.healthServiceGroup}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.hsGroups.entrySet()}" var="entry" itemLabel="#{entry.value}"
						itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.healthServiceGroup}" />
				</mbs:selectOneMenu>

				<!-- Health Service Code field -->
				<mbs:input id="hscTxt" label="#{msgs['label.peergroup.edit.hsc']}" maxlength="5" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}" value="#{medicareController.hscSearchCriteria.healthServiceCode}" />

				<!-- Qualifier field -->
				<mbs:selectOneMenu id="qualifierTxt" label="#{msgs['common.label.qualifier']}"
					value="#{medicareController.hscSearchCriteria.qualifier}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.hsQualifiers.entrySet()}" var="entry" itemLabel="#{entry.value}"
						itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.qualifier}" />
				</mbs:selectOneMenu>

				<!-- Effective from date -->
				<mbs:calendar id="hscEffectiveDate" label="#{msgs['label.peergroup.edit.hsc.effective.date']}" showOn="both"
					value="#{medicareController.hscSearchCriteria.effectiveFrom}" placeholder="#{dateFormatPlaceholder}"
					pattern="#{dateFormat}" labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}" />

				<!-- Button panel for HSC Search -->
				<mbs:commandButtonBar id="healthServiceCriteriaSearchBtnPanel">
					<mbs:commandButton id="searchHSCBtn" value="#{msgs['button.search']}" type="primary" size="sm"
						action="#{medicareController.executeHealthServiceDescriptionSearch}" />
					<mbs:commandButton id="clearHSCBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
						action="#{medicareController.resetHscSearchCriteriaForm()}" onclick="clearRichSelectElement()" />
				</mbs:commandButtonBar>
			</h:panelGroup>

			<!-- Right search panel -->
			<h:panelGroup class="col-xs-12 col-sm-6">
				<!-- MSI Fee Code field -->
				<mbs:input id="msiFeeCodeTxt" label="#{msgs['label.peergroup.edit.hsc.msi.feecode']}" maxlength="5"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.hscSearchCriteria.msiFeeCode}" />

				<!-- Health Service Code Description field -->
				<mbs:input id="hscDescriptionTxt" label="#{msgs['label.peergroup.edit.hsc.description']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.hscSearchCriteria.healthServiceCodeDescription}" maxlength="255" />

				<!-- Modifiers Dropdown-->
				<mbs:richSelectManyMenu id="hscModifiersDrp" label="#{msgs['common.label.modifiers']}"
					value="#{medicareController.hscSearchCriteria.modifier}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.hsModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
						itemValue="#{entry.value}" for="#{medicareController.hscSearchCriteria.modifier}" />
				</mbs:richSelectManyMenu>

				<!-- Implicit Modifiers Dropdown -->
				<mbs:richSelectManyMenu id="hscImplicitModifiersDrp" label="#{msgs['common.label.implicit.modifiers']}"
					value="#{medicareController.hscSearchCriteria.implicitModifier}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.hsImplicitModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
						itemValue="#{entry.value}" for="#{medicareController.hscSearchCriteria.implicitModifier}" />
				</mbs:richSelectManyMenu>
			</h:panelGroup>


		</h:form>

		<h:form id="editHsDescriptionsTableForm" styleClass="hide-elements">
			<h4>
				<h:outputText value="#{msgs['header.medicare.audit.hs.descriptions']}" />
			</h4>
			<hr />

			<!-- Button bar hold primary function buttons for HS description maint -->
			<mbs:commandButtonBar id="healthServiceDescriptionBtnPanel" align="left">
				<mbs:commandButton id="saveHSCChangesBtn" value="#{msgs['button.save']}" type="primary" size="sm"
					action="#{medicareController.executeHealthServiceDescriptionSave}"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" />
				<mbs:commandButton id="updateSelectedHSCBtn" value="#{msgs['button.update.selected']}" type="primary" size="sm"
					action="#{medicareController.executeHealthServiceDescriptionUpdate}"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" />
				<mbs:commandButton id="selectAllHSCBtn" value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{medicareController.selectAllHealthServiceDescriptions}"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" />
				<mbs:commandButton id="deselectAllHSCBtn" value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{medicareController.deselectAllHealthServiceDescriptions}"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" />
				<mbs:commandButton id="returnToSearchBtn" value="#{msgs['common.label.cancel.back.to.search']}" type="danger"
					size="sm" action="#{medicareController.executeReturnToHealthServiceDescSearch}" />
			</mbs:commandButtonBar>

			<ace:dataTable id="hsDescriptions" var="row" paginator="true" paginatorPosition="bottom" rows="25"
				styleClass="table-horizontal-adjustment" value="#{medicareController.healthServiceCriteriaSearchResults}"
				emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Selected for Update column -->
				<ace:column rowspan="2" style="width: 60px;"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
					<ace:checkboxButton id="hsDescUpdateChk" value="#{row.selectedForUpdate}">
						<ace:ajax />
					</ace:checkboxButton>
				</ace:column>

				<!-- HSC column -->
				<ace:column headerText="#{msgs['common.label.hsc']}" rowspan="2" filterBy="#{row.healthServiceCode}#{row.qualifier}"
					sortBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains">
					<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
				</ace:column>

				<!-- From Date column -->
				<ace:column headerText="#{msgs['common.label.effective.from']}" rowspan="2"
					filterBy="#{row.effectiveFromDateString}" sortBy="#{row.effectiveFromDate}" filterMatchMode="contains">
					<h:outputText value="#{row.effectiveFromDateString}" />
				</ace:column>

				<!-- Category Code column -->
				<ace:column headerText="#{msgs['common.label.hsc.category']}" rowspan="2" filterBy="#{row.categoryCode}"
					sortBy="#{row.categoryCode}" filterMatchMode="contains">
					<h:outputText value="#{row.categoryCode}" />
				</ace:column>

				<!-- HSC Description column -->
				<ace:column headerText="#{msgs['common.label.hsc.desc']}" rowspan="2" filterBy="#{row.healthServiceCodeDesc}"
					sortBy="#{row.healthServiceCodeDesc}" filterMatchMode="contains">
					<h:outputText value="#{row.healthServiceCodeDesc}" />
				</ace:column>

				<!-- Audit Health Service Description column -->
				<ace:column headerText="#{msgs['common.label.audit.hs.desc']}" rowspan="2" filterBy="#{row.healthServiceAuditDesc}"
					sortBy="#{row.healthServiceAuditDesc}" filterMatchMode="contains">
					<mbs:inputTextarea id="hsAuditDescriptionTxt" displayLabel="false" inputStyleClass="" displayValidState="false"
						disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
						value="#{row.healthServiceAuditDesc}" />
				</ace:column>

				<!-- Modifiers column -->
				<ace:column headerText="#{msgs['common.label.modifiers']}" filterBy="#{row.modifiers}" sortBy="#{row.modifiers}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiers}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.implicit.modifiers']}" stacked="true"
					filterBy="#{row.implicitModifiers}" sortBy="#{row.implicitModifiers}" filterMatchMode="contains">
					<h:outputText value="#{row.implicitModifiers}" />
				</ace:column>

				<!-- Modified By/Last column -->
				<ace:column headerText="#{msgs['common.label.modified.by']}" filterBy="#{row.modifiedBy}" sortBy="#{row.modifiedBy}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.last.modified']}" stacked="true" filterBy="#{row.lastModifiedString}"
					sortBy="#{row.lastModified}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
			</ace:dataTable>
		</h:form>
	</mbs:panel>

	<!-- Health Service Description value pop up -->
	<h:form id="healthServiceDescriptionUpdateForm">
		<mbs:popup id="hscSearchResultPopup" title="#{msgs['header.medicare.audit.hs.descriptions.update']}" size="sm"
			visible="#{medicareController.displayHealthServiceUpdateWindow}" customFooter="true">

			<!-- Description text area -->
			<mbs:inputTextarea id="hsDescription" label="#{msgs['common.label.description']}"
				value="#{medicareController.bulkUpdateDescription}" />

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.apply']}" type="primary" size="md"
						action="#{medicareController.confirmHealthServiceDescriptionUpdate}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md"
						action="#{medicareController.closeHealthServiceUpdateWindow}" />
				</h:panelGroup>
			</f:facet>

		</mbs:popup>
	</h:form>
</ui:composition>