<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	template="/pages/nspp-template.xhtml" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.audit.letters.medicare']}" />
	<ui:param name="page" value="MedicareIndex" />
	<ui:param name="menuId" value="title.audit.letters.medicare" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.letters.medicare' ]}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="medicareTabSet" binding="#{medicareProxyTabSet}" immediate="true"
				tabChangeListener="#{medicareController.medicareTabChangeListener}">
				<ace:tabPane label="#{msgs['button.audit.letter.search.crit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}">
					<f:subview id="searchEditAuditCriteriaView">
						<ui:include src="SearchAuditCriteria.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.add.crit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
					<mbs:panel id="editAuditCriteriaPanel"
						header="#{msgs['header.medicare.audit.criteria.new']} #{medicareController.selectedAuditCriteria.providerNumber == null ? '' : ':'} #{medicareController.selectedAuditCriteria.providerNumber} #{medicareController.selectedAuditCriteria.providerType} #{medicareController.selectedAuditCriteria.providerName}">
						<f:subview id="addNewAuditCriteriaView">
							<ui:include src="EditAuditCriteria.xhtml" />
						</f:subview>
					</mbs:panel>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.crit.response']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}">
					<f:subview id="editAuditLetterRespView">
						<ui:include src="SearchEditMedicareAuditLetterResp.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.hs.description']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}">
					<f:subview id="editHsDescView">
						<ui:include src="EditHealthServiceDescriptions.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.hs.exclusions']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}">
					<f:subview id="editGlobalHsExclusionsView">
						<ui:include src="EditGlobalHsExclusions.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.ind.exclusions']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}">
					<f:subview id="editGlobalIndExclusionsView">
						<ui:include src="EditGlobalIndividualExclusions.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.letter.search.ba.exclusions']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate,Admin-ServiceVerificationInquiry')}">
					<f:subview id="editBAExclusionsView">
						<ui:include src="EditBusinessArrangementExclusions.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>