<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-4" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-5" />

	<mbs:panel header="#{msgs['header.medicare.audit.letter.response.maint.details']}" id="searchEditMedicareALRPanel">
		<!-- Search panel/form -->
		<h:form id="medicareALRSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{medicareController.executeMedicareALRSearch}" key="Enter"/>
		
			<ace:tabSetProxy id="maintainPharmCareAuditResTab" for="#{medicareProxyTabSet.clientId}" />

			<!-- Left side of search form -->
			<h:panelGroup class="col-xs-12 col-sm-6">
				<!-- Audit run number -->
				<mbs:input id="auditRunNumberinputTxt" label="#{msgs['label.audit.letter.response.audit.run.number']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.medicareALRSearchCriteria.auditRunNumber}" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- SE number -->
				<mbs:input id="claimRefNumberinputTxt" label="#{msgs['label.audit.letter.response.se.number']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.medicareALRSearchCriteria.seNumber}" />

				<!-- Seq Number -->
				<mbs:input id="practitionerIDTxt" label="#{msgs['label.audit.letter.response.seq.number']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.medicareALRSearchCriteria.seSequenceNumber}" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Tag -->
				<mbs:input id="tagTxt" label="#{msgs['label.audit.letter.response.tag']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}" value="#{medicareController.medicareALRSearchCriteria.tag}"
					fAttributeName="disableGrouping" fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Practitioner Number -->
				<mbs:input id="practitionerNumberInputTxt" label="#{msgs['common.label.practitioner.id']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}" maxlength="6"
					value="#{medicareController.medicareALRSearchCriteria.practitionerNumber}" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Practitioner Name -->
				<mbs:input id="practitionerNameInputTxt" label="#{msgs['common.label.practitioner.name']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.medicareALRSearchCriteria.practitionerName}" />
					
			</h:panelGroup>

			<!-- Right side of search form -->
			<h:panelGroup class="col-xs-12 col-sm-6">
				<!-- provider type -->
				<mbs:selectOneMenu id="practitionerTypeTxt" label="#{msgs['common.label.subcategory']}"
					value="#{medicareController.medicareALRSearchCriteria.practitionerType}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.subcategoryDropdownItems.entrySet()}" var="item"
						itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
						for="#{medicareController.medicareALRSearchCriteria.practitionerType}" />
				</mbs:selectOneMenu>

				<!-- HCN/Client ID -->
				<mbs:input id="hcnClientIDTxt" label="#{msgs['label.audit.letter.response.client.id']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{medicareController.medicareALRSearchCriteria.hcnClientID}" />

				<!-- Audit Type -->
				<mbs:selectOneMenu id="auditTypeInputTxt" value="#{medicareController.medicareALRSearchCriteria.auditType}"
					label="#{msgs['label.audit.letter.response.type']}" labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.medicareAuditTypes.entrySet()}" var="item" itemLabel="#{item.value}"
						itemValue="#{item.key}" for="#{medicareController.medicareALRSearchCriteria.auditType}" />
				</mbs:selectOneMenu>

				<!-- Response Status -->
				<mbs:selectOneMenu id="responseStatusInputTxt"
					value="#{medicareController.medicareALRSearchCriteria.responseStatus}"
					label="#{msgs['label.audit.letter.response.response.status']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{medicareController.responseStatus.entrySet()}" var="item" itemLabel="#{item.value}"
						itemValue="#{item.key}" for="#{medicareController.medicareALRSearchCriteria.responseStatus}" />
				</mbs:selectOneMenu>

				<!-- Audit from date -->
				<mbs:calendar id="auditFromDate" label="#{msgs['label.audit.letter.response.audit.from.date']}" showOn="both"
					value="#{medicareController.medicareALRSearchCriteria.auditFromDate}" labelStyleClass="#{labelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />

				<!-- Audit to date -->
				<mbs:calendar id="auditToDate" label="#{msgs['label.audit.letter.response.audit.to.date']}" showOn="both"
					value="#{medicareController.medicareALRSearchCriteria.auditToDate}" labelStyleClass="#{labelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />
					
				<!-- JTRAX-59 07-FEB-2017 BCAINNE -->
				<!-- Payment from date -->
				<mbs:calendar id="paymentFromDate" label="#{msgs['label.audit.letter.response.payment.from.date']}" showOn="both"
					value="#{medicareController.medicareALRSearchCriteria.paymentFromDate}" labelStyleClass="#{labelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />

				<!-- Payment to date -->
				<mbs:calendar id="paymentToDate" label="#{msgs['label.audit.letter.response.payment.to.date']}" showOn="both"
					value="#{medicareController.medicareALRSearchCriteria.paymentToDate}" labelStyleClass="#{labelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />
					
					
			</h:panelGroup>

			<!-- Button bar -->
			<mbs:commandButtonBar id="medicareRepSearchBtnPanel">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
					action="#{medicareController.executeMedicareALRSearch}" />
				<mbs:commandButton id="resetSearchBtn" value="#{msgs['button.clear']}"
					action="#{medicareController.executeClearMedicareALRSearch}" immediate="true" type="danger" size="sm">
				</mbs:commandButton>
			</mbs:commandButtonBar>

			<!--  Medicare Audit Letter Responses search results -->
			<h:panelGroup id="medicareALRSearchResults"
				styleClass="#{medicareController.displayALRSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']} : #{medicareController.totalALRRows}" />
					<br />
				</h4>
				<!-- Number of Letters created -->
				<h4>
					<h:outputText rendered="#{medicareController.displayNumberOfLettersCreated}"
						value="#{msgs['label.audit.number.of.letters']} #{medicareController.medicareALRSearchCriteria.auditRunNumber} : #{medicareController.numberOfLettersCreated}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" lazy="true" var="row" paginatorPosition="bottom"
					id="alrSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{medicareController.searchedMedicareALRs}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Practitioner Number -->
					<ace:column id="searchPractitionerNumberCol" headerText="#{msgs['common.label.practitioner.id']}"
						sortBy="#{row.provider_number}">
						<h:outputText value="#{row.provider_number}" />
					</ace:column>

					<!-- provider type -->
					<ace:column id="searchPractitionerTypeCol" headerText="#{msgs['common.label.type']}" sortBy="#{row.provider_type}">
						<h:outputText value="#{row.provider_type}" />
					</ace:column>

					<!-- Practitioner Name col -->
					<ace:column id="searchProviderName" headerText="#{msgs['common.label.practitioner.name']}"
						sortBy="#{row.provider_name}">
						<h:outputText value="#{row.provider_name}" />
					</ace:column>

					<!-- HCN Client ID -->
					<ace:column id="searchClientId" headerText="#{msgs['label.audit.letter.response.client.id']}"
						filterMatchMode="contains" sortBy="#{row.health_card_number}">
						<h:outputText value="#{row.health_card_number}" />
					</ace:column>

					<!-- Audit Type -->
					<ace:column id="searchAuditTypeCol" headerText="#{msgs['label.audit.letter.response.type']}"
						sortBy="#{row.audit_type}">
						<h:outputText value="#{row.audit_type}" />
					</ace:column>

					<!-- Audit Date -->
					<ace:column id="searchAuditDateCol" headerText="#{msgs['label.audit.letter.response.audit.date']}"
						sortBy="#{row.audit_letter_creation_date}">
						<h:outputText value="#{row.audit_letter_creation_date}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Response Status -->
					<ace:column id="searchRespondStatusCol" headerText="#{msgs['label.audit.letter.response.response.status']}"
						sortBy="#{row.response_status_code}">
						<h:outputText value="#{row.response_status_code}" />
					</ace:column>

					<!-- SE Number -->
					<ace:column id="searchSeNumberCol" headerText="#{msgs['header.medicare.audit.letter.response.se.number']}"
						sortBy="#{row.se_number}">
						<h:outputText value="#{row.se_number}" />
					</ace:column>

					<!-- SE Sequence -->
					<ace:column id="seSequenceNumberCol"
						headerText="#{msgs['header.medicare.audit.letter.response.se.sequence.number']}"
						sortBy="#{row.se_sequence_number}">
						<h:outputText value="#{row.se_sequence_number}" />
					</ace:column>

					<!-- Tag -->
					<ace:column id="tagNumberCol" headerText="#{msgs['header.medicare.audit.letter.response.tag.number']}"
						sortBy="#{row.response_tag_number}">
						<h:outputText value="#{row.response_tag_number}" />
					</ace:column>

					<ace:column id="editCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton
								value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
								type="primary" size="xs" action="#{medicareController.executeEditSelectedALR(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Edit selected medicare audit letter responds record panel -->

		<h:form id="medicareALREditForm">
			<h:panelGroup id="medicareALREditWrapper" styleClass="hide-elements">
				<!-- Row 1 for Audit information-->
				<div class="row">
					<!-- Message output -->

					<div class="col-xs-7 col-sm-12">

						<div class="panel panel-primary" id="auditInfoPanel">
							<div class="panel-heading" id="auditInfoHeader">
								<h3 class="panel-title"></h3>
								<div>#{msgs['header.medicare.audit.letter.response.details']}</div>
							</div>
							<div class="panel-body" id="auditInfoWrapper">
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Audit Run Number -->
									<mbs:input label="#{msgs['label.audit.letter.response.audit.run.number']}" id="editAuditRunNumber"
										value="#{medicareController.selectedMCALR.audit_run_number}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider number -->
									<mbs:input label="#{msgs['common.label.practitioner.id']}" id="editProviderNumber"
										value="#{medicareController.selectedMCALR.provider_number}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider Type -->
									<mbs:input label="#{msgs['common.label.subcategory']}" id="editProviderType"
										value="#{medicareController.selectedMCALR.provider_type}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider Name -->
									<mbs:input label="#{msgs['common.label.practitioner.name']}" id="editProviderName"
										value="#{medicareController.selectedMCALR.provider_name}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								</div>
								<!-- second column Information -->
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Audit Type -->
									<mbs:input label="#{msgs['label.audit.letter.response.type']}" id="editAuditType"
										value="#{medicareController.selectedMCALR.audit_type}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- se Selection Date -->
									<mbs:input label="#{msgs['label.audit.letter.response.se.selection.date']}" id="editSeSelectionDate"
										value="#{medicareController.selectedMCALR.se_selection_date}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" disabled="true">
										<f:convertDateTime pattern="#{dateFormat}" for="input" />
									</mbs:input>

									<!-- Response Status -->
									<mbs:selectOneMenu id="editRespondsStatus" value="#{medicareController.selectedMCALR.response_status_code}"
										label="#{msgs['label.audit.letter.response.response.status']}" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:selectItems value="#{medicareController.responseStatus.entrySet()}" var="item" itemLabel="#{item.value}"
											itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" itemValue="#{item.key}"
											for="#{medicareController.selectedMCALR.response_status_code}" />
									</mbs:selectOneMenu>
									<!-- Audit Letter Creation Date -->
									<mbs:input label="#{msgs['label.audit.letter.response.creation.date']}" id="editCreationDate"
										value="#{medicareController.selectedMCALR.audit_letter_creation_date}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" disabled="true">
										<f:convertDateTime pattern="#{dateFormat}" for="input" />
									</mbs:input>

									<!-- Audit Letter Note -->
									<mbs:input label="#{msgs['label.audit.letter.response.note']}" id="editNote" maxlength="150"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{medicareController.selectedMCALR.audit_note}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								</div>
								<!-- Additional Information Part 2 -->
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Chargeback Amount -->
									<mbs:input label="#{msgs['label.audit.letter.response.charge.back.amount']}" id="editChargeBackDate"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{medicareController.selectedMCALR.chargeback_amount}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:converter converterId="currencyConverter" for="input" />
									</mbs:input>
									<!-- nunmber of Times Sent -->
									<mbs:input label="#{msgs['label.audit.letter.response.number.sent']}" id="editNumberOfTimesSent"
										value="#{medicareController.selectedMCALR.number_of_times_sent}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									<!-- # of services Affected -->
									<mbs:input label="#{msgs['label.audit.letter.response.number.claims.affected']}" id="editClaimsAffected"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{medicareController.selectedMCALR.number_of_services_affected}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:converter converterId="integerConverter" for="input" />
									</mbs:input>

									<!-- # Modified by -->
									<mbs:input label="#{msgs['common.label.modified.by']}" id="editModifiedBy"
										value="#{medicareController.selectedMCALR.modified_by}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									<!-- # Last Modifed -->
									<mbs:input label="#{msgs['common.label.last.modified']}" id="editLastModified"
										value="#{medicareController.selectedMCALR.last_modified}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
									</mbs:input>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Row 2 for Service Encounter information -->
				<div class="row">
					<div class="col-xs-7 col-sm-12">
						<div class="panel panel-primary" id="claimInformationPanel">
							<div class="panel-heading" id="claimInformationHeader">
								<h3 class="panel-title"></h3>
								<div>#{msgs['header.medicare.audit.letter.response.service.encounter.information']}</div>
							</div>
							<div class="panel-body" id="claimInformationWrapper">
								<div class="row">
									<div class="col-xs-3 col-sm-4">
										<hr />
										<!-- Se Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.se.number']}" id="editSeNumber"
											value="#{medicareController.selectedMCALR.se_number}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Se Sequence Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.seq.number']}" id="editSeSequenceNumber"
											value="#{medicareController.selectedMCALR.se_sequence_number}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- tag Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.tag']}" id="editTagNumber"
											value="#{medicareController.selectedMCALR.response_tag_number}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />



									</div>
									<div class="col-xs-3 col-sm-4">
										<hr />

										<!-- Healther Card Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.health.card.number']}" id="editHCN"
											value="#{medicareController.selectedMCALR.health_card_number}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Individual name -->
										<mbs:input label="#{msgs['label.audit.letter.response.individual.name']}" id="editIndividualName"
											value="#{medicareController.selectedMCALR.individual_name}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />


										<!-- Health Service Code -->
										<mbs:input label="#{msgs['label.audit.letter.response.health.service.code']}" id="editHSC"
											value="#{medicareController.selectedMCALR.health_service_code}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Service start Date-->
										<mbs:input label="#{msgs['label.audit.letter.response.service.start.date']}" id="editServiceStartDate"
											value="#{medicareController.selectedMCALR.service_start_date}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
											<f:convertDateTime pattern="#{dateFormat}" for="input" />
										</mbs:input>
									</div>
									<div class="col-xs-3 col-sm-4">

										<hr />
										<!-- Fee Paid -->
										<mbs:input label="#{msgs['label.audit.letter.response.fee.paid']}" id="editFeePaid"
											value="#{medicareController.selectedMCALR.payable_amount}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Modifiers -->
										<mbs:input label="#{msgs['label.audit.letter.response.modifiers']}" id="editModifiers"
											value="#{medicareController.selectedMCALR.modifiers}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Implicit Modifiers -->
										<mbs:input label="#{msgs['label.audit.letter.response.implicit.modifiers']}" id="editImplicitModifiers"
											value="#{medicareController.selectedMCALR.implicit_modifiers}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<mbs:commandButtonBar>
					<mbs:commandButton id="saveBtnID" value="#{msgs['button.save']}" type="primary" size="sm"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
						action="#{medicareController.executeSaveMedicareALR}" />
					<mbs:commandButton id="backBtnID" value="#{msgs['common.label.cancel.back.to.search']}" type="danger" size="sm"
						action="#{medicareController.executeReturnToALRSearch}" />
				</mbs:commandButtonBar>
			</h:panelGroup>
		</h:form>
	</mbs:panel>
	<script>
		$(document).ready(function() {
			// Remove the RX option from the Subcategory dropdown
			removeRXSubcategoryOption("editAuditLetterRespView\\:searchEditMedicareALRPanel\\:medicareALRSearchForm\\:practitionerTypeTxt\\:selectOneMenu");
		});
	</script>
</ui:composition>