<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Style parameters -->
	<ui:param name="subFormLabelStyle" value="col-xs-6" />
	<ui:param name="subFormInputStyle" value="col-sm-6" />

	<mbs:panel header="#{msgs['header.inquiry.peergroup.inquiry']}" id="peerInquiryPanel">
		<h:form id="peerGroupSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{inquiryController.executePeerGroupSearch}" key="Enter"/>
		
			<ace:tabSetProxy id="peerGroupInquiryTab" for="#{inquiryProxyTabSet.clientId}" />

			<!-- Year End Date -->
			<mbs:selectOneMenu id="peerGroupYearEndDate" label="#{msgs['common.label.year.end.date']}"
				value="#{inquiryController.selectedYearEndDateString}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{inquiryController.profilePeriodYearEndDates.entrySet()}" var="item" itemLabel="#{item.key}"
					itemValue="#{item.value}" for="#{inquiryController.selectedYearEndDateString}" />
			</mbs:selectOneMenu>

			<!-- Profile Type dropdown -->
			<mbs:selectOneMenu id="peerGroupProfileTypeDrp" label="#{msgs['label.inquiry.profiletype']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.peerGroupSearchCriteria.profileType}">
				<f:selectItems value="#{inquiryController.practitionerTypes}" var="option" itemLabel="#{option.label}"
					itemValue="#{option}" />
			</mbs:selectOneMenu>

			<!-- Subcategory dropdown -->
			<mbs:selectOneMenu id="peerGroupSubcategoryDrp" label="#{msgs['common.label.subcategory']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.peerGroupSearchCriteria.subcategory}">
				<f:selectItems value="#{inquiryController.subcategoryDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
					for="#{inquiryController.peerGroupSearchCriteria.subcategory}" />
			</mbs:selectOneMenu>

			<!-- PeerGroup ID text -->
			<mbs:input id="peerGroupIdTxt" label="#{msgs['common.label.peer.group.id']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{inquiryController.peerGroupSearchCriteria.peerGroupId}" maxlength="6"
				fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- PeerGroup Name text -->
			<mbs:input id="peerGroupNameTxt" label="#{msgs['common.label.peer.group.name']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{inquiryController.peerGroupSearchCriteria.peerGroupName}" maxlength="40" />

			<!-- Period ID text -->
			<mbs:selectOneMenu id="peerGroupPeriodIdDrp" label="#{msgs['common.label.period.id']}"
				value="#{inquiryController.peerGroupSearchCriteria.periodId}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{inquiryController.profilePeriods.entrySet()}" var="item" itemLabel="#{item.key}"
					itemValue="#{item.key}" for="#{inquiryController.peerGroupSearchCriteria.periodId}" />
			</mbs:selectOneMenu>

			<!-- Practitioner ID text -->
			<mbs:input id="peerGroupPractitionerIdTxt" label="#{msgs['common.label.practitioner.id']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.peerGroupSearchCriteria.practitionerId}" maxlength="6" fAttributeName="disableGrouping"
				fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Practitioner Name text -->
			<mbs:input id="peerGroupPractitionerNameTxt" label="#{msgs['common.label.practitioner.name']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.peerGroupSearchCriteria.practitionerName}" maxlength="65" />

			<!-- PeerGroup search buttons -->
			<mbs:commandButtonBar id="peerGroupSearchBtnPanel">
				<mbs:commandButton value="#{msgs['button.search']}" action="#{inquiryController.executePeerGroupSearch}"
					type="primary" size="sm" />
				<mbs:commandButton id="resetPeerGroupSearchBtn" action="#{inquiryController.executeClearPeerGroupSearch}"
					value="#{msgs['button.clear']}" type="danger" size="sm" />
			</mbs:commandButtonBar>

			<!-- Displays PeerGroup search results -->
			<h:panelGroup id="peerGroupSearchResults"
				styleClass="#{inquiryController.displayPeerGroupSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{inquiryController.totalPeerGroups}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" lazy="true" paginatorPosition="bottom" var="row"
					id="peerGroupSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{inquiryController.peerGroupSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- PeerGroup details column -->
					<ace:column id="peerGroupDetailsCol" headerText="#{msgs['common.label.peer.group']}"
						sortBy="#{row.peerGroupID} - #{row.peerGroupName}">
						<h:outputText value="#{row.peerGroupID} - #{row.peerGroupName}" />
					</ace:column>
					<!-- YearEnd column -->
					<ace:column id="yearEndCol" headerText="#{msgs['common.label.year.end.date']}" sortBy="#{row.yearEndDate}">
						<h:outputText value="#{row.yearEndDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>
					<!-- Period ID column -->
					<ace:column id="periodIdCol" headerText="#{msgs['common.label.period.id']}" sortBy="#{row.profilePeriod.periodId}">
						<h:outputText value="#{row.profilePeriod.periodId}" />
					</ace:column>
					<!-- View PeerGroup button column -->
					<ace:column id="viewPeerGroupCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.view']}" type="primary" size="xs"
								action="#{inquiryController.executeViewPeerGroup(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Begin data display for Peer Group -->
		<h:form id="peerGroupInquiryDetailWrapper" styleClass="hide-elements form-horizontal inquiryDetailWrapper">
			<h4>
				<h:outputText
					value="#{msgs['header.inquiry.peergroup']} #{inquiryController.selectedPeerGroup.peerGroupID} - #{inquiryController.selectedPeerGroup.peerGroupName}" />
				<h:outputText rendered="#{inquiryController.peerGroupSearchCriteria.profileType == 'SHADOW'}"
					value="#{msgs['common.label.shadow.ind']}" />
			</h4>
			<!-- Row 1 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">
					<div class="panel panel-primary" id="peerGroupInfoPanel">
						<div class="panel-heading expandDiv" id="peerGroupInfoHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPeerGroupInfo" class="fa fa-minus-circle"></i> #{msgs['header.inquiry.peergroup.info']}
							</div>
						</div>
						<div class="panel-body" id="practitionerInfoWrapper">
							<div class="col-xs-12 col-sm-4">
								<h5>#{msgs['header.inquiry.peergroup.details']}</h5>
								<hr />
								<!-- PeerGroup ID -->
								<mbs:input label="#{msgs['common.label.peer.group']}" id="peerGroupIdName"
									value="#{inquiryController.selectedPeerGroup.peerGroupID} #{inquiryController.selectedPeerGroup.peerGroupName}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}" />
								<!-- PeerGroup Period From -->
								<mbs:input label="#{msgs['label.inquiry.period.from']}" id="peerGroupPeriodFrom"
									value="#{inquiryController.selectedPeerGroup.profilePeriod.periodStartDateString}" displayValidState="false"
									disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								<!-- PeerGroup Period To -->
								<mbs:input label="#{msgs['label.inquiry.period.to']}" id="peerGroupPeriodTo"
									value="#{inquiryController.selectedPeerGroup.profilePeriod.periodEndDateString}" displayValidState="false"
									disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								<!-- Number of Providers Dropped -->
								<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.pract.dropped']}" id="peerGroupProvDropped"
									value="#{inquiryController.selectedPeerGroup.numberOfDroppedPractitionersInGroup}" displayValidState="false"
									disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
							</div>
							<!-- Additional Information -->
							<div class="col-xs-12 col-sm-4">
								<h5>
									<!-- Fake header -->
									<h:outputText value="&#160;" />
								</h5>
								<hr />
								<!-- Number Of Practitioners In Group -->
								<mbs:input label="#{msgs['label.inquiry.number.practitioners.in.group']}" id="numberOfPractitionersInGroup"
									value="#{inquiryController.selectedPeerGroup.numberOfPractitionersInGroup}" displayValidState="false"
									disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
								</mbs:input>
								<!-- Number Of Patients -->
								<mbs:input label="#{msgs['label.inquiry.number.patients']}" id="numberOfPatientsInGroup"
									value="#{inquiryController.selectedPeerGroup.numberOfPatientsInGroup}" displayValidState="false"
									disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
								</mbs:input>
								<!-- Number Of Services -->
								<mbs:input label="#{msgs['label.inquiry.number.services']}" id="numberOfServicesInGroup"
									value="#{inquiryController.selectedPeerGroup.numberOfServices}" displayValidState="false" disabled="true"
									labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
								</mbs:input>
								<!-- Number of Providers used for average -->
								<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.pract.avg']}" id="peerGroupProvForAvg"
									value="#{inquiryController.selectedPeerGroup.numberOfPractitionersUsedForAverage}" displayValidState="false"
									disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
								</mbs:input>
							</div>
							<!-- Additional Information Part 2 -->
							<div class="col-xs-12 col-sm-4">
								<h5>
									<!-- Fake header -->
									<h:outputText value="&#160;" />
								</h5>
								<hr />
								<!-- Total Units -->
								<mbs:input label="#{msgs['label.inquiry.total.unit']}" id="totalUnits"
									value="#{inquiryController.selectedPeerGroup.totalUnits}" displayValidState="false" disabled="true"
									labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
								</mbs:input>
								<!-- Total Amount Paid -->
								<mbs:input label="#{msgs['label.inquiry.total.amount.paid']}" id="totalAmountPaid"
									value="#{inquiryController.selectedPeerGroup.totalAmountPaid}" displayValidState="false" disabled="true"
									labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Services Per Patient -->
								<mbs:input label="#{msgs['label.inquiry.services.per.patient']}" id="servicesPerPatient"
									value="#{inquiryController.selectedPeerGroup.servicesPerPatient}" displayValidState="false" disabled="true"
									labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								<!-- Amount Paid Per Patient -->
								<mbs:input label="#{msgs['label.inquiry.amount.paid.per.patient']}" id="amountPaidPerPatient"
									value="#{inquiryController.selectedPeerGroup.amountPaidPerPatient}" displayValidState="false" disabled="true"
									labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Row 2 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">
					<div class="panel panel-primary" id="peerGroupPaymentPanel">
						<div class="panel-heading expandDiv" id="peerGroupPaymentHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPeerGroupPayment" class="fa fa-plus-circle"></i> #{msgs['header.inquiry.peergroup.payment.info']}
							</div>
						</div>
						<div class="panel-body hide-elements" id="peerGroupPaymentWrapper">
							<div class="row">
								<div class="col-xs-5 col-sm-6">
									<h5>#{msgs['header.inquiry.peergroup.total']}</h5>
									<hr />
									<!-- Group Fee For Service -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.fee']}" id="peerGroupFeeForService"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupTotalFeeForService}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Group Alternate Reimbursement -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.alt']}" id="peerGroupAltReimbursement"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupTotalAlternateReimbursement}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Group Diag Image/Pathology -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.diag']}" id="peerGroupDiagImage"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupTotalDiagnosticImage}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Group Bottom Line Adjustment -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.bottom']}" id="peerGroupBottomLine"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupTotalBottomLineAdj}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<hr />
									<!-- Group Total Payments -->
									<mbs:input label="#{msgs['common.label.total']}" id="practTotalPay"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupTotalPayments}" displayValidState="false"
										disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
								</div>
								<div class="col-xs-5 col-sm-6">
									<h5>#{msgs['header.inquiry.peergroup.average']}</h5>
									<hr />
									<!-- Group Average Fee For Service -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.fee']}" id="peerGroupAvgFeeForService"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupAverageFeeForService}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Group Average Alternate Reimbursement -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.alt']}" id="peerGroupAvgAltReimbursement"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupAverageAlternateReimbursement}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Group Average Diag Image/Pathology -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.diag']}" id="peerGroupAvgDiagImage"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupAverageDiagnosticImage}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Group Average Bottom Line Adjustment -->
									<mbs:input label="#{msgs['label.inquiry.peergroup.details.payment.bottom']}" id="peerGroupAvgBottomLine"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupAverageBottomLineAdj}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<hr />
									<!-- Group Average Total Payments -->
									<mbs:input label="#{msgs['common.label.total']}" id="peerGroupAvgTotalPay"
										value="#{inquiryController.selectedPeerGroup.paymentInformation.groupAverageTotalPayments}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Row 3 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">

					<div class="panel panel-primary" id="peerGroupHealthServicesPanel">
						<div class="panel-heading expandDiv" id="peerGroupHealthServicesHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPeerGroupHealthServices" class="fa fa-plus-circle"></i> #{msgs['header.inquiry.peergroup.hs']}
							</div>
						</div>
						<div class="panel-body hide-elements" id="peerGroupHealthServicesWrapper">
							<ace:dataTable id="peerGroupHSTable" var="row" scrollable="true" scrollHeight="500"
								styleClass="table-horizontal-adjustment" value="#{inquiryController.selectedPeerGroup.healthServiceCodes}"
								emptyMessage="#{msgs['common.label.no.data']}">
								<ace:columnGroup>
									<!-- Top level headers -->
									<ace:row>
										<!-- Health Service header -->
										<ace:column id="pgHealthServiceGroupCol" headerText="#{msgs['label.inquiry.hs.hsgcol.header']}" rowspan="2"
											style="min-width: 320px;" />

										<!-- Number Of Practitioners header -->
										<ace:column id="pgNumOfPractitionersHeader" headerText="Number Of Practitioners" rowspan="2"
											style="min-width: 250px;" />

										<!-- Patient top header -->
										<ace:column id="pgPatientHeader" headerText="#{msgs['label.inquiry.hs.patientcol.header']}" colspan="3"
											style="min-width: 250px;" />

										<!-- Services top header -->
										<ace:column id="pgServicesHeader" headerText="#{msgs['label.inquiry.hs.servicescol.header']}" colspan="3"
											style="min-width: 250px;" />

										<!-- Payments top header -->
										<ace:column id="pgPaymentsHeader" headerText="#{msgs['label.inquiry.hs.paymentscol.header']}" colspan="3"
											style="min-width: 250px;" />

										<!-- % Payments top header -->
										<ace:column id="pgPercentPaymentsHeader" headerText="#{msgs['label.inquiry.hs.percentpaymentcol.header']}"
											colspan="1" style="min-width: 150px;" />

										<!-- Services Per Patient top header -->
										<ace:column id="pgServicesPerPatientHeader" headerText="#{msgs['label.inquiry.hs.servicespercol.header']}"
											colspan="2" style="min-width: 250px;" />

										<!-- Paid Per Patient top header -->
										<ace:column id="pgPaidPerPatientHeader" headerText="#{msgs['label.inquiry.hs.paidpercol.header']}" colspan="2"
											style="min-width: 250px;" />

										<!-- Services Per 100 Patient top header -->
										<ace:column id="pgServicesPerHundPatientHeader"
											headerText="#{msgs['label.inquiry.hs.servicesperhundcol.header']}" colspan="2" style="min-width: 250px;" />

										<!-- Paid Per 100 Patient top header -->
										<ace:column id="pgPaidPerHundPatientHeader" headerText="#{msgs['label.inquiry.hs.paidperhundcol.header']}"
											colspan="2" style="min-width: 250px;" />
									</ace:row>
									<!-- Secondary headers -->
									<ace:row>
										<!-- Patients secondary headers -->
										<ace:column id="paitentTotalHeader" headerText="#{msgs['label.inquiry.hs.total.header']}" />
										<ace:column id="paitentAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="paitentStdDevHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

										<!-- Services secondary headers -->
										<ace:column id="servicesTotalHeader" headerText="#{msgs['label.inquiry.hs.total.header']}" />
										<ace:column id="servicesAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="servicesStdDevHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

										<!-- Payments secondary headers -->
										<ace:column id="paymentsTotalHeader" headerText="#{msgs['label.inquiry.hs.total.header']}" />
										<ace:column id="paymentsAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="paymentsStdDevHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

										<!-- % Payments secondary header -->
										<ace:column id="percentPaymentsAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />

										<!-- Services Per Patient secondary headers -->
										<ace:column id="servicesPerPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="servicesPerPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

										<!-- Paid Per Patient secondary headers -->
										<ace:column id="paidPerPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="paidPerPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

										<!-- Services Per 100 Patient secondary headers -->
										<ace:column id="servicesPerHundPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="servicesPerHundPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

										<!-- Paid Per 100 Patient secondary headers -->
										<ace:column id="paidPerHundPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
										<ace:column id="paidPerHundPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />
									</ace:row>
									<!-- Fixed row that displays column totals -->
									<ace:row id="totalsRow">
										<!-- Total row name col -->
										<ace:column styleClass="sub-header">
											<h:outputText value="#{msgs['label.inquiry.hs.total.header.caps']}" />
										</ace:column>

										<!-- Number of Providers total col -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPractitionersTotal}" />
										</ace:column>

										<!-- Patients total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPatientsTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPatientsAvgTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPatientStdTotal}" />
										</ace:column>

										<!-- Services total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesAvgTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesStdTotal}" />
										</ace:column>

										<!-- Payments total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paymentsTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paymentsAvgTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paymentsStdTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>

										<!-- Percentage Payments total col -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="% #{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.percentagePaymentsAvgTotal}" />
										</ace:column>

										<!-- Services Per Patient total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPerPatientAvgTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPerPatientStdTotal}" />
										</ace:column>

										<!-- Paid Per Patient total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paidPerPatientAvgTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paidPerPatientStdTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>

										<!-- Services Per 100 Patients total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPer100PatientAvgTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPer100PatientStdTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>

										<!-- Paid Per 100 Patients total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paidPer100PatientAvgTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPeerGroup.healthServiceCriteriaTotals.paidPer100PatientStdTotal}">
												<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="2" />
											</h:outputText>
										</ace:column>
									</ace:row>
								</ace:columnGroup>

								<!-- Data display begins-->
								<!-- Health Service Group column -->
								<ace:column id="pgHsGroupCol">
									<h:outputText value="#{row.healthServiceGroupName}" />
								</ace:column>

								<!-- Number Of Practitioners column -->
								<ace:column id="pgHsNumOfPractitionerCol">
									<h:outputText value="#{row.numberOfPractitioners}" />
								</ace:column>

								<!-- Patient columns -->
								<ace:column id="patientTotalCol">
									<h:outputText value="#{row.numberOfPatients}" />
								</ace:column>
								<ace:column id="patientAvgCol">
									<h:outputText value="#{row.averageNumberOfPatients}" />
								</ace:column>
								<ace:column id="patientStdCol">
									<h:outputText value="#{row.standardNumberOfPatientDeviation}" />
								</ace:column>

								<!-- Services columns -->
								<ace:column id="servicesTotalCol">
									<h:outputText value="#{row.numberOfServices}" />
								</ace:column>
								<ace:column id="servicesAvgCol">
									<h:outputText value="#{row.averageNumberOfServices}" />
								</ace:column>
								<ace:column id="servicesStdCol">
									<h:outputText value="#{row.standardNumberOfServicesDeviation}" />
								</ace:column>

								<!-- Payments columns -->
								<ace:column id="paymentsTotalCol">
									<h:outputText value="#{row.totalAmountPaid}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>
								<ace:column id="paymentsAvgCol">
									<h:outputText value="#{row.averageAmountPaid}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>
								<ace:column id="paymentsStdCol">
									<h:outputText value="#{row.standardAmountPaidDeviation}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>

								<!-- % Payments column -->
								<ace:column id="percentPaymentsAvgCol">
									<h:outputText value="% #{row.averagePercentagePayment}" />
								</ace:column>

								<!-- Services per Patient columns -->
								<ace:column id="servicesPerPatientAvgCol">
									<h:outputText value="#{row.averageServicesPerPatient}" />
								</ace:column>
								<ace:column id="servicesPerPatientStdCol">
									<h:outputText value="#{row.standardServicesPerPatientDeviation}" />
								</ace:column>

								<!-- Paid per Patient columns -->
								<ace:column id="paidPerPatientAvgCol">
									<h:outputText value="#{row.averageAmountPaidPerPatient}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>
								<ace:column id="paidPerPatientStdCol">
									<h:outputText value="#{row.standardAmountPaidPerPatientDeviation}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>

								<!-- Services per 100 Patients columns -->
								<ace:column id="servicesPerHundPatientAvgCol">
									<h:outputText value="#{row.averageNumberOfServicesPer100}" />
								</ace:column>
								<ace:column id="servicesPerHundPatientStdCol">
									<h:outputText value="#{row.standardNumberOfServicesPer100Deviation}" />
								</ace:column>

								<!-- Paid per 100 Patient columns -->
								<ace:column id="paidPerHundPatientAvgCol">
									<h:outputText value="#{row.averageAmountPaidPer100}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>
								<ace:column id="paidPerHundPatientStdCol">
									<h:outputText value="#{row.standardAmountPaidPer100Deviation}">
										<f:convertNumber currencySymbol="$" groupingUsed="true" type="currency" maxFractionDigits="0" />
									</h:outputText>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</div>
			</div>
			<mbs:commandButtonBar>
				<mbs:commandButton value="#{msgs['common.label.return.to.search']}" type="danger" size="sm"
					action="#{inquiryController.executeReturnToPeerGroupSearch}" />
				<!-- Print link -->
				<h:outputLink styleClass="mbs-btn btn btn-primary btn-inline btn-sm link-button"
					onclick="window.open('#{facesContext.externalContext.requestContextPath}/pages/audit/OutlierIdentification/Inquiry/PeerGroupInquiryPrinterFriendly.html')"
					value="#">
					<h:outputText value="#{msgs['button.download.print.summary']}" />
				</h:outputLink>
			</mbs:commandButtonBar>
		</h:form>
	</mbs:panel>
	<script>
		$(document).ready(function() {
			// Remove Select... from peerGroupProfileTypeDrp DDLB
			removeSelectOption("peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupSearchForm\\:peerGroupProfileTypeDrp\\:selectOneMenu");

			// Remove the RX option from the Subcategory dropdown
			removeRXSubcategoryOption("peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupSearchForm\\:peerGroupSubcategoryDrp\\:selectOneMenu");

			// Toggle the PeerGroup Info panel
			$("#peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupInquiryDetailWrapper\\:peerGroupInfoHeader").click(function() {
				togglePeerGroupInquiryInformationPanel();
			});

			// Toggle the PeerGroup Payment Info panel
			$("#peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupInquiryDetailWrapper\\:peerGroupPaymentHeader").click(function() {
				togglePeerGroupInquiryPaymentInformationPanel();
			});

			// Toggle the PeerGroup HealthServices panel
			$("#peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupInquiryDetailWrapper\\:peerGroupHealthServicesHeader").click(function() {
				togglePeerGroupInquiryHealthServicesPanel();
			});

			// Assists in reseting the PeerGroup search form
			$("#peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupSearchForm\\:peerGroupSearchBtnPanel\\:resetPeerGroupSearchBtn\\:commandButton").click(function() {
				resetForm("peerGroupInquiryView\\:peerInquiryPanel\\:peerGroupSearchForm");
			});
		});
	</script>
</ui:composition>