<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	template="/pages/nspp-template-no-menu.xhtml" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="content">
		<div id="mainContent" class="printView">
			<h:form>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<table class="printFriendlyTableWithCellSpacing">
							<tr>
								<td><h:outputText value="#{printFriendlyController.currentDateTime}" /></td>
								<td></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['common.label.practitioner']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.practitionerNumber} #{printFriendlyController.selectedPractitioner.practitionerType}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['common.label.name']}" /></td>
								<td><h:outputText value="#{msgs['common.label.dr']} #{printFriendlyController.selectedPractitioner.practitionerName}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.practitioner.gender']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPractitioner.gender}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['common.label.birth.date']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPractitioner.birthDateString}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.practitioner.opt.in']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPractitioner.optInDateString}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.practitioner.opt.out']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPractitioner.optOutDateString}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['common.label.address']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.addressLine1}, 
							#{printFriendlyController.selectedPractitioner.addressLine2}, 
							#{printFriendlyController.selectedPractitioner.city}, 
							#{printFriendlyController.selectedPractitioner.postalCode}" /></td>
							</tr>
						</table>
					</div>

					<div class="col-xs-12 col-sm-4">

						<table class="printFriendlyTableWithCellSpacing">
							<tr>
								<td><h:outputText value="#{msgs['label.print.msi.practitioner.profile']}" /></td>
							</tr>
							<tr>
								<td><h:outputText
										value="#{msgs['common.label.from']}: #{printFriendlyController.selectedPractitioner.peerGroup.profilePeriod.periodStartDateString} #{msgs['common.label.to']}: #{printFriendlyController.selectedPractitioner.peerGroup.profilePeriod.periodEndDateString}" /></td>
							</tr>
							<tr>
								<td><h:outputText
										value="#{msgs['common.label.peer.group']}: #{printFriendlyController.selectedPractitioner.peerGroup.peerGroupName}" /></td>
							</tr>
							<tr>
								<td><h:outputText rendered="#{printFriendlyController.selectedPractitioner.shadowBillingIndicator == 'Y'}"
										value="#{msgs['label.print.shadow.billing']}" /></td>
							</tr>
						</table>

					</div>

					<div class="col-xs-12 col-sm-3">
						<table class="printFriendlyTableWithCellSpacing">
							<tr>
								<td><h:outputText value="#{msgs['common.label.peer.group.id']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPractitioner.peerGroup.peerGroupID}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.practitioner.group']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.peerGroup.numberOfPractitionersInGroup}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.practitioner.dropped']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.peerGroup.numberOfDroppedPractitionersInGroup}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.practitioner.avg']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.peerGroup.numberOfPractitionersUsedForAvgCalc}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" />
									</h:outputText></td>
							</tr>
						</table>
					</div>
				</div>

				<br />
				<h:outputText value="#{msgs['label.print.summary.info']}" />
				<hr />

				<div class="row">
					<div class="col-xs-4 col-sm-4 col-lg-4">

						<table class="printFriendlyTableWithCellSpacing">
							<tr>
								<td><h:outputText value="#{msgs['label.print.payments']}" /></td>
								<td><h:outputText value="#{msgs['header.inquiry.practitioner.total']}" /></td>
								<td><h:outputText value="#{msgs['header.inquiry.practitioner.group.average']}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.payment.practitioner.fee']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.practitionerFeeForService}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.groupAverageFeeForService}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.payment.practitioner.alt']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.practitionerAlternateReimbursement}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.groupAverageAlternateReimbursement}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.payment.practitioner.diag']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.practitionerDiagnosticImage}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.groupAverageDiagnosticImage}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.practitioner.details.payment.practitioner.bottom']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.practitionerBottomLineAdj}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.groupAverageBottomLineAdj}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['header.inquiry.practitioner.total.payments']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.practitionerTotalPayments}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPractitioner.paymentInformation.groupAverageTotalPayments}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>
						</table>
					</div>

					<div class="col-xs-5 col-sm-5 col-lg-5">

						<h:outputText value="#{msgs['label.print.age.dist']}" />
						<br /> <br />

						<ace:dataTable id="printAgeDistTable" var="row" emptyMessage="#{msgs['common.label.no.data']}"
							styleClass="printFriendlyTable"
							value="#{printFriendlyController.selectedPractitioner.ageDistribution.entrySet().toArray()}">

							<!-- Age column -->
							<ace:column id="ageCol" headerText="#{msgs['label.inquiry.practitioner.details.agecol.header']}">
								<h:outputText value="#{row.value.ageBracket}" />
							</ace:column>
							<ace:column style="width:20%" id="practitionerAvgCol" headerText="#{msgs['common.label.practitioner']}">
								<h:outputText value="#{row.value.practitionerAverage}" />
							</ace:column>
							<ace:column id="groupAvgCol" headerText="#{msgs['label.inquiry.practitioner.details.groupavgcol.header']}">
								<h:outputText value="#{row.value.groupAverage}" />
							</ace:column>
						</ace:dataTable>
					</div>
				</div>

				<br />
				<h:outputText value="#{msgs['label.print.hs.performed']}" />
				<hr />

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-lg-12">

						<ace:dataTable id="healthServicesTable" value="#{printFriendlyController.selectedPractitioner.healthServiceCodes}"
							var="row" emptyMessage="#{msgs['common.label.no.data']}" styleClass="printFriendlyTable">

							<ace:columnGroup>
								<!-- Top level headers -->
								<ace:row>
									<!-- Health Service header -->
									<ace:column id="healthServiceGroupCol" headerText="#{msgs['label.inquiry.hs.hsgcol.header']}" rowspan="2" />

									<!-- Patient top header -->
									<ace:column id="patientHeader" headerText="#{msgs['label.inquiry.hs.patientcol.header']}" colspan="2" />

									<!-- Services top header -->
									<ace:column id="servicesHeader" headerText="#{msgs['label.inquiry.hs.servicescol.header']}" colspan="2" />

									<!-- Payments top header -->
									<ace:column id="paymentsHeader" headerText="#{msgs['label.inquiry.hs.paymentscol.header']}" colspan="2" />

									<!-- % Payments top header -->
									<ace:column id="percentPaymentsHeader" headerText="#{msgs['label.inquiry.hs.percentpaymentcol.header']}"
										colspan="2" />

									<!-- Services Per Patient top header -->
									<ace:column id="servicesPerPatientHeader" headerText="#{msgs['label.inquiry.hs.servicespercol.header']}"
										colspan="2" />

									<!-- Paid Per Patient top header -->
									<ace:column id="paidPerPatientHeader" headerText="#{msgs['label.inquiry.hs.paidpercol.header']}" colspan="2" />

									<!-- Services Per 100 Patient top header -->
									<ace:column id="servicesPerHundPatientHeader"
										headerText="#{msgs['label.inquiry.hs.servicesperhundcol.header']}" colspan="2" />

									<!-- Paid Per 100 Patient top header -->
									<ace:column id="paidPerHundPatientHeader" headerText="#{msgs['label.inquiry.hs.paidperhundcol.header']}"
										colspan="2" />
								</ace:row>
								<!-- Secondary headers -->
								<ace:row>
									<!-- Patient secondary headers -->
									<ace:column id="paitentPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="patientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- Services secondary headers -->
									<ace:column id="servicesPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="servicesIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- Payments secondary headers -->
									<ace:column id="paymentsPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="paymentsIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- % Payments secondary headers -->
									<ace:column id="percentPaymentsPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="percentPaymentsIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- Services Per Patient secondary headers -->
									<ace:column id="servicesPerPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="servicesPerPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- Paid Per Patient secondary headers -->
									<ace:column id="paidPerPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="paidPerPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- Services Per 100 Patient secondary headers -->
									<ace:column id="servicesPerHundPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="servicesPerHundPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

									<!-- Paid Per 100 Patient secondary headers -->
									<ace:column id="paidPerHundPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
									<ace:column id="paidPerHundPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />
								</ace:row>

								<!-- Fixed row that displays column totals -->
								<ace:row id="totalsRow">
									<!-- Total row name col -->
									<ace:column styleClass="sub-header">
										<h:outputText value="#{msgs['label.inquiry.hs.total.header.caps']}" />
									</ace:column>

									<!-- Patients total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.patientPractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.patientIndexTotal}" />
									</ace:column>

									<!-- Services total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.servicesPractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.servicesIndexTotal}" />
									</ace:column>

									<!-- Payments total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.paymentsPractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.paymentsIndexTotal}" />
									</ace:column>

									<!-- Percentage Payments total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.percentPaymentsPractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.percentPaymentsIndexTotal}" />
									</ace:column>

									<!-- Service Per Patient total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.servicesPerPractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.servicesPerIndexTotal}" />
									</ace:column>

									<!-- Paid Per Patient total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.paidPerPatientPractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.paidPerPatientIndexTotal}" />
									</ace:column>

									<!-- Services Per 100 Patients total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.servicesPer100PractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.servicesPer100IndexTotal}" />
									</ace:column>

									<!-- Paid Per 100 Patients total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.paidPer100PractitionerTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPractitioner.healthServiceCriteriaTotals.paidPer100IndexTotal}" />
									</ace:column>
								</ace:row>
							</ace:columnGroup>

							<!-- Data display begins -->
							<!-- Health Service Group column -->
							<ace:column id="hsGroupCol">
								<h:outputText value="#{row.healthServiceGroupName}" />
							</ace:column>
							<!-- Patient columns -->
							<ace:column id="patientPractitionerCol">
								<h:outputText value="#{row.numberOfPatients}" />
							</ace:column>
							<ace:column id="patientIndexCol">
								<h:outputText value="#{row.numberOfPatientsIndex}" />
							</ace:column>

							<!-- Services columns -->
							<ace:column id="servicesPractitionerCol">
								<h:outputText value="#{row.numberOfServices}" />
							</ace:column>
							<ace:column id="servicesIndexCol">
								<h:outputText value="#{row.numberOfServicesIndex}" />
							</ace:column>

							<!-- Payments columns -->
							<ace:column id="paymentsPractitionerCol">
								<h:outputText value="#{row.totalAmountPaid}" />
							</ace:column>
							<ace:column id="paymentsIndexCol">
								<h:outputText value="#{row.totalAmountPaidIndex}" />
							</ace:column>

							<!-- % Payments columns -->
							<ace:column id="percentPaymentsPractitionerCol">
								<h:outputText value="#{row.percentagePayment}" />
							</ace:column>
							<ace:column id="percentPaymentsIndexCol">
								<h:outputText value="#{row.percentagePaymentIndex}" />
							</ace:column>

							<!-- Services Per Patient columns -->
							<ace:column id="servicePerPatientPractitionerCol">
								<h:outputText value="#{row.servicesPerPatient}" />
							</ace:column>
							<ace:column id="servicePerPatientIndexCol">
								<h:outputText value="#{row.servicesPerPatientIndex}" />
							</ace:column>

							<!-- Paid Per Patient columns -->
							<ace:column id="paidPerPatientPractitionerCol">
								<h:outputText value="#{row.amountPaidPerPatient}" />
							</ace:column>
							<ace:column id="paidPerPatientIndexCol">
								<h:outputText value="#{row.amountPaidPerPatientIndex}" />
							</ace:column>

							<!-- Services Per 100 Patient columns -->
							<ace:column id="servicePerHundPatientPractitionerCol">
								<h:outputText value="#{row.numberOfServicesPer100}" />
							</ace:column>
							<ace:column id="servicePerHundPatientIndexCol">
								<h:outputText value="#{row.numberOfServicesPer100Index}" />
							</ace:column>

							<!-- Paid Per 100 Patient columns -->
							<ace:column id="paidPerHundPatientPractitionerCol">
								<h:outputText value="#{row.amountPaidPer100}" />
							</ace:column>
							<ace:column id="paidPerHundPatientIndexCol">
								<h:outputText value="#{row.amountPaidPer100Index}" />
							</ace:column>
						</ace:dataTable>
					</div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>