<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Style parameters -->
	<ui:param name="subFormLabelStyle" value="col-xs-6" />
	<ui:param name="subFormInputStyle" value="col-sm-6" />

	<mbs:panel header="#{msgs['header.inquiry.practitioner.inquiry']}" id="practitionerInquiryPanel">
		<h:form id="practitionerSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{inquiryController.executePractitionerSearch}" key="Enter"/>
		
			<ace:tabSetProxy id="practitionerInquiryTab" for="#{inquiryProxyTabSet.clientId}" />

			<!-- Year End Date -->
			<mbs:selectOneMenu id="practitionerYearEndDate" label="#{msgs['common.label.year.end.date']}"
				value="#{inquiryController.selectedYearEndDateString}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{inquiryController.profilePeriodYearEndDates.entrySet()}" var="item" itemLabel="#{item.key}"
					itemValue="#{item.value}" for="#{inquiryController.selectedYearEndDateString}" />
			</mbs:selectOneMenu>

			<!-- Profile Type dropdown -->
			<mbs:selectOneMenu id="practitionerProfileTypeDrp" label="#{msgs['label.inquiry.profiletype']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.practitionerSearchCriteria.profileType}">
				<f:selectItems value="#{inquiryController.practitionerTypes}" var="option" itemLabel="#{option.label}"
					itemValue="#{option}" />
			</mbs:selectOneMenu>

			<!-- Subcategory dropdown -->
			<mbs:selectOneMenu id="practitionerSubcategoryDrp" label="#{msgs['common.label.subcategory']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.practitionerSearchCriteria.subcategory}">
				<f:selectItems value="#{inquiryController.subcategoryDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
					for="#{inquiryController.practitionerSearchCriteria.subcategory}" />
			</mbs:selectOneMenu>

			<!-- Practitioner ID text -->
			<mbs:input id="practitionerProviderIdTxt" label="#{msgs['common.label.practitioner.id']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}" maxlength="6"
				value="#{inquiryController.practitionerSearchCriteria.practitionerNumber}" />

			<!-- Practitioner Name text -->
			<mbs:input id="practitionerProviderNameTxt" label="#{msgs['common.label.practitioner.name']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.practitionerSearchCriteria.practitionerName}" maxlength="65" />

			<!-- Period ID text -->
			<mbs:selectOneMenu id="peerGroupPeriodIdDrp" label="#{msgs['common.label.period.id']}"
				value="#{inquiryController.practitionerSearchCriteria.periodId}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{inquiryController.profilePeriods.entrySet()}" var="item" itemLabel="#{item.key}"
					itemValue="#{item.key}" for="#{inquiryController.practitionerSearchCriteria.periodId}" />
			</mbs:selectOneMenu>

			<!-- PeerGroup ID text -->
			<mbs:input id="practitionerGroupIdTxt" label="#{msgs['common.label.peer.group.id']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{inquiryController.practitionerSearchCriteria.peerGroupId}"
				fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- PeerGroup Name text -->
			<mbs:input id="practitionerGroupNameTxt" label="#{msgs['common.label.peer.group.name']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{inquiryController.practitionerSearchCriteria.peerGroupName}" maxlength="40" />

			<!-- Practitioner search buttons -->
			<mbs:commandButtonBar id="practitionerSearchBtnPanel">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary"
					action="#{inquiryController.executePractitionerSearch}" size="sm" />
				<mbs:commandButton id="resetPractitionerSearchBtn" value="#{msgs['button.clear']}"
					action="#{inquiryController.executeClearPractitionerSearch}" type="danger" size="sm" />
			</mbs:commandButtonBar>

			<!-- Displays Practitioner search results -->
			<h:panelGroup id="practitionerSearchResults"
				styleClass="#{inquiryController.displayPractitionerSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{inquiryController.totalPractitioners}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" lazy="true" paginatorPosition="bottom" var="row"
					id="practitionerSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{inquiryController.practitionerSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- PeerGroup detail column -->
					<ace:column id="peerGroupDetailsCol" headerText="#{msgs['common.label.peer.group']}"
						sortBy="#{row.peerGroup.peerGroupID} - #{row.peerGroup.peerGroupName}">
						<h:outputText value="#{row.peerGroup.peerGroupID} - #{row.peerGroup.peerGroupName}" />
					</ace:column>
					<!-- Practitioner details column -->
					<ace:column id="practitionerDetailsCol" headerText="#{msgs['common.label.practitioner']}"
						sortBy="#{row.practitionerNumber} #{row.practitionerType} - #{row.practitionerName}">
						<h:outputText value="#{row.practitionerNumber} #{row.practitionerType} - #{row.practitionerName}" />
					</ace:column>
					<!-- Year End Date column -->
					<ace:column id="yearEndDateCol" headerText="#{msgs['common.label.year.end.date']}"
						sortBy="#{row.peerGroup.yearEndDate}">
						<h:outputText value="#{row.peerGroup.yearEndDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>
					<!-- Period ID column -->
					<ace:column id="periodIdCol" headerText="#{msgs['common.label.period.id']}"
						sortBy="#{row.peerGroup.profilePeriod.periodId}">
						<h:outputText value="#{row.peerGroup.profilePeriod.periodId}" />
					</ace:column>
					<!-- View Practitioner button column -->
					<ace:column id="viewPractitionerCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.view']}" type="primary" size="xs"
								action="#{inquiryController.executeViewPractitioner(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Begin data display for Practitioner -->
		<h:form id="practitionerInquiryDetailWrapper" styleClass="hide-elements form-horizontal inquiryDetailWrapper">
			<h4>
				<h:outputText
					value="#{msgs['header.inquiry.practitioner.details']} #{inquiryController.selectedPractitioner.practitionerNumber} #{inquiryController.selectedPractitioner.practitionerType} - #{inquiryController.selectedPractitioner.practitionerName}" />
				<h:outputText rendered="#{inquiryController.practitionerSearchCriteria.profileType == 'SHADOW'}"
					value="#{msgs['common.label.shadow.ind']}" />
			</h4>
			<!-- Row 1 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">
					<div class="panel panel-primary" id="practitionerInfoPanel">
						<div class="panel-heading expandDiv" id="practitionerInfoHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPractitionerInfo" class="fa fa-minus-circle"></i> #{msgs['header.inquiry.practitioner.info']}
							</div>
						</div>
						<div class="panel-body" id="practitionerInfoWrapper">
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<h5>#{msgs['header.inquiry.practitioner.peergroup.details']}</h5>
									<hr />
									<!-- Peer Group ID -->
									<mbs:input id="peerGroupId" label="#{msgs['common.label.peer.group.id']}"
										value="#{inquiryController.selectedPractitioner.peerGroup.peerGroupID}" displayValidState="false"
										disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Peer Group name -->
									<mbs:input id="peerGroupName" label="#{msgs['common.label.peer.group.name']}"
										value="#{inquiryController.selectedPractitioner.peerGroup.peerGroupName}" displayValidState="false"
										disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Period from -->
									<mbs:input label="#{msgs['label.inquiry.period.from']}" id="periodFromDate"
										value="#{inquiryController.selectedPractitioner.peerGroup.profilePeriod.periodStartDateString}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}" />
									<!-- Period To -->
									<mbs:input label="#{msgs['label.inquiry.period.to']}" id="periodToDate"
										value="#{inquiryController.selectedPractitioner.peerGroup.profilePeriod.periodEndDateString}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}" />
									<!-- Year End Date -->
									<mbs:input label="#{msgs['common.label.year.end.date']}" id="periodYearEndDate"
										value="#{inquiryController.selectedPractitioner.peerGroup.yearEndDateString}" displayValidState="false"
										disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Number of Practitioners in Group -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.practitioner.group']}" id="practitionersInGroup"
										value="#{inquiryController.selectedPractitioner.peerGroup.numberOfPractitionersInGroup}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
									<!-- Number of Practitioners Dropped -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.practitioner.dropped']}" id="practitionersDropped"
										value="#{inquiryController.selectedPractitioner.peerGroup.numberOfDroppedPractitionersInGroup}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
									<!-- Number of Practitioners Used For average Calculation -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.practitioner.avg']}"
										id="practitionersUsedForAvgCalc"
										value="#{inquiryController.selectedPractitioner.peerGroup.numberOfPractitionersUsedForAvgCalc}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
								</div>
								<div class="col-xs-12 col-sm-4">
									<h5>#{msgs['header.inquiry.practitioner.det']}</h5>
									<hr />
									<!-- Practitioner ID -->
									<mbs:input label="#{msgs['common.label.practitioner.id']}" id="practitionerId"
										value="#{inquiryController.selectedPractitioner.practitionerNumber}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Practitioner Type -->
									<mbs:input label="#{msgs['common.label.subcategory']}" id="practitionerType"
										value="#{inquiryController.selectedPractitioner.practitionerType}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Practitioner Name -->
									<mbs:input label="#{msgs['common.label.practitioner.name']}" id="practitionerName"
										value="#{inquiryController.selectedPractitioner.practitionerName}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Practitioner Gender -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.practitioner.gender']}" id="practitionerGender"
										value="#{inquiryController.selectedPractitioner.gender}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Practitioner Birth date -->
									<mbs:input label="#{msgs['common.label.birth.date']}" id="practitionerBirthDate"
										value="#{inquiryController.selectedPractitioner.birthDateString}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Practitioner Opt-in date -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.practitioner.opt.in']}" id="practitionerOptInDate"
										value="#{inquiryController.selectedPractitioner.optInDateString}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Practitioner Opt-out date -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.practitioner.opt.out']}"
										id="practitionerOptOutDate" value="#{inquiryController.selectedPractitioner.optOutDateString}"
										displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}" />
								</div>
								<div class="col-xs-12 col-sm-4">
									<h5>
										<!-- Fake header -->
										<h:outputText value="&#160;" />
									</h5>
									<hr />
									<!-- Number Of Patients -->
									<mbs:input label="#{msgs['label.inquiry.number.patients']}" id="numberOfPatients"
										value="#{inquiryController.selectedPractitioner.numberOfPatients}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
									<!-- Number Of Services -->
									<mbs:input label="#{msgs['label.inquiry.number.services']}" id="numberOfServices"
										value="#{inquiryController.selectedPractitioner.numberOfServices}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
									<!-- Total Units -->
									<mbs:input label="#{msgs['label.inquiry.total.unit']}" id="totalUnits"
										value="#{inquiryController.selectedPractitioner.totalUnits}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
									<!-- Total Amount Paid -->
									<mbs:input label="#{msgs['label.inquiry.total.amount.paid']}" id="totalAmountPaid"
										value="#{inquiryController.selectedPractitioner.totalAmountPaid}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
									<!-- Services Per Patient -->
									<mbs:input label="#{msgs['label.inquiry.services.per.patient']}" id="servicesPerPatient"
										value="#{inquiryController.selectedPractitioner.servicesPerPatient}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" for="input" />
									</mbs:input>
									<!-- Amount Paid Per Patient -->
									<mbs:input label="#{msgs['label.inquiry.amount.paid.per.patient']}" id="amountPaidPerPatient"
										value="#{inquiryController.selectedPractitioner.amountPaidPerPatient}" displayValidState="false"
										disabled="true" labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
									</mbs:input>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8">
									<h5>#{msgs['header.inquiry.practitioner.address.details']}</h5>
									<hr />
									<!-- Address Line 1 -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.address.one']}" id="practitionerAddressOne"
										value="#{inquiryController.selectedPractitioner.addressLine1}" displayValidState="false" disabled="true"
										labelStyleClass="col-xs-2" inputStyleClass="#{subFormInputStyle}" />
									<!-- Address Line 2 -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.address.two']}" id="practitionerAddressTwo"
										value="#{inquiryController.selectedPractitioner.addressLine2}" displayValidState="false" disabled="true"
										labelStyleClass="col-xs-2" inputStyleClass="#{subFormInputStyle}" />
									<!-- City -->
									<mbs:input label="#{msgs['common.label.city']}" id="practitionerCity"
										value="#{inquiryController.selectedPractitioner.city}" displayValidState="false" disabled="true"
										labelStyleClass="col-xs-2" inputStyleClass="#{subFormInputStyle}" />
									<!-- Postal Code -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.postal.code']}" id="practitionerPostalCode"
										value="#{inquiryController.selectedPractitioner.postalCode}" displayValidState="false" disabled="true"
										labelStyleClass="col-xs-2" inputStyleClass="#{subFormInputStyle}" />
									<!-- Country -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.county']}" id="practitionerCountry"
										value="#{inquiryController.selectedPractitioner.country}" displayValidState="false" disabled="true"
										labelStyleClass="col-xs-2" inputStyleClass="#{subFormInputStyle}" />
									<!-- Province Code -->
									<mbs:input label="#{msgs['label.inquiry.practitioner.details.province']}" id="practitionerProvinceCode"
										value="#{inquiryController.selectedPractitioner.provinceCode}" displayValidState="false" disabled="true"
										labelStyleClass="col-xs-2" inputStyleClass="#{subFormInputStyle}" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 2 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">
					<div class="panel panel-primary" id="practitionerPaymentInfoPanel">
						<div class="panel-heading expandDiv" id="practitionerPaymentInfoHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPractitionerPaymentInfo" class="fa fa-plus-circle"></i>
								#{msgs['header.inquiry.practitioner.payment.info']}
							</div>
						</div>
						<div class="panel-body hide-elements" id="practitionerPaymentInfoWrapper">
							<div class="col-xs-5 col-sm-6">
								<h5>#{msgs['header.inquiry.practitioner.total']}</h5>
								<hr />
								<!-- Practitioner Fee For Service -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.practitioner.fee']}"
									id="practFeeForService"
									value="#{inquiryController.selectedPractitioner.paymentInformation.practitionerFeeForService}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Practitioner Alternate Reimbursement -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.practitioner.alt']}"
									id="practAltReimbursement"
									value="#{inquiryController.selectedPractitioner.paymentInformation.practitionerAlternateReimbursement}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Practitioner Diag Image/Pathology -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.practitioner.diag']}" id="practDiagImage"
									value="#{inquiryController.selectedPractitioner.paymentInformation.practitionerDiagnosticImage}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Practitioner Bottom Line Adjustment -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.practitioner.bottom']}"
									id="practBottomLine"
									value="#{inquiryController.selectedPractitioner.paymentInformation.practitionerBottomLineAdj}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<hr />
								<!-- Practitioner Total Payments -->
								<mbs:input label="#{msgs['common.label.total']}" id="practTotalPay"
									value="#{inquiryController.selectedPractitioner.paymentInformation.practitionerTotalPayments}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
							</div>
							<div class="col-xs-5 col-sm-6">
								<h5>#{msgs['header.inquiry.practitioner.group.average']}</h5>
								<hr />
								<!-- Group Fee For Service -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.group.fee']}" id="groupFeeForService"
									value="#{inquiryController.selectedPractitioner.paymentInformation.groupAverageFeeForService}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Group Alternate Reimbursement -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.group.alt']}" id="groupAltReimbursement"
									value="#{inquiryController.selectedPractitioner.paymentInformation.groupAverageAlternateReimbursement}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Group Diag Image/Pathology -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.group.diag']}" id="groupDiagImage"
									value="#{inquiryController.selectedPractitioner.paymentInformation.groupAverageDiagnosticImage}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<!-- Group Bottom Line Adjustment -->
								<mbs:input label="#{msgs['label.inquiry.practitioner.details.payment.group.bottom']}" id="groupBottomLine"
									value="#{inquiryController.selectedPractitioner.paymentInformation.groupAverageBottomLineAdj}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
								<hr />
								<!-- Group Average Total Payments -->
								<mbs:input label="#{msgs['common.label.total']}" id="groupTotalPay"
									value="#{inquiryController.selectedPractitioner.paymentInformation.groupAverageTotalPayments}"
									displayValidState="false" disabled="true" labelStyleClass="#{subFormLabelStyle}"
									inputStyleClass="#{subFormInputStyle}">
									<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
								</mbs:input>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Row 3 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">
					<div class="panel panel-primary" id="practitionerAgeDistPanel">
						<div class="panel-heading expandDiv" id="practitionerAgeDistHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPractitionerAgeDist" class="fa fa-plus-circle"></i> #{msgs['header.inquiry.practitioner.age.dist']}
							</div>
						</div>
						<div class="panel-body hide-elements" id="practitionerAgeDistWrapper">
							<ace:dataTable id="ageDistTable" var="row" emptyMessage="#{msgs['common.label.no.data']}"
								styleClass="table-horizontal-adjustment"
								value="#{inquiryController.selectedPractitioner.ageDistribution.entrySet().toArray()}">

								<!-- Age column -->
								<ace:column id="ageCol" headerText="#{msgs['label.inquiry.practitioner.details.agecol.header']}">
									<h:outputText value="#{row.value.ageBracket}" />
								</ace:column>
								<ace:column id="practitionerAvgCol" headerText="#{msgs['common.label.practitioner']}">
									<h:outputText value="#{row.value.practitionerAverage}" />
								</ace:column>
								<ace:column id="groupAvgCol" headerText="#{msgs['label.inquiry.practitioner.details.groupavgcol.header']}">
									<h:outputText value="#{row.value.groupAverage}" />
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</div>
			</div>

			<!-- Row 4 -->
			<div class="row">
				<div class="col-xs-7 col-sm-12">
					<div class="panel panel-primary" id="practitionerHSPanel">
						<div class="panel-heading expandDiv" id="practitionerHSHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandPractitionerHS" class="fa fa-plus-circle"></i> #{msgs['header.inquiry.practitioner.hs']}
							</div>
						</div>
						<div class="panel-body hide-elements" id="practitionerHSWrapper">
							<ace:dataTable id="healthServicesTable" value="#{inquiryController.selectedPractitioner.healthServiceCodes}"
								var="row" selectionMode="single" scrollable="true" scrollHeight="500"
								emptyMessage="#{msgs['common.label.no.data']}" styleClass="table-horizontal-adjustment">

								<ace:ajax event="cellDblClick" listener="#{inquiryController.executeHealthServiceCodeDrillDown(row)}" />

								<ace:columnGroup>
									<!-- Top level headers -->
									<ace:row>
										<!-- Health Service header -->
										<ace:column id="healthServiceGroupCol" headerText="#{msgs['label.inquiry.hs.hsgcol.header']}" rowspan="2"
											style="min-width: 320px;" />

										<!-- Patient top header -->
										<ace:column id="patientHeader" headerText="#{msgs['label.inquiry.hs.patientcol.header']}" colspan="2"
											style="min-width: 250px;" />

										<!-- Services top header -->
										<ace:column id="servicesHeader" headerText="#{msgs['label.inquiry.hs.servicescol.header']}" colspan="2"
											style="min-width: 250px;" />

										<!-- Payments top header -->
										<ace:column id="paymentsHeader" headerText="#{msgs['label.inquiry.hs.paymentscol.header']}" colspan="2"
											style="min-width: 250px;" />

										<!-- % Payments top header -->
										<ace:column id="percentPaymentsHeader" headerText="#{msgs['label.inquiry.hs.percentpaymentcol.header']}"
											colspan="2" style="min-width: 250px;" />

										<!-- Services Per Patient top header -->
										<ace:column id="servicesPerPatientHeader" headerText="#{msgs['label.inquiry.hs.servicespercol.header']}"
											colspan="2" style="min-width: 250px;" />

										<!-- Paid Per Patient top header -->
										<ace:column id="paidPerPatientHeader" headerText="#{msgs['label.inquiry.hs.paidpercol.header']}" colspan="2"
											style="min-width: 250px;" />

										<!-- Services Per 100 Patient top header -->
										<ace:column id="servicesPerHundPatientHeader"
											headerText="#{msgs['label.inquiry.hs.servicesperhundcol.header']}" colspan="2" style="min-width: 200px;" />

										<!-- Paid Per 100 Patient top header -->
										<ace:column id="paidPerHundPatientHeader" headerText="#{msgs['label.inquiry.hs.paidperhundcol.header']}"
											colspan="2" style="min-width: 250px;" />
									</ace:row>
									<!-- Secondary headers -->
									<ace:row>
										<!-- Patient secondary headers -->
										<ace:column id="paitentPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="patientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- Services secondary headers -->
										<ace:column id="servicesPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="servicesIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- Payments secondary headers -->
										<ace:column id="paymentsPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="paymentsIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- % Payments secondary headers -->
										<ace:column id="percentPaymentsPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="percentPaymentsIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- Services Per Patient secondary headers -->
										<ace:column id="servicesPerPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="servicesPerPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- Paid Per Patient secondary headers -->
										<ace:column id="paidPerPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="paidPerPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- Services Per 100 Patient secondary headers -->
										<ace:column id="servicesPerHundPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="servicesPerHundPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />

										<!-- Paid Per 100 Patient secondary headers -->
										<ace:column id="paidPerHundPatientPractitionerHeader" headerText="#{msgs['common.label.practitioner']}" />
										<ace:column id="paidPerHundPatientIndexHeader" headerText="#{msgs['label.inquiry.hs.index.header']}" />
									</ace:row>

									<!-- Fixed row that displays column totals -->
									<ace:row id="totalsRow">
										<!-- Total row name col -->
										<ace:column styleClass="sub-header">
											<h:outputText value="#{msgs['label.inquiry.hs.total.header.caps']}" />
										</ace:column>

										<!-- Patients total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.patientPractitionerTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.patientIndexTotal}" />
										</ace:column>

										<!-- Services total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.servicesPractitionerTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.servicesIndexTotal}" />
										</ace:column>

										<!-- Payments total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.paymentsPractitionerTotal}">
												<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.paymentsIndexTotal}">
												<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
											</h:outputText>
										</ace:column>

										<!-- Percentage Payments total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="% #{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.percentPaymentsPractitionerTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="% #{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.percentPaymentsIndexTotal}" />
										</ace:column>

										<!-- Service Per Patient total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.servicesPerPractitionerTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.servicesPerIndexTotal}" />
										</ace:column>

										<!-- Paid Per Patient total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.paidPerPatientPractitionerTotal}">
												<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.paidPerPatientIndexTotal}">
												<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
											</h:outputText>
										</ace:column>

										<!-- Services Per 100 Patients total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.servicesPer100PractitionerTotal}" />
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.servicesPer100IndexTotal}" />
										</ace:column>

										<!-- Paid Per 100 Patients total cols -->
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.paidPer100PractitionerTotal}">
												<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
											</h:outputText>
										</ace:column>
										<ace:column styleClass="sub-header">
											<h:outputText
												value="#{inquiryController.selectedPractitioner.healthServiceCriteriaTotals.paidPer100IndexTotal}">
												<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
											</h:outputText>
										</ace:column>
									</ace:row>
								</ace:columnGroup>

								<!-- Data display begins -->
								<!-- Health Service Group column -->
								<ace:column id="hsGroupCol">
									<h:outputText value="#{row.healthServiceGroupName}" />
								</ace:column>
								<!-- Patient columns -->
								<ace:column id="patientPractitionerCol">
									<h:outputText value="#{row.numberOfPatients}" />
								</ace:column>
								<ace:column id="patientIndexCol">
									<h:outputText value="#{row.numberOfPatientsIndex}" />
								</ace:column>

								<!-- Services columns -->
								<ace:column id="servicesPractitionerCol">
									<h:outputText value="#{row.numberOfServices}" />
								</ace:column>
								<ace:column id="servicesIndexCol">
									<h:outputText value="#{row.numberOfServicesIndex}" />
								</ace:column>

								<!-- Payments columns -->
								<ace:column id="paymentsPractitionerCol">
									<h:outputText value="#{row.totalAmountPaid}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText>
								</ace:column>
								<ace:column id="paymentsIndexCol">
									<h:outputText value="#{row.totalAmountPaidIndex}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText>
								</ace:column>

								<!-- % Payments columns -->
								<ace:column id="percentPaymentsPractitionerCol">
									<h:outputText value="% #{row.percentagePayment}" />
								</ace:column>
								<ace:column id="percentPaymentsIndexCol">
									<h:outputText value="% #{row.percentagePaymentIndex}" />
								</ace:column>

								<!-- Services Per Patient columns -->
								<ace:column id="servicePerPatientPractitionerCol">
									<h:outputText value="#{row.servicesPerPatient}" />
								</ace:column>
								<ace:column id="servicePerPatientIndexCol">
									<h:outputText value="#{row.servicesPerPatientIndex}" />
								</ace:column>

								<!-- Paid Per Patient columns -->
								<ace:column id="paidPerPatientPractitionerCol">
									<h:outputText value="#{row.amountPaidPerPatient}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText>
								</ace:column>
								<ace:column id="paidPerPatientIndexCol">
									<h:outputText value="#{row.amountPaidPerPatientIndex}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText>
								</ace:column>

								<!-- Services Per 100 Patient columns -->
								<ace:column id="servicePerHundPatientPractitionerCol">
									<h:outputText value="#{row.numberOfServicesPer100}" />
								</ace:column>
								<ace:column id="servicePerHundPatientIndexCol">
									<h:outputText value="#{row.numberOfServicesPer100Index}" />
								</ace:column>

								<!-- Paid Per 100 Patient columns -->
								<ace:column id="paidPerHundPatientPractitionerCol">
									<h:outputText value="#{row.amountPaidPer100}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText>
								</ace:column>
								<ace:column id="paidPerHundPatientIndexCol">
									<h:outputText value="#{row.amountPaidPer100Index}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</div>
			</div>
			<mbs:commandButtonBar>
				<mbs:commandButton value="#{msgs['common.label.return.to.search']}" type="danger" size="sm"
					action="#{inquiryController.executeReturnToPractitionerSearch}" />
				<!-- Print link -->
				<h:outputLink styleClass="mbs-btn btn btn-primary btn-inline btn-sm link-button"
					onclick="window.open('#{facesContext.externalContext.requestContextPath}/pages/audit/OutlierIdentification/Inquiry/PractitionerInquiryPrinterFriendly.html')"
					value="#">
					<h:outputText value="#{msgs['button.download.print.summary']}" />
				</h:outputLink>
			</mbs:commandButtonBar>
		</h:form>

		<!-- Pop up window that display HealthServiceCode drill down -->
		<h:form id="healthServiceCodeDrillDownForm">
			<mbs:popup id="healthServiceCodeDrillDownPopup" title="#{msgs['header.inquiry.practitioner.drilldown']}"
				visible="#{inquiryController.displayHealthServiceCodeDrillDown}" size="lg"
				closeButtonAction="#{inquiryController.closeHealthServiceCodeDrillDown}">
				<ace:dataTable value="#{inquiryController.drillDownHealthServiceCodes}" styleClass="table-horizontal-adjustment"
					var="row" paginator="true" emptyMessage="#{msgs['common.label.no.data']}" paginatorPosition="bottom" rows="5">
					<!-- Headers -->
					<ace:columnGroup>
						<ace:row>
							<ace:column headerText="#{msgs['common.label.hsc']}" rowspan="3" sortBy="#{row.healthServiceCode}" />
							<ace:column headerText="#{msgs['common.label.effective.from']}" sortBy="#{row.effectiveFrom}" />
							<ace:column headerText="#{msgs['label.inquiry.practitioner.drilldown.num.patients']}"
								sortBy="#{row.numberOfPatients}" />
							<ace:column headerText="#{msgs['label.inquiry.total.unit']}" sortBy="#{row.totalUnits}" />
							<ace:column headerText="#{msgs['label.inquiry.practitioner.drilldown.num.services.per100']}"
								sortBy="#{row.numberOfServicesPer100}" />
							<ace:column headerText="#{msgs['common.label.description']}" sortBy="#{row.description}" />
						</ace:row>
						<ace:row>
							<ace:column headerText="#{msgs['common.label.effective.to']}" rowspan="2" sortBy="#{row.effectiveTo}" />
							<ace:column headerText="#{msgs['label.inquiry.practitioner.drilldown.num.services']}" rowspan="2"
								sortBy="#{row.numberOfServices}" />
							<ace:column headerText="#{msgs['label.inquiry.total.amount.paid']}" rowspan="2" sortBy="#{row.totalAmountPaid}" />
							<ace:column headerText="#{msgs['label.inquiry.practitioner.drilldown.paid.per100']}" rowspan="2"
								sortBy="#{row.amountPaidPer100}" />
							<ace:column headerText="#{msgs['common.label.modifiers']}" sortBy="#{row.modifiers}" />
						</ace:row>
						<ace:row>
							<ace:column headerText="#{msgs['common.label.implicit.modifiers']}" sortBy="#{row.implicitModifiers}" />
						</ace:row>
					</ace:columnGroup>

					<!-- Data display begins -->
					<ace:column>
						<h:outputText value="#{row.healthServiceCode}" />
					</ace:column>

					<ace:column>
						<h:outputText value="#{row.effectiveFrom}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>
					<ace:column stacked="true" rowspan="2">
						<h:outputText value="#{row.effectiveTo}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<ace:column>
						<h:outputText value="#{row.numberOfPatients}" />
					</ace:column>
					<ace:column stacked="true" rowspan="2">
						<h:outputText value="#{row.numberOfServices}" />
					</ace:column>

					<ace:column>
						<h:outputText value="#{row.totalUnits}" />
					</ace:column>
					<ace:column stacked="true" rowspan="2">
						<h:outputText value="#{row.totalAmountPaid}">
							<f:convertNumber groupingUsed="true" currencySymbol="$" type="currency" />
						</h:outputText>
					</ace:column>

					<ace:column>
						<h:outputText value="#{row.numberOfServicesPer100}" />
					</ace:column>
					<ace:column stacked="true" rowspan="2">
						<h:outputText value="#{row.amountPaidPer100}">
							<f:convertNumber groupingUsed="true" currencySymbol="$" type="currency" />
						</h:outputText>
					</ace:column>

					<ace:column>
						<h:outputText value="#{row.description}" />
					</ace:column>
					<ace:column stacked="true">
						<h:outputText value="#{row.modifiers}" />
					</ace:column>
					<ace:column stacked="true">
						<h:outputText value="#{row.implicitModifiers}" />
					</ace:column>
				</ace:dataTable>
			</mbs:popup>
		</h:form>

	</mbs:panel>
	<script>
		$(document).ready(function() {
			// Remove Select... from practitionerProfileTypeDrp DDLB
			removeSelectOption("practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerSearchForm\\:practitionerProfileTypeDrp\\:selectOneMenu");
			// Remove the RX option from the Subcategory dropdown
			removeRXSubcategoryOption("practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerSearchForm\\:practitionerSubcategoryDrp\\:selectOneMenu");

			//Expand Practitioner Information panel
			$("#practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerInquiryDetailWrapper\\:practitionerInfoHeader").click(function() {
				expandPractitionerInformationPanel();
			});
			//Expand Payment Information panel
			$("#practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerInquiryDetailWrapper\\:practitionerPaymentInfoHeader").click(function() {
				expandPractitionerPaymentInfoPanel();
			});
			//Expand Age Distribution panel
			$("#practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerInquiryDetailWrapper\\:practitionerAgeDistHeader").click(function() {
				expandPractitionerAgeDistributionPanel();
			});
			//Expand Health Services panel
			$("#practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerInquiryDetailWrapper\\:practitionerHSHeader").click(function() {
				expandPractitionerHealthServicesPanel();
			});
			// Assists in reseting the Practitioner search form
			$("#practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerSearchForm\\:practitionerSearchBtnPanel\\:resetPractitionerSearchBtn\\:commandButton").click(function() {
				resetForm("practitionerInquiryView\\:practitionerInquiryPanel\\:practitionerSearchForm");
			});
		});
	</script>
</ui:composition>