<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Finance-ManualDepositsInquiry,Finance-ManualDepositsUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['menu.accounting']}" />
	<ui:param name="page" value="AccountingIndex" />
	<ui:param name="menuId" value="manualdeposits.inquiry" />

	<!-- Style parameters -->
	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['menu.accounting']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="accountingTabSet" immediate="true"
				tabChangeListener="#{manualDepositsController.accountingTabChangeListener}" binding="#{accountingProxyTabSet}">
				<ace:tabPane label="#{msgs['label.manualDeposits.depositSearchEdit']}" id="searchTab"
					disabled="#{!roleBasedAccessSupport.hasRole('Finance-ManualDepositsInquiry,Finance-ManualDepositsUpdate')}">
					<f:subview id="editManualDepositsView">
						<ui:include src="ManualDepositsSearch.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['label.manualDeposits.createDeposit']}" id="createTab"
					disabled="#{!roleBasedAccessSupport.hasRole('Finance-ManualDepositsUpdate')}">
					<f:subview id="createManualDepositsView">
						<ui:include src="CreateManualDeposit.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>