<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-AuditResultsInquiry,Admin-AuditResultsUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.audit.Result']}" />
	<ui:param name="page" value="PractitionerAuditIndex" />
	<ui:param name="menuId" value="title.audit.Result" />

	<!-- Style parameters -->
	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />

	<ui:param name="inputStyle2" value="col-sm-1" />
	<ui:param name="labelStyle2" value="col-xs-1" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.Result']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="auditResultTabSet" binding="#{auditResultProxyTabSet}" immediate="true"
				tabChangeListener="#{auditResultController.auditResultTabChangeListener}">
				<ace:tabPane label="#{msgs['button.auditResult.PractitionerAudit.tab.search.edit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-AuditResultsInquiry,Admin-AuditResultsUpdate')}">
					<f:subview id="editAuditResultsView">
						<ui:include src="AuditResultInquiry.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.auditResult.PractitionerAudit.tab.builkCopy']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-AuditResultsUpdate')}">
					<f:subview id="bulkAuditResultsView">
						<ui:include src="AuditResultBulkCopy.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>